Repository moby/buildkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/testing, area/api, area/remotecache, area/client, area/llb, area/buildctl, area/buildkitd, area/cdi, area/dependencies, area/docs, area/dockerfile, area/dockerfile/checks, area/examples, area/executor, area/exporter, area/frontend, area/hack, area/session, area/solver, area/source, area/sourcepolicy, area/util, area/worker

Dockerfile: update containerd v1 binary to v1.7.28
  Dockerfile
Labels: none

ci: use ubuntu-22.04 runners
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci

vendor: github.com/docker/go-connections v0.6.0
  go.mod
  go.sum
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/parse.go
  vendor/modules.txt
Labels: area/dependencies

Using --oci-worker-no-process-sandbox is discouraged
  README.md
Labels: none

Using --oci-worker-no-process-sandbox is discouraged
  docs/images-readme.md
Labels: area/docs

debug: allow debug from remote cache config
  cache/remotecache/v1/cachestorage.go
  cmd/buildkitd/debug.go
  util/cachedigest/digest.go
  util/cachestore/store.go
Labels: area/remotecache, area/buildkitd, area/util

use output specific digest in boltdb debug
  solver/bboltcachestorage/storage.go
Labels: area/solver

debug: combine links from parents intead of children
  cmd/buildkitd/debug.go
  util/cachedigest/db_test.go
  util/cachestore/store.go
Labels: area/testing, area/buildkitd, area/util

[cache] Fix descriptor duplication in getAvailableBlobs
  cache/remote.go
Labels: none

replace github.com/hashicorp/go-multierror with errors.Join
  cache/refs.go
  cmd/buildctl/prunehistories.go
  cmd/buildkitd/main.go
  control/control.go
  go.mod
  snapshot/diffapply_linux.go
  util/tracing/multi_span_exporter.go
  worker/base/worker.go
  worker/workercontroller.go
Labels: area/buildctl, area/buildkitd, area/dependencies, area/solver, area/util, area/worker

cache: add cache debug plaintext for image manifest and http
  source/containerimage/pull.go
  source/http/source.go
Labels: area/source

frontend/dockerfile: fork nat.ParsePortSpecs
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile2llb/convert_expose_test.go
Labels: area/testing, area/dockerfile, area/frontend

frontend/dockerfile: fix linting issues
  frontend/dockerfile/dockerfile2llb/convert_expose.go
Labels: area/dockerfile, area/frontend

frontend/dockerfile: parsePortSpecs: simplify
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile2llb/convert_expose_test.go
Labels: area/testing, area/dockerfile, area/frontend

frontend/dockerfile: parsePortSpec: remove unused code
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile2llb/convert_expose_test.go
  go.mod
  go.sum
  vendor/github.com/docker/go-connections/LICENSE
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/parse.go
  vendor/github.com/docker/go-connections/nat/sort.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/dockerfile, area/frontend

frontend/dockerfile: inline validateProto
  frontend/dockerfile/dockerfile2llb/convert_expose.go
Labels: area/dockerfile, area/frontend

frontent/dockerfile: apply improvements from go-connections
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile2llb/convert_expose_test.go
Labels: area/testing, area/dockerfile, area/frontend

vendor: go.etcd.io/bbolt v1.4.2
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/bolt_386.go
  vendor/go.etcd.io/bbolt/bolt_aix.go
  vendor/go.etcd.io/bbolt/bolt_amd64.go
  vendor/go.etcd.io/bbolt/bolt_android.go
  vendor/go.etcd.io/bbolt/bolt_arm.go
  vendor/go.etcd.io/bbolt/bolt_arm64.go
  vendor/go.etcd.io/bbolt/bolt_loong64.go
  vendor/go.etcd.io/bbolt/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/bolt_ppc.go
  vendor/go.etcd.io/bbolt/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/bolt_riscv64.go
  vendor/go.etcd.io/bbolt/bolt_s390x.go
  vendor/go.etcd.io/bbolt/bolt_solaris.go
  vendor/go.etcd.io/bbolt/bolt_unix.go
  vendor/go.etcd.io/bbolt/bolt_windows.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_386.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_amd64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_arm.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_arm64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_loong64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_ppc.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_riscv64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_s390x.go
  vendor/go.etcd.io/bbolt/internal/common/types.go
  vendor/go.etcd.io/bbolt/internal/common/unsafe.go
  vendor/go.etcd.io/bbolt/tx.go
  vendor/modules.txt
Labels: area/dependencies

dockerfile: rule check for protocol casing in EXPOSE instruction
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile2llb/convert_expose_test.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/expose-proto-casing.md
  frontend/dockerfile/linter/docs/ExposeProtoCasing.md
  frontend/dockerfile/linter/ruleset.go
Labels: area/testing, area/docs, area/dockerfile, area/frontend

dockerfile: rule check for ip or host-port mapping in EXPOSE instruction
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/expose-invalid-format.md
  frontend/dockerfile/linter/docs/ExposeInvalidFormat.md
  frontend/dockerfile/linter/ruleset.go
Labels: area/testing, area/docs, area/dockerfile, area/frontend

remotecache: fix provencnce image indexes lookup
  solver/exporter.go
  solver/llbsolver/provenance.go
  solver/types.go
Labels: area/solver

remotecache: refactor to new cache export interface
  cache/remotecache/v1/cachestorage.go
  cache/remotecache/v1/chains.go
  cache/remotecache/v1/chains_test.go
  cache/remotecache/v1/parse.go
  cache/remotecache/v1/utils.go
  go.mod
  solver/exporter.go
  solver/llbsolver/provenance.go
  solver/scheduler_test.go
  solver/types.go
Labels: area/testing, area/remotecache, area/dependencies, area/solver

remotecache: fix backlinks carry from remote source
  solver/exporter.go
  solver/scheduler_test.go
Labels: area/testing, area/solver

remotecache: fix remote selector candidates matching
  cache/remotecache/v1/chains.go
  solver/scheduler_test.go
Labels: area/testing, area/remotecache, area/solver

remotecache: pass deschandlers to cache export
  solver/edge.go
  solver/exporter.go
  solver/jobs.go
Labels: area/solver

remotecache: add merge keys for loops
  cache/remotecache/v1/chains.go
Labels: area/remotecache

remotecache: use bestResult to determine what result to export
  cache/remotecache/v1/utils.go
Labels: area/remotecache

remotecache: only load desc handlers if not set
  solver/exporter.go
Labels: area/solver

hack: use bake to build buildkit images
  .github/workflows/buildkit.yml
  Makefile
  docker-bake.hcl
  hack/images
Labels: area/ci, area/hack

Delete api directory
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_bench_test.go
  api/services/control/control_grpc.pb.go
  api/services/control/control_vtproto.pb.go
  api/types/worker.pb.go
  api/types/worker.proto
  api/types/worker_vtproto.pb.go
Labels: area/testing, area/api

Delete PROJECT.md
  PROJECT.md
Labels: none

.github/labeler.yml:

# Add 'project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "LICENSE"
              - "AUTHORS"
              - "MAINTAINERS"
              - "PROJECT.md"
              - "README.md"
              - ".gitignore"
              - "codecov.yml"
              - ".dockerignore"
              - "docker-bake.hcl"
              - "Dockerfile"
              - "Makefile"
          - all-globs-to-all-files: "!.github/workflows/*"

# Add 'ci' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

# Add 'tests' label to changes in test files
area/testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - "**/*_test.go"

# area:api
area/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

# area:storage
area/storage:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - "cache/**"
              - "snapshot/**"
          - all-globs-to-all-files: "!cache/remotecache/**"

# area:remotecache
area/remotecache:
  - changed-files:
      - any-glob-to-any-file: "cache/remotecache/**"

# area:client
area/client:
  - changed-files:
      - any-glob-to-any-file: "client/**"

# area:llb
area/llb:
  - changed-files:
      - any-glob-to-any-file: "client/llb/**"

# area:buildctl
area/buildctl:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildctl/**"

# area:buildkitd
area/buildkitd:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildkitd/**"

# area:cdi
area/cdi:
  - changed-files:
      - any-glob-to-any-file:
          - "contrib/cdisetup/**"
          - "docs/cdi.md"
          - "solver/llbsolver/cdidevices/**"

# area:dependencies
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "vendor/**"
          - "tools/**"

# area:docs
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "frontend/dockerfile/docs/**"

# area:dockerfile
area/dockerfile:
  - changed-files:
      - any-glob-to-any-file: "frontend/dockerfile/**"

# area:dockerfile/checks
area/dockerfile/checks:
  - changed-files:
      - any-glob-to-any-file:
          - "frontend/dockerfile/linter"
          - "frontend/dockerfile/subrequests/lint"

# area:examples
area/examples:
  - changed-files:
      - any-glob-to-any-file: "examples/**"

# area:executor
area/executor:
  - changed-files:
      - any-glob-to-any-file: "executor/**"

# area:exporter
area/exporter:
  - changed-files:
      - any-glob-to-any-file: "exporter/**"

# area:frontend
area/frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

# area:hack
area/hack:
  - changed-files:
      - any-glob-to-any-file:
          - "hack/**"
          - "frontend/dockerfile/cmd/dockerfile-frontend/hack/**"

# area:session
area/session:
  - changed-files:
      - any-glob-to-any-file: "session/**"

# area:solver
area/solver:
  - changed-files:
      - any-glob-to-any-file:
          - "control/**"
          - "solver/**"

# area:source
area/source:
  - changed-files:
      - any-glob-to-any-file: "source/**"

# area:sourcepolicy
area/sourcepolicy:
  - changed-files:
      - any-glob-to-any-file: "sourcepolicy/**"

# area:util
area/util:
  - changed-files:
      - any-glob-to-any-file: "util/**"

# area:worker
area/worker:
  - changed-files:
      - any-glob-to-any-file: "worker/**"

# area:windows
area/windows:
  - all:
      - changed-files:
          - any-glob-to-any-file: "**/*_windows.go"
          - all-globs-to-all-files: "!vendor/**/*_windows.go"
