Repository moby/buildkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/testing, area/api, area/remotecache, area/client, area/llb, area/buildctl, area/buildkitd, area/cdi, area/dependencies, area/docs, area/dockerfile, area/dockerfile/checks, area/examples, area/executor, area/exporter, area/frontend, area/hack, area/session, area/solver, area/source, area/sourcepolicy, area/util, area/worker

[okteto] custom changes
  .stignore
  Dockerfile
  auth/auth.go
  client/client.go
  cmd/buildctl/common/common.go
  cmd/buildctl/main.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main.go
  go.mod
  go.sum
  okteto.yml
  okteto/keepalive.go
  okteto/keepalive_test.go
  util/resolver/authorizer.go
  util/resolver/authorizer_test.go
Labels: area/testing, area/client, area/buildctl, area/buildkitd, area/dependencies, area/util

Create settings.json
  .vscode/settings.json
Labels: none

fix: display error details on unexpected response status code errors
  exporter/containerimage/export.go
  session/auth/authprovider/authprovider.go
  util/errutil/errutil.go
  util/resolver/authorizer.go
Labels: area/exporter, area/session, area/util

buildkitd: add cache store debugging endpoints
  cmd/buildkitd/debug.go
  cmd/buildkitd/main.go
  solver/bboltcachestorage/storage.go
  solver/cachemanager.go
  util/cachedigest/digest.go
  util/cachedigest/frame.go
  util/cachestore/store.go
Labels: area/buildkitd, area/solver, area/util

Bump go to 1.24.4
  go.mod
Labels: area/dependencies

cachedigest: rename array types to list
  solver/llbsolver/ops/file.go
  solver/llbsolver/ops/opsutils/contenthash.go
  util/cachedigest/db_test.go
  util/cachedigest/digest.go
Labels: area/testing, area/solver, area/util

use output specific digest in boltdb debug
  solver/bboltcachestorage/storage.go
Labels: area/solver

debug: allow debug from remote cache config
  cache/remotecache/v1/cachestorage.go
  cmd/buildkitd/debug.go
  util/cachedigest/digest.go
  util/cachestore/store.go
Labels: area/remotecache, area/buildkitd, area/util

debug: combine links from parents intead of children
  cmd/buildkitd/debug.go
  util/cachedigest/db_test.go
  util/cachestore/store.go
Labels: area/testing, area/buildkitd, area/util

Add custom capabilities setting to registry config
  util/resolver/config/config.go
  util/resolver/resolver.go
  util/resolver/resolver_test.go
Labels: area/testing, area/util

use ubuntu base for buildkit image
  Dockerfile
  docker-bake.hcl
Labels: none

ci: publish both ubuntu and alpine variants
  .github/workflows/buildkit.yml
  hack/images
Labels: area/ci, area/hack

ci: publish nvidia tag variant for ubuntu
  .github/workflows/buildkit.yml
  hack/images
Labels: area/ci, area/hack

buildkitd: handle device insecure entitlement
  cmd/buildctl/build.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main.go
  docs/buildkitd.toml.md
  docs/reference/buildctl.md
Labels: area/buildctl, area/buildkitd, area/docs

testutil: update docker daemon config struct
  util/testutil/dockerd/config.go
  util/testutil/workers/dockerd.go
Labels: area/util

docs: cdi autoallow and device entitlement
  frontend/dockerfile/docs/reference.md
Labels: area/docs, area/dockerfile, area/frontend

Add a test case to exercise the fact that parallel export in different image formats generated different metadata.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/solver

Use the same ExporterResponse type for cache exporter responses
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/api, area/client, area/solver

Add support for disambiguating multiple responses for cache exporters by adding IDs similar to output exporters.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  exporter/exporter.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/exporter, area/session, area/solver

Fix infinite loop in cache loop detection algorithm
  cache/remotecache/v1/utils.go
Labels: area/remotecache

fix: display error details on unexpected response status code errors
  exporter/containerimage/export.go
  session/auth/authprovider/authprovider.go
  util/errutil/errutil.go
  util/resolver/authorizer.go
Labels: area/exporter, area/session, area/util

fix: tests: skip flaky integration tests on Windows
  client/client_test.go
  frontend/dockerfile/dockerfile_mount_test.go
Labels: area/testing, area/client, area/dockerfile, area/frontend

Fix regex logic for SecretsUsedInArgOrEnv to match comment and test
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_test.go
Labels: area/testing, area/dockerfile, area/frontend

fix: tests: skip flaky integration tests on Windows
  client/client_test.go
  frontend/dockerfile/dockerfile_mount_test.go
Labels: area/testing, area/client, area/dockerfile, area/frontend

[cache] Fix descriptor duplication in getAvailableBlobs
  cache/remote.go
Labels: none

executor/oci: add fork of moby resolvconf (does not compile)
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_path.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/testdata/.gitattributes
  executor/oci/internal/resolvconf/testdata/TestRCInvalidNS.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCSetHeader.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv6_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCUnknownDirectives.golden
Labels: area/testing, area/executor

executor/oci: resolvconf: rewrite tests using testify
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/utils_test.go
Labels: area/testing, area/executor

executor/oci: resolvconf: use buildkit errdefs
  executor/oci/internal/resolvconf/resolvconf.go
Labels: area/executor

executor/oci: use fork of libnetwork/resolvconf
  executor/oci/resolvconf.go
  go.mod
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf.go
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf_path.go
  vendor/github.com/docker/docker/libnetwork/resolvconf/resolvconf.go
  vendor/modules.txt
Labels: area/dependencies, area/executor

executor/oci: resolvconf: remove unused code
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  go.mod
  go.sum
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/executor

util/estargz: simplify implementation and define consts for labels
  util/estargz/labels.go
Labels: area/util

util/estargz: export labels and use consts
  cache/refs.go
  cmd/buildkitd/main_oci_worker.go
  util/estargz/labels.go
Labels: area/buildkitd, area/util

fix: corrected doc comment for llb.State.Env
  client/llb/state.go
Labels: area/client, area/llb

Fix xattr copy failures on SELinux systems
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/exec_binfmt_test.go
Labels: area/testing, area/solver

exporter/containerimage: remove unused EnableForceCompression
  exporter/containerimage/opts.go
Labels: area/exporter

exporter/containerimage: default to oci-mediatype=true
  exporter/containerimage/export.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
Labels: area/exporter

exporter/containerimage: remove unnecessary errors.Errorf
  exporter/containerimage/writer.go
Labels: area/exporter

exporter/containerimage: parse oci-mediatypes=bool strictly
  exporter/containerimage/opts.go
Labels: area/exporter

exporter/containerimage: document "oci-artifact=" values
  exporter/containerimage/exptypes/keys.go
Labels: area/exporter

dockerfile: fix created time taken from base image if named context used
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: area/dockerfile, area/frontend

.github/labeler.yml:

# Add 'project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "LICENSE"
              - "AUTHORS"
              - "MAINTAINERS"
              - "PROJECT.md"
              - "README.md"
              - ".gitignore"
              - "codecov.yml"
              - ".dockerignore"
              - "docker-bake.hcl"
              - "Dockerfile"
              - "Makefile"
          - all-globs-to-all-files: "!.github/workflows/*"

# Add 'ci' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

# Add 'tests' label to changes in test files
area/testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - "**/*_test.go"

# area:api
area/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

# area:storage
area/storage:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - "cache/**"
              - "snapshot/**"
          - all-globs-to-all-files: "!cache/remotecache/**"

# area:remotecache
area/remotecache:
  - changed-files:
      - any-glob-to-any-file: "cache/remotecache/**"

# area:client
area/client:
  - changed-files:
      - any-glob-to-any-file: "client/**"

# area:llb
area/llb:
  - changed-files:
      - any-glob-to-any-file: "client/llb/**"

# area:buildctl
area/buildctl:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildctl/**"

# area:buildkitd
area/buildkitd:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildkitd/**"

# area:cdi
area/cdi:
  - changed-files:
      - any-glob-to-any-file:
          - "contrib/cdisetup/**"
          - "docs/cdi.md"
          - "solver/llbsolver/cdidevices/**"

# area:dependencies
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "vendor/**"
          - "tools/**"

# area:docs
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "frontend/dockerfile/docs/**"

# area:dockerfile
area/dockerfile:
  - changed-files:
      - any-glob-to-any-file: "frontend/dockerfile/**"

# area:dockerfile/checks
area/dockerfile/checks:
  - changed-files:
      - any-glob-to-any-file:
          - "frontend/dockerfile/linter"
          - "frontend/dockerfile/subrequests/lint"

# area:examples
area/examples:
  - changed-files:
      - any-glob-to-any-file: "examples/**"

# area:executor
area/executor:
  - changed-files:
      - any-glob-to-any-file: "executor/**"

# area:exporter
area/exporter:
  - changed-files:
      - any-glob-to-any-file: "exporter/**"

# area:frontend
area/frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

# area:hack
area/hack:
  - changed-files:
      - any-glob-to-any-file:
          - "hack/**"
          - "frontend/dockerfile/cmd/dockerfile-frontend/hack/**"

# area:session
area/session:
  - changed-files:
      - any-glob-to-any-file: "session/**"

# area:solver
area/solver:
  - changed-files:
      - any-glob-to-any-file:
          - "control/**"
          - "solver/**"

# area:source
area/source:
  - changed-files:
      - any-glob-to-any-file: "source/**"

# area:sourcepolicy
area/sourcepolicy:
  - changed-files:
      - any-glob-to-any-file: "sourcepolicy/**"

# area:util
area/util:
  - changed-files:
      - any-glob-to-any-file: "util/**"

# area:worker
area/worker:
  - changed-files:
      - any-glob-to-any-file: "worker/**"

# area:windows
area/windows:
  - all:
      - changed-files:
          - any-glob-to-any-file: "**/*_windows.go"
          - all-globs-to-all-files: "!vendor/**/*_windows.go"
