Repository moby/buildkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/testing, area/api, area/remotecache, area/client, area/llb, area/buildctl, area/buildkitd, area/cdi, area/dependencies, area/docs, area/dockerfile, area/dockerfile/checks, area/examples, area/executor, area/exporter, area/frontend, area/hack, area/session, area/solver, area/source, area/sourcepolicy, area/util, area/worker

.github/labeler.yml:

# Add 'project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "LICENSE"
              - "AUTHORS"
              - "MAINTAINERS"
              - "PROJECT.md"
              - "README.md"
              - ".gitignore"
              - "codecov.yml"
              - ".dockerignore"
              - "docker-bake.hcl"
              - "Dockerfile"
              - "Makefile"
          - all-globs-to-all-files: "!.github/workflows/*"

# Add 'ci' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

# Add 'tests' label to changes in test files
area/testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - "**/*_test.go"

# area:api
area/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

# area:storage
area/storage:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - "cache/**"
              - "snapshot/**"
          - all-globs-to-all-files: "!cache/remotecache/**"

# area:remotecache
area/remotecache:
  - changed-files:
      - any-glob-to-any-file: "cache/remotecache/**"

# area:client
area/client:
  - changed-files:
      - any-glob-to-any-file: "client/**"

# area:llb
area/llb:
  - changed-files:
      - any-glob-to-any-file: "client/llb/**"

# area:buildctl
area/buildctl:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildctl/**"

# area:buildkitd
area/buildkitd:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildkitd/**"

# area:cdi
area/cdi:
  - changed-files:
      - any-glob-to-any-file:
          - "contrib/cdisetup/**"
          - "docs/cdi.md"
          - "solver/llbsolver/cdidevices/**"

# area:dependencies
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "vendor/**"
          - "tools/**"

# area:docs
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "frontend/dockerfile/docs/**"

# area:dockerfile
area/dockerfile:
  - changed-files:
      - any-glob-to-any-file: "frontend/dockerfile/**"

# area:dockerfile/checks
area/dockerfile/checks:
  - changed-files:
      - any-glob-to-any-file:
          - "frontend/dockerfile/linter"
          - "frontend/dockerfile/subrequests/lint"

# area:examples
area/examples:
  - changed-files:
      - any-glob-to-any-file: "examples/**"

# area:executor
area/executor:
  - changed-files:
      - any-glob-to-any-file: "executor/**"

# area:exporter
area/exporter:
  - changed-files:
      - any-glob-to-any-file: "exporter/**"

# area:frontend
area/frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

# area:hack
area/hack:
  - changed-files:
      - any-glob-to-any-file:
          - "hack/**"
          - "frontend/dockerfile/cmd/dockerfile-frontend/hack/**"

# area:session
area/session:
  - changed-files:
      - any-glob-to-any-file: "session/**"

# area:solver
area/solver:
  - changed-files:
      - any-glob-to-any-file:
          - "control/**"
          - "solver/**"

# area:source
area/source:
  - changed-files:
      - any-glob-to-any-file: "source/**"

# area:sourcepolicy
area/sourcepolicy:
  - changed-files:
      - any-glob-to-any-file: "sourcepolicy/**"

# area:util
area/util:
  - changed-files:
      - any-glob-to-any-file: "util/**"

# area:worker
area/worker:
  - changed-files:
      - any-glob-to-any-file: "worker/**"

# area:windows
area/windows:
  - all:
      - changed-files:
          - any-glob-to-any-file: "**/*_windows.go"
          - all-globs-to-all-files: "!vendor/**/*_windows.go"

fix: create sbom scanner without tmpfs in windows
  frontend/attestations/sbom/sbom.go
Labels: area/frontend

TestGetRemotes: fix race of laziness check
  cache/manager_test.go
Labels: area/testing

all: use well-known zstd mediaType constants
  cache/manager_test.go
  client/client_nydus_test.go
  client/client_test.go
  util/compression/compression.go
  util/winlayers/applier.go
Labels: area/testing, area/client, area/util

fix: create sbom scanner without tmpfs in windows
  frontend/attestations/sbom/sbom.go
Labels: area/frontend

Add a test case to exercise the fact that parallel export in different image formats generated different metadata.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/solver

Add support for disambiguating multiple responses for cache exporters by adding IDs similar to output exporters.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  exporter/exporter.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/exporter, area/session, area/solver

Use the same ExporterResponse type for cache exporter responses
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/api, area/client, area/solver

executor/oci: add fork of moby resolvconf (does not compile)
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_path.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/testdata/.gitattributes
  executor/oci/internal/resolvconf/testdata/TestRCInvalidNS.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCSetHeader.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv6_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCUnknownDirectives.golden
Labels: area/testing, area/executor

executor/oci: resolvconf: rewrite tests using testify
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/utils_test.go
Labels: area/testing, area/executor

executor/oci: resolvconf: use buildkit errdefs
  executor/oci/internal/resolvconf/resolvconf.go
Labels: area/executor

executor/oci: use fork of libnetwork/resolvconf
  executor/oci/resolvconf.go
  go.mod
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf.go
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf_path.go
  vendor/github.com/docker/docker/libnetwork/resolvconf/resolvconf.go
  vendor/modules.txt
Labels: area/dependencies, area/executor

executor/oci: resolvconf: remove unused code
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  go.mod
  go.sum
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/executor

executor/oci: use buildkit bklog instead of containerd/log
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_path.go
Labels: area/executor

Fix linting error on new test cases for getSecretsRegex
  frontend/dockerfile/dockerfile2llb/convert_test.go
Labels: area/testing, area/dockerfile, area/frontend

executor/oci: migrate to moby/profiles/seccomp module
  executor/oci/spec_linux.go
  go.mod
  go.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/NOTICE
  vendor/github.com/moby/profiles/seccomp/LICENSE
  vendor/github.com/moby/profiles/seccomp/default.json
  vendor/github.com/moby/profiles/seccomp/default_linux.go
  vendor/github.com/moby/profiles/seccomp/kernel_linux.go
  vendor/github.com/moby/profiles/seccomp/seccomp.go
  vendor/github.com/moby/profiles/seccomp/seccomp_linux.go
  vendor/modules.txt
Labels: area/dependencies, area/executor

dockerfile: docs for BUILDKIT_BUILD_NAME built-in build-arg
  frontend/dockerfile/docs/reference.md
Labels: area/docs, area/dockerfile, area/frontend

move resolvconf package to util
  executor/oci/resolvconf.go
  util/resolvconf/resolvconf.go
  util/resolvconf/resolvconf_path.go
  util/resolvconf/resolvconf_test.go
  util/resolvconf/testdata/.gitattributes
  util/resolvconf/testdata/TestRCInvalidNS.golden
  util/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  util/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  util/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  util/resolvconf/testdata/TestRCModify/No_overrides.golden
  util/resolvconf/testdata/TestRCModify/Overrides.golden
  util/resolvconf/testdata/TestRCSetHeader.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv6_only.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  util/resolvconf/testdata/TestRCUnknownDirectives.golden
  util/resolvconf/utils_test.go
Labels: area/testing, area/executor, area/util

resolvconf: embed fixtures
  util/resolvconf/resolvconf_test.go
  util/resolvconf/testdata/.gitattributes
  util/resolvconf/testdata/TestRCInvalidNS.golden
  util/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  util/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  util/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  util/resolvconf/testdata/TestRCModify/No_overrides.golden
  util/resolvconf/testdata/TestRCModify/Overrides.golden
  util/resolvconf/testdata/TestRCSetHeader.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/IPv6_only.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  util/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  util/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  util/resolvconf/testdata/TestRCUnknownDirectives.golden
  util/resolvconf/utils_test.go
Labels: area/testing, area/util

simplify resolvconf path resolution
  executor/oci/resolvconf.go
  util/resolvconf/resolvconf_path.go
Labels: area/executor, area/util

dockerfile: build cni plugins from source
  Dockerfile
Labels: none

buildkitd: add flag to set max parallelism
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  docs/buildkitd.toml.md
Labels: area/buildkitd, area/docs

executor/oci: add fork of moby resolvconf (does not compile)
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_path.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/testdata/.gitattributes
  executor/oci/internal/resolvconf/testdata/TestRCInvalidNS.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCSetHeader.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv6_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCUnknownDirectives.golden
Labels: area/testing, area/executor

executor/oci: resolvconf: rewrite tests using testify
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/utils_test.go
Labels: area/testing, area/executor

executor/oci: use fork of libnetwork/resolvconf
  executor/oci/resolvconf.go
  go.mod
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf.go
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf_path.go
  vendor/github.com/docker/docker/libnetwork/resolvconf/resolvconf.go
  vendor/modules.txt
Labels: area/dependencies, area/executor

executor/oci: resolvconf: remove unused code
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  go.mod
  go.sum
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/executor

executor/oci: resolvconf: use buildkit errdefs
  executor/oci/internal/resolvconf/resolvconf.go
Labels: area/executor

executor/oci: use buildkit bklog instead of containerd/log
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_path.go
Labels: area/executor

executor/oci: migrate to moby/profiles/seccomp module
  executor/oci/spec_linux.go
  go.mod
  go.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/NOTICE
  vendor/github.com/moby/profiles/seccomp/LICENSE
  vendor/github.com/moby/profiles/seccomp/default.json
  vendor/github.com/moby/profiles/seccomp/default_linux.go
  vendor/github.com/moby/profiles/seccomp/kernel_linux.go
  vendor/github.com/moby/profiles/seccomp/seccomp.go
  vendor/github.com/moby/profiles/seccomp/seccomp_linux.go
  vendor/modules.txt
Labels: area/dependencies, area/executor

fix: client New - add nil check for TracerDelegate to prevent panic
  client/client.go
Labels: area/client

fix: client New - add nil check for TracerDelegate to prevent panic
  client/client.go
Labels: area/client

hack: remove unused sections of hack/compose
  hack/composefiles/buildkit/buildkitd.toml
  hack/composefiles/compose.yaml
  hack/composefiles/datasources.yaml
  hack/composefiles/grafana.ini
  hack/composefiles/otelcol.yaml
  hack/composefiles/prometheus.yml
Labels: area/hack

dap: add hint to copy when there is no parent
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: area/dockerfile, area/frontend

dap: add hint to copy when there is no parent
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: area/dockerfile, area/frontend

dap: add ability to keep ops unique when marshaling
  client/llb/marshal.go
  client/llb/state.go
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/docs/reference.md
  solver/pb/json.go
  solver/pb/ops.pb.go
  solver/pb/ops.proto
  solver/pb/ops_vtproto.pb.go
Labels: area/client, area/llb, area/docs, area/dockerfile, area/frontend, area/solver

Add a test case to exercise the fact that parallel export in different image formats generated different metadata.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/solver

Use the same ExporterResponse type for cache exporter responses
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/api, area/client, area/solver

Add support for disambiguating multiple responses for cache exporters by adding IDs similar to output exporters.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  exporter/exporter.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/exporter, area/session, area/solver

vendor: github.com/containerd/containerd/v2 v2.1.4
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/client/client.go
  vendor/github.com/containerd/containerd/v2/client/task.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

Dockerfile: update containerd v2 binary to v2.1.4
  Dockerfile
Labels: none

Dockerfile: update containerd v2.0 binary to v2.0.6
  Dockerfile
Labels: none
