Repository moby/buildkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/testing, area/api, area/remotecache, area/client, area/llb, area/buildctl, area/buildkitd, area/cdi, area/dependencies, area/docs, area/dockerfile, area/dockerfile/checks, area/examples, area/executor, area/exporter, area/frontend, area/hack, area/session, area/solver, area/source, area/sourcepolicy, area/util, area/worker

test: use platforms spec instead of runtime const
  client/client_test.go
Labels: area/testing, area/client

vendor: github.com/tonistiigi/go-actions-cache 388a2ec8cdf8
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/Dockerfile
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/dependencies

docs: fix heading levels in slsa-definitions page
  docs/attestations/slsa-definitions.md
Labels: area/docs

Add a test case to exercise the fact that parallel export in different image formats generated different metadata.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/solver

Use the same ExporterResponse type for cache exporter responses
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/api, area/client, area/solver

Add support for disambiguating multiple responses for cache exporters by adding IDs similar to output exporters.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  exporter/exporter.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/exporter, area/session, area/solver

resolver: allow reference matches for local image lookups
  util/resolver/pool.go
Labels: area/util

Fix xattr copy failures on SELinux systems
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/exec_binfmt_test.go
Labels: area/testing, area/solver

Update xattr error handling to ignore ENOTSUP for security.selinux only
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/exec_binfmt_test.go
Labels: area/testing, area/solver

Refactor xattr error handling in exec_binfmt to use a single error handler function
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/exec_binfmt_test.go
Labels: area/testing, area/solver

Add tests for xattr error handling in exec_binfmt
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/exec_binfmt_test.go
Labels: area/testing, area/solver

wcow: enable custom frontend bridge communication via named pipe
  executor/containerdexecutor/executor_windows.go
  frontend/frontend.go
  frontend/gateway/gateway.go
  frontend/gateway/gateway_unix.go
  frontend/gateway/gateway_windows.go
  frontend/gateway/grpcclient/client.go
  frontend/gateway/grpcclient/client_unix.go
  frontend/gateway/grpcclient/client_windows.go
  solver/llbsolver/bridge.go
  solver/llbsolver/provenance.go
  util/appdefaults/appdefaults.go
  util/appdefaults/appdefaults_windows.go
Labels: area/executor, area/frontend, area/solver, area/util

resolver: allow reference matches for local image lookups
  util/resolver/pool.go
Labels: area/util

provenance: slsa v1 to v0.2 helper
  solver/llbsolver/provenance.go
  solver/llbsolver/provenance/predicate.go
  solver/llbsolver/provenance/types/types.go
Labels: area/solver

Use commit date in release binary artifacts
  Dockerfile
Labels: none

Update containerd to v2.1.3
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/core/content/helpers.go
  vendor/github.com/containerd/containerd/v2/core/mount/mount_linux.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/errcode.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/v2/core/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/v2/core/transfer/proxy/transfer.go
  vendor/github.com/containerd/containerd/v2/core/unpack/unpacker.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

Update containerd to v2.1.3
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/core/content/helpers.go
  vendor/github.com/containerd/containerd/v2/core/mount/mount_linux.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/errcode.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/v2/core/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/v2/core/transfer/proxy/transfer.go
  vendor/github.com/containerd/containerd/v2/core/unpack/unpacker.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

forbid inconsistent logging and shadowing stdlib
  .golangci.yml
  util/push/push.go
  util/resolver/authorizer.go
  util/winlayers/differ.go
Labels: area/util

dockerfile: update govulncheck to v1.1.4
  hack/dockerfiles/govulncheck.Dockerfile
Labels: area/hack

wcow: enable custom frontend bridge communication via named pipe
  executor/containerdexecutor/executor_windows.go
  frontend/frontend.go
  frontend/gateway/gateway.go
  frontend/gateway/gateway_unix.go
  frontend/gateway/gateway_windows.go
  frontend/gateway/grpcclient/client.go
  frontend/gateway/grpcclient/client_unix.go
  frontend/gateway/grpcclient/client_windows.go
  solver/llbsolver/bridge.go
  solver/llbsolver/provenance_unix.go
  solver/llbsolver/provenance_windows.go
  util/appdefaults/appdefaults.go
  util/appdefaults/appdefaults_windows.go
Labels: area/executor, area/frontend, area/solver, area/util

Add support for disambiguating multiple responses for cache exporters by adding IDs similar to output exporters.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  exporter/exporter.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/exporter, area/session, area/solver

Add a test case to exercise the fact that parallel export in different image formats generated different metadata.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/solver

Use the same ExporterResponse type for cache exporter responses
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/api, area/client, area/solver

client: allow configuring exporter content store
  client/client_test.go
  client/solve.go
Labels: area/testing, area/client

vendor: align otel deps to v0.60.0 / v1.35.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/clienttrace.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/httptrace.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/env.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/util.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/v1.20.0.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/netconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/metricdata.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/version.go
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/docker/docker v28.3.0
  go.mod
  go.sum
  vendor/github.com/docker/docker/libnetwork/resolvconf/resolvconf.go
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/docker/cli v28.3.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/config/memorystore/store.go
  vendor/modules.txt
Labels: area/dependencies

frontend: group provenance tests
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/testing, area/dockerfile, area/frontend

test: provenance local export
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: area/testing, area/dockerfile, area/frontend

local: fix attestation filename
  exporter/local/fs.go
Labels: area/exporter

gha cache: reload expired cache URLs
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/dependencies

frontend: group provenance tests
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/testing, area/dockerfile, area/frontend

local: fix attestation filename
  exporter/local/fs.go
Labels: area/exporter

test: provenance local export
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: area/testing, area/dockerfile, area/frontend

gha cache: reload expired cache URLs
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/dependencies

update alpine to 3.22
  Dockerfile
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/docs-dockerfile.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/dockerfile, area/frontend, area/hack

test: group dockerfile tests
  frontend/dockerfile/dockerfile_add_test.go
  frontend/dockerfile/dockerfile_addchecksum_test.go
  frontend/dockerfile/dockerfile_addgit_test.go
  frontend/dockerfile/dockerfile_cache_test.go
  frontend/dockerfile/dockerfile_copy_test.go
  frontend/dockerfile/dockerfile_heredoc_test.go
  frontend/dockerfile/dockerfile_history_test.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/dockerfile_mount_test.go
  frontend/dockerfile/dockerfile_namedcontext_test.go
  frontend/dockerfile/dockerfile_onbuild_test.go
  frontend/dockerfile/dockerfile_outline_test.go
  frontend/dockerfile/dockerfile_parents_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_sbom_test.go
  frontend/dockerfile/dockerfile_secrets_test.go
  frontend/dockerfile/dockerfile_ssh_test.go
  frontend/dockerfile/dockerfile_targets_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/dockerfile_user_test.go
Labels: area/testing, area/dockerfile, area/frontend

dockerfile: opt to ignore cache when detecting git/http context
  frontend/dockerui/context.go
  frontend/dockerui/namedcontext.go
Labels: area/frontend

add cache key debuginfo lookup
  cache/contenthash/checksum.go
  cache/contenthash/filehash.go
  cmd/buildkitd/debug.go
  cmd/buildkitd/main.go
  solver/cachemanager.go
  solver/llbsolver/ops/build.go
  solver/llbsolver/ops/exec.go
  solver/llbsolver/ops/file.go
  solver/llbsolver/ops/merge.go
  solver/llbsolver/ops/opsutils/contenthash.go
  solver/llbsolver/ops/source.go
  source/local/source.go
  util/cachedigest/db.go
  util/cachedigest/db_test.go
  util/cachedigest/digest.go
  util/cachedigest/frame.go
Labels: area/testing, area/buildkitd, area/solver, area/source, area/util

wcow: enable integration tests on WS2025
  .github/workflows/test-os.yml
  client/client_test.go
  frontend/dockerfile/dockerfile_mount_test.go
Labels: area/ci, area/testing, area/client, area/dockerfile, area/frontend

.github/labeler.yml:

# Add 'project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "LICENSE"
              - "AUTHORS"
              - "MAINTAINERS"
              - "PROJECT.md"
              - "README.md"
              - ".gitignore"
              - "codecov.yml"
              - ".dockerignore"
              - "docker-bake.hcl"
              - "Dockerfile"
              - "Makefile"
          - all-globs-to-all-files: "!.github/workflows/*"

# Add 'ci' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

# Add 'tests' label to changes in test files
area/testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - "**/*_test.go"

# area:api
area/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

# area:storage
area/storage:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - "cache/**"
              - "snapshot/**"
          - all-globs-to-all-files: "!cache/remotecache/**"

# area:remotecache
area/remotecache:
  - changed-files:
      - any-glob-to-any-file: "cache/remotecache/**"

# area:client
area/client:
  - changed-files:
      - any-glob-to-any-file: "client/**"

# area:llb
area/llb:
  - changed-files:
      - any-glob-to-any-file: "client/llb/**"

# area:buildctl
area/buildctl:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildctl/**"

# area:buildkitd
area/buildkitd:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildkitd/**"

# area:cdi
area/cdi:
  - changed-files:
      - any-glob-to-any-file:
          - "contrib/cdisetup/**"
          - "docs/cdi.md"
          - "solver/llbsolver/cdidevices/**"

# area:dependencies
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "vendor/**"
          - "tools/**"

# area:docs
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "frontend/dockerfile/docs/**"

# area:dockerfile
area/dockerfile:
  - changed-files:
      - any-glob-to-any-file: "frontend/dockerfile/**"

# area:dockerfile/checks
area/dockerfile/checks:
  - changed-files:
      - any-glob-to-any-file:
          - "frontend/dockerfile/linter"
          - "frontend/dockerfile/subrequests/lint"

# area:examples
area/examples:
  - changed-files:
      - any-glob-to-any-file: "examples/**"

# area:executor
area/executor:
  - changed-files:
      - any-glob-to-any-file: "executor/**"

# area:exporter
area/exporter:
  - changed-files:
      - any-glob-to-any-file: "exporter/**"

# area:frontend
area/frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

# area:hack
area/hack:
  - changed-files:
      - any-glob-to-any-file:
          - "hack/**"
          - "frontend/dockerfile/cmd/dockerfile-frontend/hack/**"

# area:session
area/session:
  - changed-files:
      - any-glob-to-any-file: "session/**"

# area:solver
area/solver:
  - changed-files:
      - any-glob-to-any-file:
          - "control/**"
          - "solver/**"

# area:source
area/source:
  - changed-files:
      - any-glob-to-any-file: "source/**"

# area:sourcepolicy
area/sourcepolicy:
  - changed-files:
      - any-glob-to-any-file: "sourcepolicy/**"

# area:util
area/util:
  - changed-files:
      - any-glob-to-any-file: "util/**"

# area:worker
area/worker:
  - changed-files:
      - any-glob-to-any-file: "worker/**"

# area:windows
area/windows:
  - all:
      - changed-files:
          - any-glob-to-any-file: "**/*_windows.go"
          - all-globs-to-all-files: "!vendor/**/*_windows.go"
