Repository moby/buildkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/testing, area/api, area/remotecache, area/client, area/llb, area/buildctl, area/buildkitd, area/cdi, area/dependencies, area/docs, area/dockerfile, area/dockerfile/checks, area/examples, area/executor, area/exporter, area/frontend, area/hack, area/session, area/solver, area/source, area/sourcepolicy, area/util, area/worker

solver: handle not found error on cache export
  solver/exporter.go
  solver/exporter_test.go
Labels: area/testing, area/solver

Reduce allocations in sshforward.Copy
  session/sshforward/copy.go
Labels: area/session

integration: fix data race on printing daemon logs
  util/testutil/integration/run.go
Labels: area/util

sshforward: Add support for forwarding raw connections
  session/sshforward/sshprovider/agentprovider.go
  session/sshforward/sshprovider/pipe.go
  session/sshforward/sshprovider/raw_provider.go
  session/sshforward/sshprovider/raw_provider_test.go
Labels: area/testing, area/session

integration: data race protection of localimagecache
  util/testutil/integration/run.go
Labels: area/util

Add support for raw mode in the SSH agent provider.
  client/client_test.go
  cmd/buildctl/build.go
  cmd/buildctl/build/ssh.go
  docs/reference/buildctl.md
  session/sshforward/sshprovider/agentprovider.go
  session/sshforward/sshprovider/agentprovider_test.go
  session/sshforward/sshprovider/pipe.go
  session/sshforward/sshprovider/raw_provider.go
  session/sshforward/sshprovider/raw_provider_test.go
Labels: area/testing, area/client, area/buildctl, area/docs, area/session

sshforward: Add support for forwarding raw connections
  session/sshforward/sshprovider/agentprovider.go
  session/sshforward/sshprovider/pipe.go
  session/sshforward/sshprovider/raw_provider.go
  session/sshforward/sshprovider/raw_provider_test.go
Labels: area/testing, area/session

dockerui: fix data race on dockerignore access
  frontend/dockerui/config.go
Labels: area/frontend

solver: fix data race on setting job values
  solver/jobs.go
Labels: area/solver

local: fix platform-split=true option
  exporter/local/export.go
  exporter/local/fs.go
  exporter/tar/export.go
Labels: area/exporter

Add support for raw mode in the SSH agent provider.
  client/client_test.go
  cmd/buildctl/build.go
  cmd/buildctl/build/ssh.go
  docs/reference/buildctl.md
  session/sshforward/sshprovider/agentprovider.go
  session/sshforward/sshprovider/agentprovider_test.go
  session/sshforward/sshprovider/raw_provider.go
  session/sshforward/sshprovider/raw_provider_test.go
Labels: area/testing, area/client, area/buildctl, area/docs, area/session

Remove intermediate type RawConfig
  session/sshforward/sshprovider/agentprovider.go
  session/sshforward/sshprovider/pipe_test.go
  session/sshforward/sshprovider/raw_provider.go
  session/sshforward/sshprovider/raw_provider_test.go
Labels: area/testing, area/session

fix: wcow: privileges for local exporter
  exporter/local/export.go
  exporter/local/export_unix.go
  exporter/local/export_windows.go
Labels: area/exporter

client: add test for forcing platform-split=true on single-arch build
  client/client_test.go
Labels: area/testing, area/client

provenance slsa v1
  control/control.go
  frontend/attestations/parse.go
  frontend/attestations/parse_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  go.mod
  go.sum
  solver/llbsolver/proc/provenance.go
  solver/llbsolver/provenance.go
  solver/llbsolver/provenance/predicate.go
  solver/llbsolver/provenance/types/types.go
  solver/llbsolver/solver.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/attestations.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/envelope.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/keylib.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/model.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/runlib.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/slsa_provenance/v0.2/provenance.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/slsa_provenance/v1/provenance.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/util.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/verifylib.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/cjson/canonicaljson.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/envelope.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/sign.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/signerverifier.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/verify.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/ecdsa.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/ed25519.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/rsa.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/signerverifier.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/utils.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/dockerfile, area/frontend, area/solver

history: build arg to opt-in for provenance slsa v1
  frontend/dockerfile/docs/reference.md
  solver/llbsolver/solver.go
Labels: area/docs, area/dockerfile, area/frontend, area/solver

docs: provenance slsa v1
  docs/attestations/slsa-definitions.md
  docs/attestations/slsa-provenance.md
Labels: area/docs

test: move cdi tests to dedicated file
  client/client_cdi_test.go
  client/client_test.go
Labels: area/testing, area/client

fix HTTP_PROXY errors on local sockets via grpc update
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: area/dependencies

git url: rename GitURLFragment to GitURLOpts
  source/git/identifier.go
  util/gitutil/git_ref.go
  util/gitutil/git_url.go
  util/gitutil/git_url_test.go
Labels: area/testing, area/source, area/util

cdi: mitigate tests flakiness
  client/client_cdi_test.go
Labels: area/testing, area/client

Fix xattr copy failures on SELinux systems
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/exec_binfmt_test.go
Labels: area/testing, area/solver

vendor: update fsutil to master@586307ad452f
  go.mod
  go.sum
  vendor/github.com/tonistiigi/fsutil/send.go
  vendor/modules.txt
Labels: area/dependencies

git url: support query form
  util/gitutil/git_ref.go
  util/gitutil/git_ref_test.go
  util/gitutil/git_url.go
  util/gitutil/git_url_test.go
  util/sshutil/scpurl.go
Labels: area/testing, area/util

git url: support specifying checksum in query
  client/llb/source.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerui/context.go
  source/git/identifier.go
  util/gitutil/git_ref.go
  util/gitutil/git_url.go
  util/gitutil/git_url_test.go
Labels: area/testing, area/client, area/llb, area/dockerfile, area/frontend, area/source, area/util

dockerfile2llb: check GitURLOpts error
  frontend/dockerfile/dockerfile2llb/convert.go
  util/gitutil/git_url.go
Labels: area/dockerfile, area/frontend, area/util

fix(readme): Add a missing trailing double quote
  docs/windows.md
Labels: area/docs

Add a test case to exercise the fact that parallel export in different image formats generated different metadata.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/solver

Use the same ExporterResponse type for cache exporter responses
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/graph.go
  client/solve.go
  solver/llbsolver/solver.go
Labels: area/api, area/client, area/solver

Add support for disambiguating multiple responses for cache exporters by adding IDs similar to output exporters.
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  exporter/exporter.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
Labels: area/testing, area/api, area/client, area/exporter, area/session, area/solver

Update buildkitd.toml.md registry examples
  docs/buildkitd.toml.md
Labels: area/docs

vendor: update docker & cli to v28.2.2
  go.mod
  go.sum
  vendor/github.com/docker/cli/AUTHORS
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/connhelper/commandconn/commandconn.go
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/profiles/seccomp/default.json
  vendor/github.com/docker/docker/profiles/seccomp/default_linux.go
  vendor/modules.txt
Labels: area/dependencies

http: allow authorization secrets per hostname
  client/client_test.go
  source/http/source.go
Labels: area/testing, area/client, area/source

provenance slsa v1
  control/control.go
  frontend/attestations/parse.go
  frontend/attestations/parse_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  go.mod
  go.sum
  solver/llbsolver/proc/provenance.go
  solver/llbsolver/provenance.go
  solver/llbsolver/provenance/predicate.go
  solver/llbsolver/provenance/types/types.go
  solver/llbsolver/solver.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/attestations.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/envelope.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/keylib.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/model.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/runlib.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/slsa_provenance/v0.2/provenance.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/slsa_provenance/v1/provenance.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/util.go
  vendor/github.com/in-toto/in-toto-golang/in_toto/verifylib.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/cjson/canonicaljson.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/envelope.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/sign.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/signerverifier.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/dsse/verify.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/ecdsa.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/ed25519.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/rsa.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/signerverifier.go
  vendor/github.com/secure-systems-lab/go-securesystemslib/signerverifier/utils.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/dockerfile, area/frontend, area/solver

docs: provenance slsa v1
  docs/attestations/slsa-definitions.md
  docs/attestations/slsa-provenance.md
Labels: area/docs

history: build arg to opt-in for provenance slsa v1
  frontend/dockerfile/docs/reference.md
  solver/llbsolver/solver.go
Labels: area/docs, area/dockerfile, area/frontend, area/solver

local: fix platform-split=true option
  exporter/local/export.go
  exporter/local/fs.go
  exporter/tar/export.go
Labels: area/exporter

contenthash: unconditionally clear ModeIrregular during content hash
  cache/contenthash/filehash.go
Labels: none

client: add test for forcing platform-split=true on single-arch build
  client/client_test.go
Labels: area/testing, area/client

fix: wcow: privileges for local exporter
  exporter/local/export.go
  exporter/local/export_unix.go
  exporter/local/export_windows.go
Labels: area/exporter

.github/labeler.yml:

# Add 'project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "LICENSE"
              - "AUTHORS"
              - "MAINTAINERS"
              - "PROJECT.md"
              - "README.md"
              - ".gitignore"
              - "codecov.yml"
              - ".dockerignore"
              - "docker-bake.hcl"
              - "Dockerfile"
              - "Makefile"
          - all-globs-to-all-files: "!.github/workflows/*"

# Add 'ci' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

# Add 'tests' label to changes in test files
area/testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - "**/*_test.go"

# area:api
area/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

# area:storage
area/storage:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - "cache/**"
              - "snapshot/**"
          - all-globs-to-all-files: "!cache/remotecache/**"

# area:remotecache
area/remotecache:
  - changed-files:
      - any-glob-to-any-file: "cache/remotecache/**"

# area:client
area/client:
  - changed-files:
      - any-glob-to-any-file: "client/**"

# area:llb
area/llb:
  - changed-files:
      - any-glob-to-any-file: "client/llb/**"

# area:buildctl
area/buildctl:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildctl/**"

# area:buildkitd
area/buildkitd:
  - changed-files:
      - any-glob-to-any-file: "cmd/buildkitd/**"

# area:cdi
area/cdi:
  - changed-files:
      - any-glob-to-any-file:
          - "contrib/cdisetup/**"
          - "docs/cdi.md"
          - "solver/llbsolver/cdidevices/**"

# area:dependencies
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - "vendor/**"
          - "tools/**"

# area:docs
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "frontend/dockerfile/docs/**"

# area:dockerfile
area/dockerfile:
  - changed-files:
      - any-glob-to-any-file: "frontend/dockerfile/**"

# area:dockerfile/checks
area/dockerfile/checks:
  - changed-files:
      - any-glob-to-any-file:
          - "frontend/dockerfile/linter"
          - "frontend/dockerfile/subrequests/lint"

# area:examples
area/examples:
  - changed-files:
      - any-glob-to-any-file: "examples/**"

# area:executor
area/executor:
  - changed-files:
      - any-glob-to-any-file: "executor/**"

# area:exporter
area/exporter:
  - changed-files:
      - any-glob-to-any-file: "exporter/**"

# area:frontend
area/frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

# area:hack
area/hack:
  - changed-files:
      - any-glob-to-any-file:
          - "hack/**"
          - "frontend/dockerfile/cmd/dockerfile-frontend/hack/**"

# area:session
area/session:
  - changed-files:
      - any-glob-to-any-file: "session/**"

# area:solver
area/solver:
  - changed-files:
      - any-glob-to-any-file:
          - "control/**"
          - "solver/**"

# area:source
area/source:
  - changed-files:
      - any-glob-to-any-file: "source/**"

# area:sourcepolicy
area/sourcepolicy:
  - changed-files:
      - any-glob-to-any-file: "sourcepolicy/**"

# area:util
area/util:
  - changed-files:
      - any-glob-to-any-file: "util/**"

# area:worker
area/worker:
  - changed-files:
      - any-glob-to-any-file: "worker/**"

# area:windows
area/windows:
  - all:
      - changed-files:
          - any-glob-to-any-file: "**/*_windows.go"
          - all-globs-to-all-files: "!vendor/**/*_windows.go"
