Repository moby/buildkit, pull requests merged in 2021-02, with the labels that each got.

#1965 fileop: fix checksum to contain indexes of inputs
  client/client_test.go
  solver/llbsolver/ops/file.go
Labels: needs-cherry-pick/v0.8

#1954 frontend/dockerfile: add RunCommand.FlagsUsed field
  frontend/dockerfile/instructions/bflag.go
  frontend/dockerfile/instructions/bflag_test.go
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/instructions/parse_test.go
Labels: area/dockerfile

#1966 [master] Add support for apparmor/selinux
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  executor/containerdexecutor/executor.go
  executor/oci/spec.go
  executor/oci/spec_unix.go
  executor/oci/spec_windows.go
  executor/runcexecutor/executor.go
  go.mod
  worker/containerd/containerd.go
  worker/containerd/containerd_test.go
  worker/runc/runc.go
  worker/runc/runc_test.go
Labels: area/security

#1963 Fix reference count issues on typed errors with mount references
  frontend/gateway/container.go
  solver/llbsolver/errdefs/exec.go
  solver/llbsolver/ops/exec.go
  solver/llbsolver/ops/file.go
  solver/result.go
  solver/scheduler.go
  solver/scheduler_test.go
  solver/types.go
  worker/result.go
Labels: needs-cherry-pick/v0.8

#1986 resolver: fix tcp connections limit
  util/resolver/resolver.go
Labels: needs-cherry-pick/v0.8

#1993 allow skipping empty layer detection on cache export
  cache/remotecache/v1/utils.go
Labels: needs-cherry-pick/v0.8

#1998 Dockerfile: update runc to rc93
  Dockerfile
Labels: needs-cherry-pick/v0.8
