Repository moby/buildkit, pull requests merged in 2022-11, with the labels that each got.

#3203 Make SELinux labels opt-in (`--oci-worker-selinux=<BOOL>`)
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  executor/containerdexecutor/executor.go
  executor/oci/spec.go
  executor/oci/spec_unix.go
  executor/oci/spec_windows.go
  executor/runcexecutor/executor.go
  worker/containerd/containerd.go
  worker/containerd/containerd_test.go
  worker/label/label.go
  worker/runc/runc.go
  worker/runc/runc_test.go
Labels: area/security, needs-cherry-pick/v0.10, area/security/selinux

#3247 dockerfile: enhance parser documentation
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/parser/parser.go
Labels: kind/docs

#3024 Multiple cache exports
  cache/remotecache/azblob/exporter.go
  cache/remotecache/export.go
  cache/remotecache/gha/gha.go
  cache/remotecache/inline/inline.go
  cache/remotecache/s3/s3.go
  client/client_test.go
  control/control.go
  solver/llbsolver/solver.go
  solver/llbsolver/util/util.go
  solver/llbsolver/util/util_test.go
  solver/result/result.go
Labels: status/code-review

#2581 Support for exporting nydus compression type
  .github/workflows/build.yml
  Dockerfile
  cache/blobs.go
  cache/blobs_linux.go
  cache/compression.go
  cache/compression_nydus.go
  cache/converter.go
  cache/refs.go
  cache/remote.go
  client/client_nydus_test.go
  client/client_test.go
  docs/nydus.md
  exporter/containerimage/opts.go
  exporter/containerimage/patch.go
  exporter/containerimage/patch_nydus.go
  exporter/containerimage/writer.go
  go.mod
  go.sum
  hack/test
  util/compression/compression.go
  util/compression/estargz.go
  util/compression/gzip.go
  util/compression/nydus.go
  util/compression/parse.go
  util/compression/uncompressed.go
  util/compression/zstd.go
  util/winlayers/applier.go
  util/winlayers/apply.go
  util/winlayers/apply_nydus.go
  vendor/github.com/containerd/nydus-snapshotter/LICENSE
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/constant.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_unix.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_windows.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/tool/builder.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/types.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/utils.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/errdefs/errors.go
  vendor/modules.txt
Labels: status/code-review

#3262 OCI exporter: support SOURCE_DATE_EPOCH for "org.opencontainers.image.created"
  client/client_test.go
  exporter/oci/export.go
Labels: area/reproducible-builds

#3264 integration: remove containerd 1.4
  .github/workflows/build.yml
  Dockerfile
  client/client_test.go
Labels: area/ci

#3268 integration: add ENTRYPOINT to fix nested cgroup v2
  Dockerfile
  hack/test
Labels: area/ci

#3275 moby/moby/master -> moby/moby/v20.10.21
  docs/build-repro.md
  frontend/dockerfile/dockerfile_buildinfo_test.go
  util/buildinfo/buildinfo_test.go
Labels: needs-cherry-pick/v0.10, area/ci

#3283 Introduce annotation sanity checks
  exporter/containerimage/annotations.go
  exporter/containerimage/export.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
  exporter/oci/export.go
Labels: kind/enhancement

#3269 integration: fix TestSecurityModeSysfs on cgroup v2
  client/client_test.go
Labels: area/ci

#2937 Proposal: support multiple formats for syntax directives
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/directives.go
  frontend/dockerfile/dockerfile2llb/directives_test.go
  frontend/dockerfile/parser/directives.go
  frontend/dockerfile/parser/directives_test.go
  frontend/dockerfile/parser/parser.go
Labels: status/code-review

#3287 Allow to use checksum in ADD from ENV
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_addchecksum_test.go
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
Labels: area/dockerfile

#3302 test: fix flaky duplicate cache test
  control/control_test.go
Labels: area/ci

#3290 sbom: fix minor inconsistencies in sbom protocol
  frontend/attestations/parse.go
  frontend/attestations/sbom/sbom.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/attestations

#3197 Export attestations for local exporter
  client/client_test.go
  exporter/attestation/generate.go
  exporter/containerimage/writer.go
  exporter/local/export.go
  exporter/tar/export.go
  frontend/gateway/client/attestation.go
  frontend/gateway/forwarder/forward.go
  solver/llbsolver/proc/provenance.go
  solver/result/attestation.go
  solver/result/result.go
  util/staticfs/merge.go
  util/staticfs/merge_test.go
  util/staticfs/static.go
  util/staticfs/static_test.go
Labels: kind/enhancement, area/attestations

#3149 MountStubsCleaner: preserve timestamps
  client/client_test.go
  executor/stubs.go
  util/system/atime_unix.go
  util/system/atime_windows.go
Labels: area/reproducible-builds

#3258 Supplement generated SBOMs with layer information post-build
  cache/filelist.go
  cache/refs.go
  exporter/attestation/make.go
  exporter/attestation/unbundle.go
  exporter/containerimage/attestations.go
  exporter/containerimage/writer.go
  exporter/local/export.go
  go.mod
  go.sum
  vendor/github.com/spdx/tools-golang/LICENSE.code
  vendor/github.com/spdx/tools-golang/LICENSE.docs
  vendor/github.com/spdx/tools-golang/jsonloader/jsonloader.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_annotations.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_creation_info.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_files.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_other_license.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_package.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_relationship.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_reviews.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parse_snippets.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/parser.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/types.go
  vendor/github.com/spdx/tools-golang/jsonloader/parser2v2/util.go
  vendor/github.com/spdx/tools-golang/jsonsaver/jsonsaver.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_annotations.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_creation_info.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_document.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_files.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_other_license.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_package.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_relationships.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_reviews.go
  vendor/github.com/spdx/tools-golang/jsonsaver/saver2v2/save_snippets.go
  vendor/github.com/spdx/tools-golang/spdx/annotation.go
  vendor/github.com/spdx/tools-golang/spdx/checksum.go
  vendor/github.com/spdx/tools-golang/spdx/creation_info.go
  vendor/github.com/spdx/tools-golang/spdx/document.go
  vendor/github.com/spdx/tools-golang/spdx/file.go
  vendor/github.com/spdx/tools-golang/spdx/identifier.go
  vendor/github.com/spdx/tools-golang/spdx/other_license.go
  vendor/github.com/spdx/tools-golang/spdx/package.go
  vendor/github.com/spdx/tools-golang/spdx/relationship.go
  vendor/github.com/spdx/tools-golang/spdx/review.go
  vendor/github.com/spdx/tools-golang/spdx/snippet.go
  vendor/github.com/spdx/tools-golang/spdxlib/described_elements.go
  vendor/github.com/spdx/tools-golang/spdxlib/documents.go
  vendor/github.com/spdx/tools-golang/spdxlib/element_ids.go
  vendor/github.com/spdx/tools-golang/spdxlib/relationships.go
  vendor/modules.txt
Labels: kind/enhancement, area/attestations
