Repository moby/buildkit, pull requests merged in 2022-04, with the labels that each got.

#2739 test(worker=containerd-rootless): make sure cleanup pre-existing state dir
  Dockerfile
  util/testutil/integration/containerd.go
Labels: area/containerd, area/rootless

#2776 version: fix parsing user-agent version
  version/version.go
Labels: needs-cherry-pick/v0.10

#2782 examples/kubernetes: replace deprecated seccomp annotations with securityContext
  examples/kubernetes/deployment+service.rootless.yaml
  examples/kubernetes/job.rootless.yaml
  examples/kubernetes/pod.rootless.yaml
  examples/kubernetes/statefulset.rootless.yaml
Labels: area/rootless, area/kubernetes, needs-cherry-pick/v0.10

#2781 dockerfile: remove non-FileOp mode
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_runmount.go
  frontend/dockerfile/dockerfile_mount_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile
