Repository moby/buildkit, pull requests merged in 2022-07, with the labels that each got.

#2968 rootless: containerd worker: Add fallback when buildkitd cannot access to conainerd
  cmd/buildkitd/main_containerd_worker.go
Labels: area/containerd, area/rootless, needs-cherry-pick/v0.10

#2926 fix cancellation error not being detected and erroneously cached
  frontend/gateway/gateway.go
  solver/errdefs/context.go
  solver/jobs.go
  solver/llbsolver/bridge.go
  source/containerimage/pull.go
Labels: needs-cherry-pick/v0.10

#2975 docs: add dedicated annotations guide with examples
  README.md
  docs/annotations.md
Labels: area/docs

#2970 docs(dockerfile): remove frontmatter section
  frontend/dockerfile/docs/reference.md
Labels: area/docs

#2978 test: use `T.TempDir` to create temporary test directory
  cache/contenthash/checksum_test.go
  cache/manager_test.go
  cache/metadata/metadata_test.go
  client/build_test.go
  client/client_test.go
  cmd/buildctl/build_test.go
  cmd/buildctl/buildctl_test.go
  executor/oci/resolvconf_test.go
  frontend/dockerfile/dockerfile_buildinfo_test.go
  frontend/dockerfile/dockerfile_heredoc_test.go
  frontend/dockerfile/dockerfile_mount_test.go
  frontend/dockerfile/dockerfile_runnetwork_test.go
  frontend/dockerfile/dockerfile_runsecurity_test.go
  frontend/dockerfile/dockerfile_secrets_test.go
  frontend/dockerfile/dockerfile_ssh_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/dockerignore/dockerignore_test.go
  frontend/dockerfile/errors_test.go
  frontend/frontend_test.go
  session/content/content_test.go
  session/filesync/filesync_test.go
  snapshot/snapshotter_test.go
  solver/bboltcachestorage/storage_test.go
  solver/jobs_test.go
  solver/llbsolver/mounts/mount_test.go
  solver/testutil/cachestorage_testsuite.go
  solver/testutil/memorycachestorage_test.go
  source/git/gitsource_test.go
  source/http/httpsource_test.go
  util/overlay/overlay_linux_test.go
  util/testutil/integration/util.go
  worker/base/worker_test.go
  worker/containerd/containerd_test.go
  worker/runc/runc_test.go
Labels: area/testing
