Repository moby/buildkit, pull requests merged in 2022-09, with the labels that each got.

#3092 frontend: fix Healthcheck intervals and retries not accepting default values
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/instructions/parse_test.go
  frontend/dockerfile/parser/testfiles/health/Dockerfile
  frontend/dockerfile/parser/testfiles/health/result
Labels: bug, area/dockerfile

#3090 [reference.md] remove duplicate entry from `different ENTRYPOINT / CMD combinations` table
  frontend/dockerfile/docs/reference.md
Labels: kind/docs, status/merge

#3112 buildctl: define oci-layout flag
  cmd/buildctl/build.go
Labels: kind/bug

#3111 Allow `tag` parameter for cache exporter `type=local`
  README.md
  client/solve.go
Labels: area/cache

#3073 Attestations refactoring
  client/client_test.go
  exporter/containerimage/writer.go
  frontend/gateway/client/attestation.go
  frontend/gateway/gateway.go
  frontend/gateway/grpcclient/client.go
  frontend/gateway/pb/attestation.go
  frontend/gateway/pb/gateway.pb.go
  frontend/gateway/pb/gateway.proto
  solver/pb/caps.go
  solver/result/attestation.go
  solver/result/result.go
Labels: status/code-review

#3130 dockerfile: allow named context for docker-image://scratch
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile_test.go
Labels: kind/enhancement

#3097 rootless: support Google Container-Optimized OS (Fix ` Options:[rbind ro]}]: operation not permitted` errors)
  docs/rootless.md
  examples/kubernetes/README.md
  examples/kubernetes/deployment+service.rootless.yaml
  examples/kubernetes/job.rootless.yaml
  examples/kubernetes/pod.rootless.yaml
  examples/kubernetes/statefulset.rootless.yaml
Labels: area/rootless, area/gke, area/kubernetes, needs-cherry-pick/v0.10
