Repository moby/buildkit, pull requests merged in 2022-12, with the labels that each got.

#3260 Attestations docs
  docs/sbom-protocol.md
  docs/sbom.md
Labels: kind/docs

#3176 integration: containerd snapshotter with dockerd
  .github/workflows/dockerd.yml
  client/build_test.go
  client/client_nydus_test.go
  client/client_test.go
  client/mergediff_test.go
  frontend/dockerfile/dockerfile_buildinfo_test.go
  frontend/dockerfile/dockerfile_heredoc_test.go
  frontend/dockerfile/dockerfile_outline_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_targets_test.go
  frontend/dockerfile/dockerfile_test.go
  go.mod
  go.sum
  util/testutil/dockerd/daemon.go
  util/testutil/integration/dockerd.go
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
  vendor/modules.txt
Labels: area/testing

#3313 sbom: discard whiteout files when searching for files in layers
  exporter/containerimage/attestations.go
Labels: area/attestations

#3314 executor: stubs cleaner should recursively remove empty directory mounts
  client/client_test.go
  client/llb/exec.go
  executor/containerdexecutor/executor.go
  executor/executor.go
  executor/runcexecutor/executor.go
  executor/stubs.go
  frontend/gateway/client/client.go
  frontend/gateway/container.go
  frontend/gateway/gateway.go
  frontend/gateway/grpcclient/client.go
  solver/llbsolver/ops/exec.go
  solver/pb/caps.go
  solver/pb/ops.pb.go
  solver/pb/ops.proto
Labels: kind/enhancement

#3332 Sourcepolicy
  api/services/control/control.pb.go
  api/services/control/control.proto
  client/client_test.go
  client/llb/llbtest/platform_test.go
  client/solve.go
  cmd/buildctl/build.go
  control/control.go
  docs/build-repro.md
  frontend/gateway/client/client.go
  frontend/gateway/forwarder/forward.go
  frontend/gateway/gateway.go
  frontend/gateway/grpcclient/client.go
  frontend/gateway/pb/gateway.pb.go
  frontend/gateway/pb/gateway.proto
  solver/llbsolver/bridge.go
  solver/llbsolver/solver.go
  solver/llbsolver/sourcepolicy.go
  solver/llbsolver/vertex.go
  solver/llbsolver/vertex_test.go
  solver/pb/caps.go
  sourcepolicy/engine.go
  sourcepolicy/engine_test.go
  sourcepolicy/formatter.go
  sourcepolicy/matcher.go
  sourcepolicy/matcher_test.go
  sourcepolicy/mutate.go
  sourcepolicy/mutate_test.go
  sourcepolicy/pb/generate.go
  sourcepolicy/pb/json.go
  sourcepolicy/pb/json_test.go
  sourcepolicy/pb/policy.pb.go
  sourcepolicy/pb/policy.proto
  util/wildcard/wildcard.go
  util/wildcard/wildcard_test.go
Labels: kind/enhancement

#3407 Improved SBOM filenames
  frontend/attestations/sbom/sbom.go
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: kind/enhancement, area/attestations

#3408 dockerfile: collect all dependencies as extra scan targets
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: kind/bug, area/dockerfile, area/attestations

#3427 feat: handle mirror url with path
  docs/buildkitd.toml.md
  util/resolver/resolver.go
  util/resolver/resolver_test.go
  util/resolver/utils.go
Labels: status/do-not-merge
