Repository moby/buildkit, pull requests merged in 2022-10, with the labels that each got.

#3143 dockerfile/shell/lex_test.go: test `${TARGETVARIANT:+-${TARGETVARIANT}}`
  frontend/dockerfile/shell/lex_test.go
Labels: area/dockerfile, area/testing

#3160 README.md: AkihiroSuda/buildkit-nix -> reproducible-containers/buildkit-nix
  README.md
Labels: area/reproducible-builds

#3152 exporter/oci: allow overriding `org.opencontainers.image.created`
  client/client_test.go
  exporter/oci/export.go
Labels: area/reproducible-builds

#2918 Add support for SOURCE_DATE_EPOCH
  client/client_test.go
  control/control.go
  exporter/containerimage/exptypes/types.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
  exporter/local/export.go
  exporter/tar/export.go
  exporter/util/epoch/parse.go
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/docs/reference.md
  solver/pb/caps.go
Labels: status/merge, area/reproducible-builds

#2983 SBOM attestations generation
  client/build.go
  client/client_test.go
  cmd/buildctl/build.go
  control/control.go
  exporter/containerimage/exptypes/types.go
  exporter/containerimage/writer.go
  frontend/attest/sbom.go
  frontend/attestations/parse.go
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile_test.go
  frontend/gateway/pb/gateway.pb.go
  frontend/gateway/pb/gateway.proto
  solver/llbsolver/proc/refs.go
  solver/llbsolver/proc/sbom.go
  solver/llbsolver/solver.go
  solver/result/result.go
Labels: kind/enhancement

#3177 fix flaky s3 and azblob integration tests
  hack/azblob_test/test1/Dockerfile
  hack/azblob_test/test2/Dockerfile
  hack/s3_test/test1/Dockerfile
  hack/s3_test/test2/Dockerfile
Labels: area/testing

#3220 docs(dockerfile): update usage and syntax sections
  .github/workflows/build.yml
  frontend/dockerfile/docs/reference.md
Labels: kind/docs

#3206 integration: more skips for dockerd
  client/client_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/testing

#3224 Add gosec to linters
  .golangci.yml
  client/client_test.go
  frontend/dockerfile/dockerfile_ssh_test.go
  frontend/dockerfile/dockerignore/dockerignore_test.go
  session/auth/auth.go
  solver/scheduler_test.go
  source/git/gitsource_unix.go
  util/archutil/check_unix.go
  util/stack/stack.go
  util/testutil/echoserver/server.go
  util/testutil/integration/containerd.go
  util/testutil/integration/registry.go
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
  util/tracing/otlptracegrpc/connection.go
  util/winlayers/applier.go
  util/winlayers/differ.go
Labels: area/ci
