Repository moby/buildkit, pull requests merged in 2022-08, with the labels that each got.

#2992 `buildctl (du|prune|debug info)`: support `--format {{json .}}`
  client/diskusage.go
  client/info.go
  cmd/buildctl/common/common.go
  cmd/buildctl/debug/info.go
  cmd/buildctl/debug/workers.go
  cmd/buildctl/diskusage.go
  cmd/buildctl/prune.go
Labels: enhancement, area/cli

#2799 dockerfile (labs): implement `ADD <git ref>`
  .golangci.yml
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_addgit.go
  frontend/dockerfile/dockerfile2llb/convert_noaddgit.go
  frontend/dockerfile/dockerfile_addgit_test.go
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/release/labs/tags
  util/gitutil/git_ref.go
  util/gitutil/git_ref_test.go
Labels: enhancement, area/dockerfile, area/llb, impact/dockerfile

#3025 frontend: make sure interactive containers are released on disconnect
  frontend/gateway/container.go
  frontend/gateway/forwarder/forward.go
  frontend/gateway/gateway.go
Labels: needs-cherry-pick/v0.10

#3043 solver: forward nil return value from sharedOp.Exec
  solver/jobs.go
Labels: needs-cherry-pick/v0.10
