Repository moby/buildkit, pull requests merged in 2023-01, with the labels that each got.

#3435 vendor: docker and docker/cli v23.0.0-rc.1
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/docker/cli/cli/connhelper/commandconn/commandconn.go
  vendor/github.com/docker/docker/errdefs/http_helpers.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.11

#3444 [remotecache/s3] fix: "updated_at" in http header can't pass some http gateway, "_" -> "-"
  cache/remotecache/s3/s3.go
Labels: area/cache, needs-cherry-pick/v0.11

#3450 vendor: update spdx/tools-golang to d6f58551be3f
  go.mod
  go.sum
  vendor/github.com/spdx/tools-golang/spdx/v2_2/package.go
  vendor/github.com/spdx/tools-golang/spdx/v2_3/package.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.11

#3375 docs: add slsa provenance documentation
  docs/slsa-definitions.md
  docs/slsa-provenance.md
Labels: kind/docs, area/attestations

#3459 Move attestations docs to dedicated directory
  docs/attestations/README.md
  docs/attestations/attestation-storage.md
  docs/attestations/sbom-protocol.md
  docs/attestations/sbom.md
  docs/attestations/slsa-definitions.md
  docs/attestations/slsa-provenance.md
Labels: kind/docs, area/attestations

#3422 Only supplement SBOMs with file-layer info for specified SBOMs
  docs/attestations/sbom-protocol.md
  exporter/containerimage/attestations.go
  frontend/attestations/sbom/sbom.go
  solver/result/attestation.go
Labels: kind/bug, area/attestations, needs-cherry-pick/v0.11

#3466 exporter: force enabling inline attestations for image export
  exporter/containerimage/export.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
Labels: area/attestations, needs-cherry-pick/v0.11

#3475 azblob_test: pin busybox to avoid "Illegal instruction" error
  hack/azblob_test/test1/Dockerfile
  hack/azblob_test/test2/Dockerfile
Labels: area/ci

#3479 exporter: ensure spdx order prioritizes primary sbom
  exporter/attestation/unbundle.go
Labels: area/attestations, needs-cherry-pick/v0.11

#3484 docs: master -> 0.11
  docs/build-repro.md
  frontend/dockerfile/docs/reference.md
Labels: kind/docs, needs-cherry-pick/v0.11

#3476 azblob cache: account_name attribute
  README.md
  cache/remotecache/azblob/utils.go
Labels: area/cache

#3471 ci: add ci to check README toc
  README.md
  hack/dockerfiles/generated-files.Dockerfile
  hack/validate-generated-files
Labels: area/ci

#3485 docs/build-repro.md: add the SOURCE_DATE_EPOCH section
  docs/build-repro.md
Labels: kind/docs, area/reproducible-builds, needs-cherry-pick/v0.11

#3504 [v0.11 backport] docs/build-repro.md: add the SOURCE_DATE_EPOCH section
  docs/build-repro.md
Labels: kind/docs

#3505 dockerfile: fix panic on warnings with multi-platform
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: needs-cherry-pick/v0.11

#3501 Add registry.insecure option to registry exporter
  cache/remotecache/registry/registry.go
Labels: kind/enhancement, needs/docs-follow-up

#3508 fix(tracing): spelling of OTEL_TRACES_EXPORTER value
  util/tracing/detect/otlp.go
Labels: needs-cherry-pick/v0.11

#3506 Propagate sshforward send side connection close
  session/sshforward/copy.go
Labels: needs-cherry-pick/v0.11

#3514 examples: optimize --dry-run flag
  examples/kubernetes/create-certs.sh
Labels: area/kubernetes

#3456 dockerfile: add testReproSourceDateEpoch
  frontend/dockerfile/dockerfile_test.go
  util/testutil/integration/pins.go
Labels: area/reproducible-builds, area/ci, needs-cherry-pick/v0.11

#3531 vendor: update containerd to v1.6.16-0.1709cfe273d9
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.11

#3530 fixes for history API
  api/services/control/control.pb.go
  api/services/control/control.proto
  client/solve.go
  cmd/buildctl/build.go
  control/control.go
  solver/llbsolver/history.go
  solver/llbsolver/solver.go
Labels: needs-cherry-pick/v0.11

#3493 Make local cache importer non-lazy
  cache/manager.go
  cache/opts.go
  cache/remotecache/local/local.go
  util/contentutil/multiprovider.go
  worker/base/worker.go
Labels: needs-cherry-pick/v0.11

#3498 buildctl: add `buildctl debug histories, buildctl prune-histories`
  cmd/buildctl/debug.go
  cmd/buildctl/debug/histories.go
  cmd/buildctl/main.go
  cmd/buildctl/prunehistories.go
Labels: kind/enhancement, area/cli

#3516 [Windows] Add get-user-info utility
  cmd/buildkitd/main_windows.go
  util/system/getuserinfo/userinfo_windows.go
Labels: area/windows

#3547 Dockerfile: CNI plugins v1.2.0
  Dockerfile
Labels: area/ci

#3333 docs: Enable rootless for stargz-snapshotter
  docs/stargz-estargz.md
Labels: kind/docs, area/rootless

#3460 test: add proxy build args when existed
  .github/CONTRIBUTING.md
  hack/test
Labels: area/testing

#3398 integration: basic s3 cache test
  .github/workflows/build.yml
  Dockerfile
  client/client_test.go
  hack/s3_test/Dockerfile
  hack/s3_test/docker-bake.hcl
  hack/s3_test/run_test.sh
  hack/s3_test/test.sh
  hack/s3_test/test1/Dockerfile
  hack/s3_test/test2/Dockerfile
  util/testutil/integration/minio.go
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
  util/testutil/integration/util.go
Labels: area/testing, needs/follow-up
