Repository moby/buildkit, pull requests merged in 2023-12, with the labels that each got.

#4486 ci(test-os): retry logic for freebsd smoke tests step
  .github/workflows/test-os.yml
Labels: area/ci

#4489 ci(buildkit): set timeout to image job
  .github/workflows/buildkit.yml
Labels: area/ci

#4490 lint: set proper cache key for golangci-lint target
  docker-bake.hcl
  hack/dockerfiles/lint.Dockerfile
Labels: area/testing

#4494 tests: enable previously skipped tests
  source/http/source_test.go
Labels: area/testing, area/windows
