Repository moby/buildkit, pull requests merged in 2023-07, with the labels that each got.

#3979 dockerfile: graduate `ADD <git ref>` and `ADD --checksum=<checksum>` from labs
  .golangci.yml
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_addchecksum.go
  frontend/dockerfile/dockerfile2llb/convert_addgit.go
  frontend/dockerfile/dockerfile2llb/convert_noaddchecksum.go
  frontend/dockerfile/dockerfile2llb/convert_noaddgit.go
  frontend/dockerfile/dockerfile_addchecksum_test.go
  frontend/dockerfile/dockerfile_addgit_test.go
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/release/labs/tags
Labels: area/dockerfile, needs/docs-follow-up

#3982 Fix containerimage multi-platform unpack
  client/client_test.go
  exporter/containerimage/export.go
Labels: kind/bug, area/containerd

#3994 dockerfile: arg for controlling go build flags
  .github/CONTRIBUTING.md
  Dockerfile
  Makefile
  hack/test
Labels: status/merge

#4017 hack: allow to set GO_VERSION during tests
  hack/test
Labels: area/testing

#4016 test: always disable tls for dockerd worker
  util/testutil/integration/dockerd.go
Labels: area/testing

#4034 vendor: github.com/docker/docker 8e51b8b59cb8 (master, v25.0.0-dev)
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/system/info.go
  vendor/github.com/docker/docker/api/types/system/runtime.go
  vendor/github.com/docker/docker/api/types/system/security_opts.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/types_deprecated.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_attach.go
  vendor/github.com/docker/docker/client/container_exec.go
  vendor/github.com/docker/docker/client/distribution_inspect.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/image_build.go
  vendor/github.com/docker/docker/client/image_create.go
  vendor/github.com/docker/docker/client/image_load.go
  vendor/github.com/docker/docker/client/image_push.go
  vendor/github.com/docker/docker/client/image_search.go
  vendor/github.com/docker/docker/client/info.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/plugin_install.go
  vendor/github.com/docker/docker/client/plugin_push.go
  vendor/github.com/docker/docker/client/plugin_upgrade.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/service_create.go
  vendor/github.com/docker/docker/client/service_update.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.12

#4040 executor/resource: stub out NewSysSampler on Windows
  executor/resources/sys.go
  executor/resources/sys_linux.go
  executor/resources/sys_nolinux.go
  solver/llbsolver/solver.go
Labels: needs/follow-up, needs-cherry-pick/v0.12

#4046 llb: Correct 'contexst' typo in State.Run function's documentation
  client/llb/state.go
Labels: status/merge

#4055 [0.12 backport] integration: missing env var to check feature compat
  hack/test
Labels: area/testing

#4062 frontend/dockerfile/dockerignore: assorted cleanups
  frontend/dockerfile/dockerignore/dockerignore.go
  frontend/dockerfile/dockerignore/dockerignore_test.go
  frontend/dockerui/config.go
  frontend/dockerui/namedcontext.go
Labels: area/dockerfile

#4075 docs: troubleshoot for `mount proc:/proc (via /proc/self/fd/6), flags…
  docs/rootless.md
Labels: kind/docs, area/rootless, needs-cherry-pick/v0.11, needs-cherry-pick/v0.12
