Repository moby/buildkit, pull requests merged in 2023-02, with the labels that each got.

#3556 progress: keep color enabled with NO_COLOR empty
  util/progress/progressui/init.go
Labels: needs-cherry-pick/v0.11

#3559 SOURCE_DATE_EPOCH: drop timezone
  exporter/util/epoch/parse.go
  frontend/dockerfile/builder/build.go
Labels: area/reproducible-builds, needs-cherry-pick/v0.11

#3558 sbom: always create tmp directory for scanner image
  frontend/attestations/sbom/sbom.go
Labels: area/attestations, needs-cherry-pick/v0.11

#3477 integration: basic azblob cache test
  .github/workflows/build.yml
  Dockerfile
  client/client_test.go
  hack/azblob_test/Dockerfile
  hack/azblob_test/docker-bake.hcl
  hack/azblob_test/run_test.sh
  hack/azblob_test/test.sh
  hack/azblob_test/test1/Dockerfile
  hack/azblob_test/test2/Dockerfile
  util/testutil/integration/azurite.go
Labels: area/testing, needs/follow-up

#3467 docs: change semicolons to double ampersands
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#3567 integration: fix compat check for CNI DNS test
  client/build_test.go
  client/client_test.go
  util/testutil/integration/dockerd.go
  util/testutil/integration/sandbox.go
Labels: needs-cherry-pick/v0.11

#3577 docs: update syntax for labs channel in examples
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs, needs-cherry-pick/v0.11

#3583 frontend: fix typo in release script
  frontend/dockerfile/cmd/dockerfile-frontend/hack/release
Labels: needs-cherry-pick/v0.11

#3580 inline cache: fix blob indexes by uncompressed digest
  cache/remotecache/inline/inline.go
Labels: needs-cherry-pick/v0.10, needs-cherry-pick/v0.11

#3570 ci: create matrix for building frontend image
  .github/workflows/build.yml
Labels: area/ci

#3597 hack: do not set attest flags when exporting to docker
  hack/images
Labels: area/hack

#3596 git context: fix support for empty git ref with subdir
  source/gitidentifier_test.go
  util/gitutil/git_ref.go
  util/gitutil/git_ref_test.go
Labels: needs-cherry-pick/v0.10, needs-cherry-pick/v0.11

#3605 cache: add fallback for snapshotID
  cache/metadata.go
Labels: needs-cherry-pick/v0.11

#3566 cache: don’t link blobonly based on chainid
  cache/manager.go
Labels: needs-cherry-pick/v0.11

#3543 hack: do not cache some stages on release
  .github/workflows/build.yml
  frontend/dockerfile/cmd/dockerfile-frontend/hack/release
  hack/images
  hack/release-tar
Labels: area/hack, area/ci, needs-cherry-pick/v0.11

#3594 Fix bugs in SBOM layer comment generation
  client/client_test.go
  exporter/containerimage/attestations.go
Labels: needs-cherry-pick/v0.11

#3616 ci: remove branch restriction on pull request event
  .github/workflows/build.yml
  .github/workflows/validate.yml
Labels: area/ci

#3612 integration: set custom flags for dockerd worker
  .github/workflows/dockerd.yml
  hack/test
  util/testutil/dockerd/daemon.go
  util/testutil/integration/dockerd.go
Labels: needs/moby-follow-up

#3618 gha: avoid range requests with too big offset
  cache/remotecache/gha/gha.go
Labels: needs-cherry-pick/v0.11

#3621 integration: make sure registry directory exists
  util/testutil/integration/run.go
Labels: area/hack

#3623 ci: update buildx to latest
  .github/workflows/build.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/validate.yml
Labels: area/ci

#3109 Fix cache cannot reuse lazy layers
  cache/remotecache/v1/cachestorage.go
  client/client_test.go
  control/control.go
  solver/cache_test.go
  solver/cachemanager.go
  solver/cachestorage.go
  solver/combinedcache.go
  solver/edge.go
  solver/jobs.go
  solver/llbsolver/bridge.go
  solver/memorycachestorage.go
  solver/types.go
  worker/cacheresult.go
Labels: status/code-review

#3237 ci: move frontend integration tests and build to a dedicated workflow
  .github/workflows/.test.yml
  .github/workflows/build.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
  README.md
Labels: area/ci

#3648 ci: fix missing TESTFLAGS env var in test-os workflow
  .github/workflows/test-os.yml
Labels: area/ci

#3642 ci: split cross job
  .github/workflows/buildkit.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  Dockerfile
  hack/build_ci_first_pass
  hack/cross
Labels: area/ci

#3664 Bake workflow for validation
  .github/workflows/validate.yml
  Makefile
  docker-bake.hcl
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/doctoc.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/shfmt.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
  hack/generate-authors
  hack/lint
  hack/shfmt
  hack/update-generated-files
  hack/update-vendor
  hack/validate-generated-files
  hack/validate-shfmt
  hack/validate-vendor
Labels: area/hack, area/ci

#3651 Ensures that the primary GID is also included in the additional GIDs
  executor/oci/user.go
  frontend/dockerfile/dockerfile_test.go
Labels: needs-cherry-pick/v0.10, needs-cherry-pick/v0.11

#3675 test: Close buildkit client in TestSBOMSupplements
  client/client_test.go
Labels: needs-cherry-pick/v0.10, needs-cherry-pick/v0.11
