Repository moby/buildkit, pull requests merged in 2023-05, with the labels that each got.

#3831 docs: fixup build repro doc with updated policy format
  docs/build-repro.md
Labels: kind/docs

#3851 cache: always release ref when getting size in usage.
  cache/manager.go
Labels: status/merge

#3786 ci: update runner os to ubuntu 22.04
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci

#3545 [Windows] Add Windows service support
  cmd/buildkitd/main.go
  cmd/buildkitd/service_unix.go
  cmd/buildkitd/service_windows.go
  vendor/golang.org/x/sys/windows/svc/mgr/config.go
  vendor/golang.org/x/sys/windows/svc/mgr/mgr.go
  vendor/golang.org/x/sys/windows/svc/mgr/recovery.go
  vendor/golang.org/x/sys/windows/svc/mgr/service.go
  vendor/golang.org/x/sys/windows/svc/security.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/modules.txt
Labels: area/windows

#3881 session: fix run and close synchronization
  session/session.go
Labels: kind/bug

#3829 test: use appropriate snapshotter service to walk snapshots
  client/client_test.go
Labels: status/merge

#3896 provenance: fix possible empty digest access
  solver/llbsolver/provenance/predicate.go
Labels: needs-cherry-pick/v0.11

#3917 vendor: update spdx/tools-golang to v0.5.1
  go.mod
  go.sum
  vendor/github.com/spdx/tools-golang/json/writer.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_1/creation_info.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_1/package.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_2/creation_info.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_2/document.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_2/package.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_3/creation_info.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_3/document.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_3/package.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Labels: dependencies

#3918 Ensure Provenance Material URIs for OCI sources are configured to use `pkg:oci` PURLs
  client/client_test.go
  exporter/containerimage/writer.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_test.go
  solver/llbsolver/provenance.go
  solver/llbsolver/provenance/capture.go
  solver/llbsolver/provenance/predicate.go
  util/purl/image.go
  util/purl/image_test.go
Labels: area/attestations
