Repository moby/buildkit, pull requests merged in 2023-03, with the labels that each got.

#3544 [Windows] Fix tracing listener
  cmd/buildkitd/main.go
  cmd/buildkitd/main_unix.go
  cmd/buildkitd/main_windows.go
  executor/oci/spec.go
  executor/oci/spec_unix.go
  executor/oci/spec_windows.go
Labels: area/windows

#3611 Allow POSIX variable substitution to remove optional colon
  frontend/dockerfile/shell/lex.go
  frontend/dockerfile/shell/lex_test.go
Labels: kind/enhancement, area/dockerfile

#3697 rootless: support Bottlerocket OS
  cache/refs.go
  docs/rootless.md
  examples/kubernetes/sysctl-userns.privileged.yaml
  executor/oci/spec.go
  snapshot/localmounter_unix.go
  util/rootless/mountopts/mountopts_linux.go
  util/rootless/mountopts/mountopts_others.go
  util/strutil/strutil.go
Labels: area/rootless, area/kubernetes, needs-cherry-pick/v0.11

#3687 remove context name validation from kubepod connhelper
  client/connhelper/kubepod/kubepod.go
  client/connhelper/kubepod/kubepod_test.go
Labels: area/kubernetes

#3666 hack: binaries and cross bake targets
  .github/workflows/buildkit.yml
  .gitignore
  Makefile
  docker-bake.hcl
  hack/binaries
  hack/cross
  hack/release
  hack/release-tar
Labels: area/hack, area/ci

#3708 hack: remove build_ci_first_pass script
  .github/workflows/.test.yml
  docker-bake.hcl
  hack/build_ci_first_pass
Labels: area/hack, area/ci

#3582 remove buildinfo
  README.md
  client/client_test.go
  docs/build-repro.md
  docs/buildinfo.md
  docs/deprecated.md
  exporter/containerimage/export.go
  exporter/containerimage/exptypes/types.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
  exporter/oci/export.go
  frontend/dockerfile/cmd/dockerfile-frontend/hack/release
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_buildinfo_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/docs/reference.md
  hack/images
  solver/jobs.go
  solver/llbsolver/proc/sbom.go
  solver/llbsolver/solver.go
  util/buildinfo/buildinfo.go
  util/buildinfo/buildinfo_test.go
  util/buildinfo/types/types.go
  util/imageutil/buildinfo.go
Labels: needs/docs-follow-up

#3622 dockerfile: fix reproducible digest test for non-amd64
  frontend/dockerfile/dockerfile_test.go
  util/testutil/integration/pins.go
Labels: status/merge

#3711 integration: enforce features compat through env vars
  client/client_test.go
  client/mergediff_test.go
  frontend/dockerfile/dockerfile_test.go
  hack/test
  util/testutil/integration/dockerd.go
  util/testutil/integration/sandbox.go
Labels: area/testing, needs-cherry-pick/v0.11

#3715 integration: missing feature compat checks
  client/build_test.go
  client/client_test.go
Labels: area/testing

#3712 chore: `translateLegacySolveRequest` does not need to return error checking
  control/control.go
Labels: status/merge

#3357 Update builder.md to document newly supported --chmod features in both ADD and COPY statements.
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#3722 fix process termination handling for runc exec
  executor/runcexecutor/executor.go
  executor/runcexecutor/executor_common.go
  executor/runcexecutor/executor_linux.go
Labels: needs-cherry-pick/v0.11

#3727 ci: output annotations for failures
  .github/workflows/.test.yml
  .github/workflows/test-os.yml
  .gitignore
  Dockerfile
  hack/test
Labels: area/testing, area/ci

#3701 [0.11 backport] rootless: support Bottlerocket OS
  cache/refs.go
  docs/rootless.md
  examples/kubernetes/sysctl-userns.privileged.yaml
  executor/oci/spec.go
  snapshot/localmounter_unix.go
  util/rootless/mountopts/mountopts_linux.go
  util/rootless/mountopts/mountopts_others.go
  util/strutil/strutil.go
Labels: area/rootless, area/kubernetes

#3726 Register builds before recording build history
  solver/llbsolver/solver.go
Labels: needs-cherry-pick/v0.11

#3658 fix gateway exec tty cleanup on context.Canceled
  client/build_test.go
  frontend/gateway/grpcclient/client.go
Labels: needs-cherry-pick/v0.11

#3732 llbsolver: Fix performance of recomputeDigests
  client/client_test.go
  solver/llbsolver/vertex.go
Labels: needs-cherry-pick/v0.11

#3733 llbsolver: fix sorting of history records
  solver/llbsolver/history.go
Labels: needs-cherry-pick/v0.11

#3747 docs: add auto-generated sections to buildctl.md
  Makefile
  README.md
  docker-bake.hcl
  docs/generate.go
  docs/reference/buildctl.md
  hack/dockerfiles/docs.Dockerfile
Labels: kind/docs

#3762 Dockerfile: RUNC_VERSION=v1.1.5
  Dockerfile
Labels: needs-cherry-pick/v0.11
