Repository moby/buildkit, pull requests merged in 2023-06, with the labels that each got.

#3783 [Windows] Fix local mounter on Windows
  snapshot/localmounter_windows.go
Labels: area/windows

#3954 tests: add worker cleanup method to interface
  util/testutil/integration/containerd.go
  util/testutil/integration/dockerd.go
  util/testutil/integration/oci.go
  util/testutil/integration/run.go
Labels: area/testing

#3962 docs: dockerfile: remove "known issues" related to AuFS
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#3860 Add resource usage monitoring for build steps
  Dockerfile
  executor/containerdexecutor/executor.go
  executor/executor.go
  executor/resources/cpu.go
  executor/resources/cpu_test.go
  executor/resources/io.go
  executor/resources/io_test.go
  executor/resources/memory.go
  executor/resources/memory_test.go
  executor/resources/monitor.go
  executor/resources/monitor_linux.go
  executor/resources/monitor_nolinux.go
  executor/resources/pids.go
  executor/resources/pids_test.go
  executor/resources/sampler.go
  executor/resources/sys.go
  executor/resources/types/systypes.go
  executor/resources/types/types.go
  executor/runcexecutor/executor.go
  executor/runcexecutor/executor_common.go
  executor/runcexecutor/executor_linux.go
  frontend/gateway/container.go
  frontend/gateway/gateway.go
  go.mod
  solver/llbsolver/bridge.go
  solver/llbsolver/ops/exec.go
  solver/llbsolver/proc/provenance.go
  solver/llbsolver/proc/sbom.go
  solver/llbsolver/provenance.go
  solver/llbsolver/provenance/buildconfig.go
  solver/llbsolver/provenance/capture.go
  solver/llbsolver/provenance/predicate.go
  solver/llbsolver/solver.go
  util/network/cniprovider/cni.go
  util/network/cniprovider/cni_linux.go
  util/network/cniprovider/cni_nolinux.go
  util/network/host.go
  util/network/network.go
  util/network/none.go
  worker/base/worker.go
  worker/runc/runc.go
  worker/runc/runc_test.go
  worker/tests/common.go
Labels: needs/docs-follow-up

#3263 containerimage: support SOURCE_DATE_EPOCH for CreatedAt
  client/client_test.go
  exporter/containerimage/export.go
  go.mod
  go.sum
  util/testutil/integration/sandbox.go
  vendor/github.com/Masterminds/semver/v3/.gitignore
  vendor/github.com/Masterminds/semver/v3/.golangci.yml
  vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  vendor/github.com/Masterminds/semver/v3/LICENSE.txt
  vendor/github.com/Masterminds/semver/v3/Makefile
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/collection.go
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/doc.go
  vendor/github.com/Masterminds/semver/v3/fuzz.go
  vendor/github.com/Masterminds/semver/v3/version.go
  vendor/modules.txt
Labels: area/reproducible-builds

#3981 overlay: set whiteout timestamps to 1970-01-01 (not to SOURCE_DATE_EPOCH)
  util/overlay/overlay_linux.go
Labels: area/reproducible-builds
