Repository moby/buildkit, pull requests merged in 2023-08, with the labels that each got.

#4081 executor: fix resource sampler goroutine leak
  executor/resources/monitor.go
  executor/resources/types/types.go
  executor/runcexecutor/executor.go
Labels: needs-cherry-pick/v0.12

#4078 set tracing socket path to runtime dir
  cmd/buildkitd/main.go
  cmd/buildkitd/main_unix.go
  cmd/buildkitd/main_windows.go
  util/appdefaults/appdefaults_unix.go
  util/appdefaults/appdefaults_windows.go
  util/testutil/integration/containerd.go
  util/testutil/integration/oci.go
  util/testutil/integration/sandbox.go
  util/testutil/integration/sandbox_unix.go
  util/testutil/integration/sandbox_windows.go
Labels: needs-cherry-pick/v0.12

#3980 docs/build-repro.md: fix description about squashing
  docs/build-repro.md
  frontend/dockerfile/dockerfile_test.go
Labels: kind/docs, area/reproducible-builds, needs-cherry-pick/v0.11, needs-cherry-pick/v0.12

#4095 ci(test-os): bump actions
  .github/workflows/test-os.yml
Labels: area/ci

#4085 docs: removed labs ref for ADD checksum and git
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs, needs-cherry-pick/v0.12

#4098 [0.12 backport] docs: removed labs ref for ADD checksum and git
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#4006 tests: refactor integration test package
  client/build_test.go
  client/client_nydus_test.go
  client/client_test.go
  client/mergediff_test.go
  cmd/buildctl/build_test.go
  cmd/buildctl/buildctl_test.go
  frontend/dockerfile/dockerfile_heredoc_test.go
  frontend/dockerfile/dockerfile_outline_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_runnetwork_test.go
  frontend/dockerfile/dockerfile_targets_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/frontend_test.go
  solver/jobs_test.go
  util/testutil/helpers/azurite.go
  util/testutil/helpers/minio.go
  util/testutil/integration/registry.go
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
  util/testutil/integration/util.go
  util/testutil/workers/backend.go
  util/testutil/workers/containerd.go
  util/testutil/workers/dockerd.go
  util/testutil/workers/features.go
  util/testutil/workers/oci.go
  util/testutil/workers/sysprocattr_unix.go
  util/testutil/workers/sysprocattr_windows.go
  util/testutil/workers/util.go
  worker/containerd/containerd_test.go
Labels: area/testing, status/merge

#4096 [0.12 backport] docs/build-repro.md: fix description about squashing
  docs/build-repro.md
  frontend/dockerfile/dockerfile_test.go
Labels: kind/docs, area/reproducible-builds

#4097 [0.11 backport] docs/build-repro.md: fix description about squashing
  docs/build-repro.md
  frontend/dockerfile/dockerfile_test.go
Labels: kind/docs, area/reproducible-builds

#4101 integration: fix rootless tests
  cmd/buildkitd/config/config.go
  cmd/buildkitd/config/load_test.go
  cmd/buildkitd/main.go
  docs/buildkitd.toml.md
  util/testutil/integration/sandbox.go
  util/testutil/workers/containerd.go
  util/testutil/workers/oci.go
  util/testutil/workers/util.go
Labels: area/testing, area/rootless

#4044 Add support for JSON formatted logs
  cmd/buildctl/main.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main.go
  docs/buildkitd.toml.md
  docs/reference/buildctl.md
Labels: needs/release-notes

#4012 Clarify the behavior of wildcards in .dockerignore file
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#4121 Update docs to note that index annotations fail if an index is not produced
  docs/annotations.md
Labels: needs-cherry-pick/v0.11, needs-cherry-pick/v0.12

#4120 docs: update gcpolicy percentage to refer to total space
  docs/buildkitd.toml.md
Labels: needs-cherry-pick/v0.12

#4144 Dockerfile: RUNC_VERSION=v1.1.9
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.12

#4147 chore: split vagrant provisioning
  .github/workflows/test-os.yml
  hack/Vagrantfile.freebsd13
  hack/dockerfiles/freebsd-smoke.Dockerfile
Labels: area/testing

#4148 ci: dump context on failure
  .github/workflows/.test.yml
  .github/workflows/test-os.yml
Labels: area/ci
