Repository moby/buildkit, pull requests merged in 2023-11, with the labels that each got.

#3001 Add --parents opt-in flag for ADD/COPY (labs)
  docker-bake.hcl
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_parents_test.go
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/instructions/parse_parents.go
  frontend/dockerfile/release/labs/tags
Labels: kind/enhancement

#4357 dockerfile: smoke tests for binaries
  .github/workflows/buildkit.yml
  Dockerfile
Labels: area/testing

#4412 ci(test-os): enable SSH keep alive in vagrant vm
  hack/Vagrantfile.freebsd13
Labels: area/testing

#4411 enable golangci-lint for supported platforms
  .github/workflows/validate.yml
  .golangci.yml
  docker-bake.hcl
  hack/dockerfiles/lint.Dockerfile
Labels: area/testing

#4287 Trimming in variable substitution
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/shell/lex.go
  frontend/dockerfile/shell/lex_test.go
Labels: area/dockerfile

#4442 docs: dockerfile instructions quick reference
  frontend/dockerfile/docs/reference.md
Labels: kind/docs

#4421 docs: refresh dockerfile frontend reference
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#4451 llbsolver: fix possible panic when setting event to nil
  solver/llbsolver/history.go
Labels: needs-cherry-pick/v0.12
