Repository moby/buildkit, pull requests merged in 2023-09, with the labels that each got.

#4190 llb: avoid duplicate instances of sourcemaps in provenance
  client/llb/sourcemap.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: needs-cherry-pick/v0.12

#4199 ci: update github actions to latest stable
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci

#4200 Manually implement `client.Wait` backoffs
  client/client.go
  cmd/buildctl/common/common.go
Labels: needs-cherry-pick/v0.12

#4212 docs: Add `[dns]` snippet to `buildkitd.toml` example file
  docs/buildkitd.toml.md
Labels: kind/docs

#4191 ci(test-os): cross build freebsd binaries using the Dockerfile
  .github/workflows/test-os.yml
  hack/Vagrantfile.freebsd13
Labels: area/testing

#4057 exporter/containerimage: new option: rewrite-timestamp (Apply `SOURCE_DATE_EPOCH` to file timestamps)
  README.md
  cache/blobs.go
  cache/manager_test.go
  docs/build-repro.md
  exporter/containerimage/export.go
  exporter/containerimage/exptypes/keys.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
  frontend/dockerfile/dockerfile_test.go
  util/contentutil/storewithprovider.go
  util/converter/converter.go
  util/converter/tarconverter/tarconverter.go
  util/converter/tarconverter/tarconverter_test.go
Labels: area/reproducible-builds

#4234 ci: update github actions to latest stable
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci

#4235 ci(test-os): increase vm boot time to 10m
  hack/Vagrantfile.freebsd13
Labels: area/ci

#4273 docs: note that gckeepstorage can take different types
  docs/buildkitd.toml.md
Labels: kind/docs

#3737 docs/rootless: use Bottlerocket's API configurations
  docs/rootless.md
  examples/eksctl/bottlerocket.yaml
Labels: kind/docs, area/rootless, area/kubernetes

#4280 integration: set otel socket path through buildkit config
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
  util/testutil/workers/dockerd.go
  util/testutil/workers/util.go
Labels: area/testing

#4289 ci(test): fix unhandled buildkitd tags
  .github/workflows/.test.yml
Labels: area/testing
