Repository moby/buildkit, pull requests merged in 2023-04, with the labels that each got.

#3784 Fix bearer token expiration check (fixes #3779)
  util/resolver/authorizer.go
Labels: status/merge, needs-cherry-pick/v0.11

#3805 Add checks to avoid provenance and sbom post processing if not results were created
  solver/llbsolver/proc/sbom.go
Labels: needs-cherry-pick/v0.11

#3104 Update uses of Image platform fields in OCI image-spec
  exporter/containerimage/writer.go
  frontend/dockerfile/dockerfile2llb/image.go
Labels: status/design-review
