Repository moby/buildkit, pull requests merged in 2023-10, with the labels that each got.

#4308 Don't support cgroupns on cgroups v1
  executor/oci/spec.go
  executor/oci/spec_freebsd.go
  executor/oci/spec_linux.go
  executor/oci/spec_windows.go
Labels: needs-cherry-pick/v0.12

#4311 ResolveImageConfig: Only fetch best matching config
  util/imageutil/config.go
  util/imageutil/config_test.go
Labels: needs-cherry-pick/v0.12

#4333 solver: protect against nil rres upon errors
  solver/cachemanager.go
Labels: needs-cherry-pick/v0.12

#4335 README: BuildKit is now default in the Engine
  README.md
Labels: kind/docs, area/moby-integration

#3518 Implement readUser on Windows
  solver/llbsolver/file/backend.go
  solver/llbsolver/file/backend_unix.go
  solver/llbsolver/file/backend_windows.go
  solver/llbsolver/file/refmanager.go
  solver/llbsolver/file/user_nolinux.go
  solver/llbsolver/ops/file.go
  solver/llbsolver/ops/user_linux.go
  solver/llbsolver/ops/user_other.go
  solver/llbsolver/ops/user_windows.go
Labels: area/windows

#4363 ci(test-os): increase vm boot time to 15m
  hack/Vagrantfile.freebsd13
Labels: area/ci

#4346 solver: fix possible concurrent map access on cache export
  solver/cachekey.go
  solver/combinedcache.go
  solver/exporter.go
Labels: needs-cherry-pick/v0.12

#4362 llbsolver: fix possible deadlock in history listen
  solver/llbsolver/history.go
Labels: needs-cherry-pick/v0.12

#4378 ci(test-os): fix freebsd job
  .github/workflows/test-os.yml
Labels: area/ci

#4288 vendor: update nydus-snapshotter to v0.13.1
  go.mod
  go.sum
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/constant.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_unix.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_windows.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/tool/builder.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/tool/feature.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/types.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/label/label.go
  vendor/modules.txt
Labels: dependencies
