Repository moby/buildkit, pull requests merged in 2024-01, with the labels that each got.

#4499 dockerfile: mitigate flaky smoke test with timeout
  .github/workflows/buildkit.yml
  Dockerfile
Labels: area/testing, area/ci

#4427 String substitution in variable expansion
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/shell/lex.go
  frontend/dockerfile/shell/lex_test.go
Labels: area/dockerfile, needs/docs-follow-up

#4547 rootless: use `~/.config/buildkit/cni.json`
  cmd/buildkitd/main.go
  util/appdefaults/appdefaults_unix.go
  util/appdefaults/appdefaults_windows.go
Labels: area/rootless

#4546 cniprovider: support `rootlesskit --detach-netns` (RootlessKit v2)
  .github/workflows/.test.yml
  Dockerfile
  client/client_test.go
  frontend/dockerfile/dockerfile_runnetwork_test.go
  go.mod
  go.sum
  util/network/cniprovider/bridge.go
  util/network/cniprovider/cni.go
  util/network/cniprovider/cni_linux.go
  util/network/cniprovider/cni_nolinux.go
  util/testutil/integration/run.go
  util/testutil/workers/backend.go
  util/testutil/workers/containerd.go
  util/testutil/workers/dockerd.go
  util/testutil/workers/oci.go
  util/testutil/workers/oci_unix.go
  vendor/github.com/containernetworking/plugins/LICENSE
  vendor/github.com/containernetworking/plugins/pkg/ns/README.md
  vendor/github.com/containernetworking/plugins/pkg/ns/ns_linux.go
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/SECURITY.md
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/github.com/vishvananda/netns/.golangci.yml
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/doc.go
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_others.go
  vendor/github.com/vishvananda/netns/nshandle_linux.go
  vendor/github.com/vishvananda/netns/nshandle_others.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/golang.org/x/tools/cmd/stringer/stringer.go
  vendor/golang.org/x/tools/go/internal/packagesdriver/sizes.go
  vendor/golang.org/x/tools/go/packages/doc.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/event/tag/tag.go
  vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  vendor/golang.org/x/tools/internal/typesinternal/objectpath.go
  vendor/modules.txt
Labels: area/rootless

#4568 dockerfile: validate order when linking stages
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_runmount.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile

#4580 use local context and disable image push if not upstream repo
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
  hack/util
Labels: area/ci, needs-cherry-pick/v0.12

#4590 docs: tiny improvements
  docs/buildkitd.toml.md
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs
