Repository moby/buildkit, pull requests merged in 2024-12, with the labels that each got.

#5563 llbsolver: tie op metadata to the op before recomputing digests
  solver/llbsolver/vertex.go
  solver/llbsolver/vertex_test.go
Labels: area/testing, needs/follow-up, area/solver

#5564 [v0.18] pick llb metadata regression on version conflict fix
  solver/llbsolver/vertex.go
  solver/llbsolver/vertex_test.go
Labels: area/testing, area/solver

#5565 [v0.17.3] cherry-picks
  solver/llbsolver/vertex.go
  solver/llbsolver/vertex_test.go
Labels: area/testing, area/solver

#5571 chore: fix some function name in comment
  cache/refs.go
  util/system/path_test.go
Labels: area/testing, area/storage, area/util

#5568 integration: log goroutine trace on test timeout
  client/client_test.go
  cmd/buildkitd/debug.go
  cmd/buildkitd/main.go
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
  util/testutil/workers/backend.go
  util/testutil/workers/containerd.go
  util/testutil/workers/oci.go
  util/testutil/workers/util.go
  util/testutil/workers/util_unix.go
  util/testutil/workers/util_windows.go
Labels: area/testing, area/windows, area/client, area/util, area/buildkitd

#5582 update xx to v1.6.1, alpine to 3.21
  Dockerfile
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/docs-dockerfile.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/dockerfile, area/project, area/hack, area/frontend

#5574 tests: client: enable a batch of integration tests for wcow (pt.2)
  client/client_test.go
Labels: area/testing, area/client

#5577 llb: avoid concurrent map write on parallel marshal
  client/llb/definition.go
  client/llb/diff.go
  client/llb/exec.go
  client/llb/fileop.go
  client/llb/fileop_test.go
  client/llb/llbbuild/llbbuild.go
  client/llb/marshal.go
  client/llb/merge.go
  client/llb/source.go
Labels: area/llb, area/testing, area/client

#5557 vendor: github.com/docker/docker, github.com/docker/cli v27.4.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies, status/code-review, dependencies

#5562 dockerfile: add test for step names stability
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5588 Dockerfile: update runc binary to v1.2.3
  Dockerfile
Labels: area/project

#5554 tests: client: enable a batch of integration tests for wcow (pt.1)
  client/client_test.go
Labels: area/testing, area/client

#5596 dockerfile: fix named context replacement for child stages
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5590 dockerfile: add regression test for parallel cache mounts
  frontend/dockerfile/dockerfile_mount_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5593 dockerfile: fix onbuild propagation for child stages
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/image.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5601 [v0.18] cherry-picks for v0.18.2
  Dockerfile
  client/llb/definition.go
  client/llb/diff.go
  client/llb/exec.go
  client/llb/fileop.go
  client/llb/fileop_test.go
  client/llb/llbbuild/llbbuild.go
  client/llb/marshal.go
  client/llb/merge.go
  client/llb/source.go
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/image.go
  frontend/dockerfile/dockerfile_mount_test.go
  frontend/dockerfile/dockerfile_test.go
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/lint.Dockerfile
Labels: area/dockerfile, area/project, area/llb, area/testing, area/hack, area/client, area/frontend

#5600 hack: remove loong64 validation in archutil
  hack/dockerfiles/archutil.Dockerfile
Labels: area/hack, needs-cherry-pick/v0.18

#5599 archutil: regenerate to fix loong64
  util/archutil/loong64_binary.go
Labels: needs/follow-up, area/util

#5609 update archutil
  util/archutil/arm_binary.go
Labels: area/util

#5606 solver: protect against nil dereference on uninitialized vertex
  solver/jobs.go
Labels: area/solver

#5605 migrate to github.com/moby/sys/reexec
  cmd/buildkitd/main.go
  go.mod
  go.sum
  source/git/source_unix_nolinux.go
  util/system/getuserinfo/userinfo_windows.go
  vendor/github.com/moby/sys/reexec/LICENSE
  vendor/github.com/moby/sys/reexec/reexec.go
  vendor/github.com/moby/sys/reexec/reexec_linux.go
  vendor/github.com/moby/sys/reexec/reexec_other.go
  vendor/modules.txt
Labels: area/windows, area/dependencies, needs/follow-up, area/util, area/buildkitd, area/source

#5616 vendor: github.com/docker/docker, github.com/docker/cli v27.4.1
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/pkg/system/lstat_unix.go
  vendor/github.com/docker/docker/pkg/system/lstat_windows.go
  vendor/github.com/docker/docker/pkg/system/mknod.go
  vendor/github.com/docker/docker/pkg/system/mknod_freebsd.go
  vendor/github.com/docker/docker/pkg/system/mknod_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/pkg/system/stat_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_windows.go
  vendor/modules.txt
Labels: area/dependencies
