Repository moby/buildkit, pull requests merged in 2024-03, with the labels that each got.

#4728 dockerfile: allow pivot point for --parents flag
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_parents_test.go
  frontend/dockerfile/docs/reference.md
  util/system/path.go
Labels: area/dockerfile, needs-cherry-pick/v0.13

#4739 ci: enable multi-platform lint only for upstream repo
  .github/workflows/validate.yml
Labels: area/ci, needs-cherry-pick/v0.13

#4737 docs: replace references to the master branch with v0.13
  README.md
  docs/build-repro.md
  frontend/dockerfile/docs/reference.md
Labels: kind/docs, needs-cherry-pick/v0.13

#4740 fix(docs): add the containers feature enabling step
  docs/windows.md
Labels: needs-cherry-pick/v0.13

#4736 testutil: add binary and extraEnv opt for dockerd worker
  util/testutil/dockerd/daemon.go
  util/testutil/integration/run.go
  util/testutil/workers/backend.go
  util/testutil/workers/containerd.go
  util/testutil/workers/dockerd.go
Labels: area/testing

#4744 docs: add type=tmpfs to run mounts overview
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#4775 solver: stub out sysSampler close
  solver/llbsolver/solver.go
Labels: needs-cherry-pick/v0.13

#4788 gha: add support for batch checking existing keys
  cache/remotecache/gha/gha.go
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/rest.go
  vendor/modules.txt
Labels: needs/follow-up

#4796 inline: fix uncompressed digest importing from multiple providers
  cache/remotecache/inline/inline.go
Labels: area/moby-integration

#4801 ci: update workflow artifacts retention
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/dockerd.yml
  .github/workflows/test-os.yml
Labels: area/ci, needs-cherry-pick/v0.13

#4800 docs: dockerfile copy fixups
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs
