Repository moby/buildkit, pull requests merged in 2024-09, with the labels that each got.

#5207 fix: check network mode when choosing resolv.conf
  executor/oci/resolvconf.go
  executor/oci/resolvconf_test.go
Labels: area/testing, area/executor

#5280 vendor: github.com/docker/docker v27.2.0
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/image/manifest.go
  vendor/github.com/docker/docker/api/types/image/opts.go
  vendor/github.com/docker/docker/api/types/image/summary.go
  vendor/github.com/docker/docker/api/types/registry/authconfig.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/docker/docker/pkg/chrootarchive/diff_unix.go
  vendor/modules.txt
Labels: area/dependencies

#5281 vendor: github.com/containerd/typeurl/v2 v2.2.0
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/modules.txt
Labels: area/dependencies

#5239 tests: frontend/dockerfile: update integration tests for windows/wcow (part 3)
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5275 docs: add min dockerfile version for flags
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5286 vendor: github.com/moby/sys/signal v0.7.1
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#5285 vendor: github.com/moby/sys/mountinfo v0.7.2
  go.mod
  go.sum
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/modules.txt
Labels: area/dependencies

#5243 frontend: command casing rule check after parsing the ast
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
Labels: area/dockerfile, area/testing, area/frontend

#5294 docs: use front matter title in buildkitd.toml doc
  docs/buildkitd.toml.md
Labels: area/docs

#5182 errdefs: detect certain sycall errors as internal
  errdefs/errdefs.go
  errdefs/internal.go
  errdefs/internal_linux.go
  errdefs/internal_nolinux.go
  util/grpcerrors/grpcerrors.go
Labels: area/util

#5287 docs: update reference docs for `check` directive
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/linter/docs/_index.md
Labels: area/dockerfile, area/frontend, area/docs

#5295 frontend: add SourceInfoMap callback to LintResults.PrintErrorTo params
  frontend/subrequests/lint/lint.go
Labels: area/frontend

#5298 chore: update AUTHORS and mailmap
  .mailmap
  AUTHORS
Labels: area/project

#5300 Dockerfile: update runc binary to 1.1.14
  Dockerfile
Labels: area/project

#5303 vendor: github.com/containerd/containerd v1.7.21
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/BUILDING.md
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/archive/tar_unix.go
  vendor/github.com/containerd/containerd/cio/io.go
  vendor/github.com/containerd/containerd/cio/io_unix.go
  vendor/github.com/containerd/containerd/cio/io_windows.go
  vendor/github.com/containerd/containerd/diff/apply/apply_linux.go
  vendor/github.com/containerd/containerd/mount/mount_linux.go
  vendor/github.com/containerd/containerd/oci/utils_unix.go
  vendor/github.com/containerd/containerd/pkg/deprecation/deprecation.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_linux.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_unsupported.go
  vendor/github.com/containerd/containerd/services/introspection/local.go
  vendor/github.com/containerd/containerd/snapshots/overlay/overlayutils/check.go
  vendor/github.com/containerd/containerd/sys/oom_linux.go
  vendor/github.com/containerd/containerd/task_opts.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/windows, area/dependencies

#5301 Dockerfile: update containerd binary to v1.7.21
  Dockerfile
Labels: area/project

#5296 docs: run mount secret env dockerfile example
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5302 hack: do not cache rootless stage on release
  hack/images
Labels: area/hack

#5307 exclude vendor directory from windows label
  .github/labeler.yml
Labels: area/project

#5306 exec: fix pruning cache mounts with parent ref on no-cache
  cache/metadata.go
  cache/metadata/metadata.go
  cache/metadata/metadata_test.go
  frontend/dockerfile/dockerfile2llb/convert_runmount.go
  frontend/dockerfile/dockerfile_test.go
  solver/llbsolver/bridge.go
  solver/llbsolver/mounts/mount.go
  solver/llbsolver/vertex.go
  source/git/source.go
  source/http/source.go
  source/local/source.go
  worker/base/worker.go
  worker/worker.go
Labels: kind/bug, area/dockerfile, area/testing, area/storage, area/frontend, area/solver, area/source, area/worker

#5315 bklog: always enable trace id if it exists
  util/bklog/log.go
Labels: area/windows, area/util

#5314 hack: update golangci-lint to 1.61
  .golangci.yml
  cache/contenthash/tarsum.go
  hack/dockerfiles/lint.Dockerfile
  solver/testutil/cachestorage_testsuite.go
  util/resolver/retryhandler/retry.go
  util/testutil/integration/run.go
Labels: area/hack, area/windows, area/storage, area/util, area/solver

#5316 Fix windows label rules
  .github/labeler.yml
Labels: kind/bug, area/project

#5318 vendor: github.com/docker/docker v27.2.1
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/hostconfig.go
  vendor/modules.txt
Labels: area/dependencies

#5320 [v0.16] cherry-picks for v0.16.0
  .github/labeler.yml
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/hostconfig.go
  vendor/modules.txt
Labels: area/project, area/dependencies

#5139 tests: frontend/dockerfile: update integration tests for windows/wcow (part 1)
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/windows, status/merge, area/frontend

#5324 readme: add r2d4/llb frontend and dacc project
  README.md
Labels: area/project

#5326 ci: Fix govulncheck permissions
  .github/workflows/buildkit.yml
Labels: area/ci

#5323 solver: pipe implementation utilizes generics for better typing
  solver/edge.go
  solver/internal/pipe/pipe.go
  solver/internal/pipe/pipe_test.go
  solver/scheduler.go
Labels: area/testing, area/solver

#5321 util/resolver: ignore invalid (empty) scope
  util/resolver/authorizer.go
  util/resolver/authorizer_test.go
Labels: area/testing, status/merge, area/util

#5221 tests: frontend/dockerfile: add dockerfile lint tests for WCOW
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/dockerfile_test.go
  util/testutil/integration/util_windows.go
Labels: area/dockerfile, area/testing, area/windows, area/frontend, area/util

#5331 docs: fix broken link to dockerfile reference
  frontend/dockerfile/docs/rules/json-args-recommended.md
  frontend/dockerfile/linter/docs/JSONArgsRecommended.md
Labels: area/dockerfile, area/frontend, area/docs

#5335 solver: fix possible panic from error handler
  solver/cachemanager.go
Labels: area/solver

#5336 dockerfile: mask usage of secret env in command name
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_secrets.go
  frontend/dockerfile/dockerfile_secrets_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5339 exec: allow specifying non-zero exit codes for execs
  client/client_test.go
  client/llb/exec.go
  client/llb/meta.go
  executor/containerdexecutor/executor.go
  executor/executor.go
  executor/runcexecutor/executor.go
  solver/llbsolver/ops/exec.go
  solver/pb/caps.go
  solver/pb/ops.pb.go
  solver/pb/ops.proto
Labels: area/llb, area/testing, area/client, area/executor, area/solver

#5341 frontend tests: add secondary sort on errors for more consistent rule check tests
  frontend/dockerfile/dockerfile_lint_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5333 frontend/dockerfile/docs: add $ in mount env example
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5200 tests: frontend/dockerfile: update integration tests for windows/wcow (part 2)
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5328 solver: move scheduler debug statements to their own functions
  solver/debug.go
  solver/edge.go
  solver/scheduler.go
Labels: status/merge, area/solver

#5346 docs: windows: add a note about ContainerUser limited permissions
  docs/windows.md
Labels: area/docs

#5355 [v0.16] ci: switch to ubuntu runner for freebsd job
  .github/workflows/test-os.yml
  hack/Vagrantfile.freebsd
Labels: area/hack, area/ci

#5079 Allow more complex GC policies
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/types/worker.pb.go
  api/types/worker.proto
  cache/manager.go
  cache/manager_test.go
  client/prune.go
  client/workers.go
  cmd/buildctl/debug/workers.go
  cmd/buildctl/prune.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/config/gcpolicy.go
  cmd/buildkitd/config/gcpolicy_openbsd.go
  cmd/buildkitd/config/gcpolicy_unix.go
  cmd/buildkitd/config/gcpolicy_windows.go
  cmd/buildkitd/config/load_test.go
  cmd/buildkitd/main.go
  control/control.go
  solver/llbsolver/mounts/mount_test.go
  source/git/source_test.go
  source/http/source_test.go
  util/disk/disk.go
  util/disk/disk_openbsd.go
  util/disk/disk_unix.go
  util/disk/disk_windows.go
  worker/base/worker.go
  worker/containerd/containerd.go
  worker/runc/runc.go
Labels: area/testing, area/windows, area/storage, area/client, area/util, area/api, area/buildkitd, area/solver, area/source, area/worker, area/buildctl

#5361 dockerfile: pin dockerfile frontend image
  Dockerfile
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/doctoc.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/shfmt.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/dockerfile, area/project, area/hack, area/frontend

#5370 util/archutil: re-generate to fix validation for mips64
  util/archutil/mips64_binary.go
  util/archutil/mips64le_binary.go
Labels: status/code-review, area/util
