Repository moby/buildkit, pull requests merged in 2024-06, with the labels that each got.

#4978 docs: add details for setting up CNI for windows
  docs/windows.md
Labels: status/merge

#5000 dockerfile: default linter to run on all stages by default
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
Labels: kind/enhancement, area/dockerfile

#4896 contenthash: implement proper Linux symlink semantics
  cache/contenthash/checksum.go
  cache/contenthash/checksum_test.go
  cache/contenthash/path.go
  cache/contenthash/path_test.go
Labels: kind/bug, accepted

#4997 llbsolver: add more otel spans for export and history
  solver/llbsolver/proc/provenance.go
  solver/llbsolver/proc/sbom.go
  solver/llbsolver/solver.go
Labels: kind/enhancement, status/code-review

#5001 dockerfile: only report legacy key/value format when stage is reachable
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/parse.go
Labels: kind/enhancement, area/dockerfile

#4990 dockerfile: generate lint rules documentation
  Makefile
  docker-bake.hcl
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/consistent-instruction-casing.md
  frontend/dockerfile/docs/rules/duplicate-stage-name.md
  frontend/dockerfile/docs/rules/file-consistent-command-casing.md
  frontend/dockerfile/docs/rules/from-as-casing.md
  frontend/dockerfile/docs/rules/json-args-recommended.md
  frontend/dockerfile/docs/rules/legacy-key-value-format.md
  frontend/dockerfile/docs/rules/maintainer-deprecated.md
  frontend/dockerfile/docs/rules/multiple-instructions-disallowed.md
  frontend/dockerfile/docs/rules/no-empty-continuations.md
  frontend/dockerfile/docs/rules/reserved-stage-name.md
  frontend/dockerfile/docs/rules/stage-name-casing.md
  frontend/dockerfile/docs/rules/undefined-arg-in-from.md
  frontend/dockerfile/docs/rules/undefined-var.md
  frontend/dockerfile/docs/rules/workdir-relative-path.md
  frontend/dockerfile/linter/docs/ConsistentInstructionCasing.md
  frontend/dockerfile/linter/docs/DuplicateStageName.md
  frontend/dockerfile/linter/docs/FileConsistentCommandCasing.md
  frontend/dockerfile/linter/docs/FromAsCasing.md
  frontend/dockerfile/linter/docs/JSONArgsRecommended.md
  frontend/dockerfile/linter/docs/LegacyKeyValueFormat.md
  frontend/dockerfile/linter/docs/MaintainerDeprecated.md
  frontend/dockerfile/linter/docs/MultipleInstructionsDisallowed.md
  frontend/dockerfile/linter/docs/NoEmptyContinuations.md
  frontend/dockerfile/linter/docs/ReservedStageName.md
  frontend/dockerfile/linter/docs/StageNameCasing.md
  frontend/dockerfile/linter/docs/UndefinedArgInFrom.md
  frontend/dockerfile/linter/docs/UndefinedVar.md
  frontend/dockerfile/linter/docs/WorkdirRelativePath.md
  frontend/dockerfile/linter/docs/_index.md
  frontend/dockerfile/linter/generate.go
  frontend/dockerfile/linter/ruleset.go
  frontend/dockerfile/parser/parser.go
  hack/dockerfiles/docs-dockerfile.Dockerfile
Labels: area/dockerfile, kind/docs, needs/follow-up

#5007 vendor: github.com/distribution/reference v0.6.0
  go.mod
  go.sum
  vendor/github.com/distribution/reference/README.md
  vendor/github.com/distribution/reference/normalize.go
  vendor/github.com/distribution/reference/reference.go
  vendor/modules.txt
Labels: dependencies, status/code-review

#5006 vendor: go.etcd.io/bbolt v1.3.10
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/README.md
  vendor/go.etcd.io/bbolt/cursor.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/page.go
  vendor/go.etcd.io/bbolt/unsafe.go
  vendor/modules.txt
Labels: dependencies, status/code-review

#5010 flightcontrol: protect contention timeouts
  util/flightcontrol/flightcontrol.go
  util/flightcontrol/flightcontrol_test.go
Labels: kind/bug

#5012 minor lint formatting cleanups
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/no-empty-continuation.md
  frontend/dockerfile/linter/docs/NoEmptyContinuation.md
  frontend/dockerfile/linter/linter.go
  frontend/dockerfile/linter/ruleset.go
  frontend/dockerfile/parser/parser.go
Labels: kind/enhancement, status/merge

#5017 history: fix empty Exporters attribute
  client/client_test.go
  control/control.go
  exporter/containerimage/export.go
  exporter/exporter.go
  exporter/local/export.go
  exporter/oci/export.go
  exporter/tar/export.go
  frontend/dockerfile/dockerfile_provenance_test.go
  solver/llbsolver/solver.go
Labels: status/code-review, needs/follow-up

#5018 ci: switch to ubuntu-24.04 runner
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: status/code-review, area/ci

#5016 ci: enable disable_file_fixes in codecov action
  .github/workflows/.test.yml
  .github/workflows/test-os.yml
Labels: area/testing, status/code-review, area/ci

#5008 Fix content not found with `push=true,rewrite-timestamp=true`
  exporter/containerimage/export.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/reproducible-builds, needs-cherry-pick/v0.13

#5037 Adds 'WARNING' prefix to the rule check output
  frontend/subrequests/lint/lint.go
Labels: kind/enhancement, needs-cherry-pick/v0.14

#5044 util/resolver: Make httpFallback concurrent safe
  util/resolver/resolver.go
Labels: needs-cherry-pick/v0.14

#5046 Consolidate instruction casing lint rules
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/consistent-instruction-casing.md
  frontend/dockerfile/docs/rules/file-consistent-command-casing.md
  frontend/dockerfile/linter/docs/FileConsistentCommandCasing.md
  frontend/dockerfile/linter/ruleset.go
Labels: kind/enhancement, needs-cherry-pick/v0.14

#5048 Initialize build args from stage base
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: needs-cherry-pick/v0.14

#5045 Updates lint output to print detail instead of description
  frontend/dockerfile/linter/linter.go
  frontend/subrequests/lint/lint.go
Labels: kind/enhancement, needs-cherry-pick/v0.14

#5052 shell: handle empty string for var replacements
  frontend/dockerfile/shell/lex.go
  frontend/dockerfile/shell/lex_test.go
Labels: area/dockerfile, needs-cherry-pick/v0.14

#5022 flightcontrol: add cachedgroup struct
  client/llb/async.go
  client/llb/state.go
  frontend/dockerui/config.go
  util/flightcontrol/cached.go
  util/flightcontrol/cached_test.go
Labels: status/code-review

#5076 Move parseLintOptions into linter package
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/linter/linter.go
  frontend/dockerui/config.go
Labels: kind/enhancement

#5090 Fix typo in FromAsCasing docs
  frontend/dockerfile/docs/rules/from-as-casing.md
  frontend/dockerfile/linter/docs/FromAsCasing.md
Labels: area/dockerfile, kind/docs

#5097 Adds a deprecated flag to linter rules
  frontend/dockerfile/linter/linter.go
Labels: kind/enhancement

#5094 docs: use json args in multiple instructions example
  frontend/dockerfile/docs/rules/multiple-instructions-disallowed.md
  frontend/dockerfile/linter/docs/MultipleInstructionsDisallowed.md
Labels: area/dockerfile, kind/docs

#4994 fix: acquire privileges to access special files on windows
  exporter/tar/export.go
  exporter/tar/export_unix.go
  exporter/tar/export_windows.go
  session/filesync/diffcopy.go
  session/filesync/diffcopy_unix.go
  session/filesync/diffcopy_windows.go
Labels: kind/bug, area/windows, area/windows-wcow

#5004 ci: set gha cache repository and token
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  hack/images
  hack/release
  hack/util
Labels: status/code-review, area/ci
