Repository moby/buildkit, pull requests merged in 2024-08, with the labels that each got.

#5204 vendor: github.com/containerd/nydus-snapshotter v0.14.0
  go.mod
  go.sum
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_unix.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/types.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/utils.go
  vendor/modules.txt
Labels: area/dependencies

#5151 Add environment replacement support for chmod option
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/instructions/commands.go
Labels: area/dockerfile, status/merge, needs/docs-follow-up

#5184 ci: scan images with docker scout
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
Labels: area/ci

#5192 ci: sync labels when files are reverted or no longer changed with labeler
  .github/workflows/labeler.yml
Labels: area/ci

#5211 docs: emphasize the fact that secrets aren't saved in cache
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5220 docs: dockerfile chmod variable interpolation
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5197 ci: add OCI image annotations to Dockerfile frontend images
  frontend/dockerfile/cmd/dockerfile-frontend/hack/release
Labels: area/dockerfile, area/hack, area/frontend

#5202 vendor: go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp v0.44.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/LICENSE
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/doc.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/envconfig/envconfig.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/version.go
  vendor/modules.txt
Labels: area/dependencies

#5223 ci: missing tags to be scanned with scout
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
Labels: area/ci

#5226 ci: print scout result
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
Labels: area/ci

#5224 migrate to github.com/moby/sys/userns
  .golangci.yml
  cache/refs.go
  cmd/buildkitd/main.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  executor/oci/spec.go
  go.mod
  go.sum
  snapshot/localmounter_linux.go
  snapshot/merge.go
  snapshot/snapshotter.go
  solver/llbsolver/mounts/mount.go
  util/entitlements/security/security_linux.go
  vendor/github.com/moby/sys/userns/LICENSE
  vendor/github.com/moby/sys/userns/userns.go
  vendor/github.com/moby/sys/userns/userns_linux.go
  vendor/github.com/moby/sys/userns/userns_linux_fuzzer.go
  vendor/github.com/moby/sys/userns/userns_unsupported.go
  vendor/modules.txt
Labels: area/dependencies, area/storage, area/util, area/buildkitd, area/executor, area/solver

#5230 expand globs for area/project in auto PR labeler
  .github/labeler.yml
Labels: area/project

#5235 hack: ensure SARIF output has results field defined for govulncheck
  hack/dockerfiles/govulncheck.Dockerfile
Labels: area/hack

#5237 docs: list supported algorithms for ADD --checksum
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5210 docs: mention `dst` and `destination` options too
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, status/merge, area/frontend, area/docs

#5222 hack: fix no-cache-filter on release
  hack/images
  hack/release
Labels: area/hack

#5245 dockerfile: add missing mount completions
  frontend/dockerfile/instructions/commands_runmount.go
Labels: area/dockerfile, area/frontend

#5241 docs: clarify valid from targets for run --mount
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5251 exec: fix incorrect deps computation for special mounts
  solver/llbsolver/ops/exec.go
Labels: area/solver

#5247 Dockerfile: check .git directory available in build context
  Dockerfile
Labels: area/project

#5248 ci: enable validating all Dockerfiles
  Dockerfile
  docker-bake.hcl
  hack/dockerfiles/vendor.Dockerfile
Labels: area/project, area/hack

#5252 chore: set `pb.Empty` on ssh and secret mounts
  client/llb/exec.go
Labels: area/llb, area/client

#5238 frontend: refactor lint rule check printing functionality
  frontend/subrequests/lint/lint.go
Labels: area/frontend

#5257 remotecache: handle not implemented error for Info()
  cache/remotecache/v1/utils.go
Labels: area/remotecache

#5259 docs: fix instruction name (s/ADD/COPY/)
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5253 tests: frontend/dockerfile: update integration tests for windows/wcow (part 4)
  frontend/dockerfile/dockerfile_outline_test.go
  frontend/dockerfile/dockerfile_targets_test.go
  frontend/dockerfile/dockerfile_test.go
  util/testutil/integration/sandbox.go
  util/testutil/integration/util_windows.go
Labels: area/dockerfile, area/testing, area/windows, area/frontend, area/util

#5256 ci: update golangci-lint to v1.60.1
  .golangci.yml
  cache/contenthash/tarsum.go
  executor/resources/cpu_test.go
  executor/runcexecutor/executor.go
  hack/dockerfiles/lint.Dockerfile
  session/secrets/secretsprovider/secretsprovider.go
  solver/testutil/cachestorage_testsuite.go
  util/appcontext/appcontext.go
  util/resolver/retryhandler/retry.go
  util/testutil/integration/run.go
  util/testutil/integration/sandbox.go
Labels: area/testing, area/hack, area/storage, area/util, area/executor, area/session, area/solver

#5254 uploadprovider: allow closing used sources
  frontend/dockerfile/dockerfile_test.go
  session/upload/uploadprovider/provider.go
Labels: area/dockerfile, area/testing, area/frontend, area/session

#5261 docs: use gh alert syntax for callouts
  README.md
  docs/attestations/sbom-protocol.md
  docs/dev/README.md
  docs/dev/solver.md
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/docs/rules/copy-ignored-file.md
  frontend/dockerfile/linter/generate.go
Labels: area/dockerfile, area/project, area/frontend, area/docs

#5267 docs: clarify in #shell-form that heredocs apply to supported commands
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5215 frontend: allow mounting secret environment variables
  client/llb/exec.go
  frontend/dockerfile/dockerfile2llb/convert_secrets.go
  frontend/dockerfile/dockerfile_secrets_test.go
  frontend/dockerfile/instructions/commands_runmount.go
Labels: area/dockerfile, area/llb, area/testing, needs/docs-follow-up, area/client, area/frontend

#5266 S3 Cache: Use multipart upload instead of CopyObject for touching file > 5GB
  README.md
  cache/remotecache/s3/s3.go
Labels: area/project, area/remotecache

#5268 README.md: Add DevZero as consuming project
  README.md
Labels: area/project

#5260 executor: detect containers killed by OOMKiller
  executor/runcexecutor/executor.go
  executor/runcexecutor/executor_linux.go
Labels: area/executor

#5271 Cleanup Linux-isms in code
  cmd/buildkitd/constants_unix.go
  cmd/buildkitd/constants_windows.go
  cmd/buildkitd/main_containerd_worker.go
  hack/Vagrantfile.freebsd13
  snapshot/diffapply_linux.go
  snapshot/diffapply_unsupported.go
  snapshot/diffapply_windows.go
  source/git/source_linux.go
  util/appdefaults/appdefaults_linux.go
  util/appdefaults/appdefaults_unix.go
  util/appdefaults/appdefaults_unix_nolinux.go
Labels: area/hack, area/windows, area/storage, area/util, area/buildkitd, area/source

#5270 Parallel layer upload for s3 cache
  README.md
  cache/remotecache/s3/s3.go
Labels: area/project, area/remotecache

#5277 frontend: rule check print to include path to dockerfile
  frontend/dockerui/requests.go
  frontend/subrequests/lint/lint.go
Labels: kind/bug, area/frontend
