Repository moby/buildkit, pull requests merged in 2024-07, with the labels that each got.

#5064 dockerfile: clarify that checksum works with HTTPS
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_addchecksum_test.go
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#5114 update containerd binary to v1.7.19
  Dockerfile
Labels: status/merge

#5111 Always return non-nil contexts
  frontend/gateway/gateway.go
  frontend/gateway/grpcclient/client.go
  session/grpc.go
  util/leaseutil/manager.go
Labels: status/merge

#5112 docs: dockerfile-reference: fix links
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs, status/code-review

#5096 git: ensure exec option is propagated to child git clis
  source/git/source_test.go
  source/git/source_unix_test.go
  util/gitutil/git_cli.go
Labels: needs-cherry-pick/v0.14

#5116 bboltcachestorage: only delete link after releasing result
  solver/bboltcachestorage/storage.go
Labels: kind/bug

#5113 adds InvalidDefaultArgInFrom lint check
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/invalid-default-arg-in-from.md
  frontend/dockerfile/linter/docs/InvalidDefaultArgInFrom.md
  frontend/dockerfile/linter/ruleset.go
Labels: status/merge

#5124 docs: fix broken link in lint docs after rule rename
  frontend/dockerfile/docs/rules/from-as-casing.md
  frontend/dockerfile/linter/docs/FromAsCasing.md
Labels: area/dockerfile, kind/docs

#5127 ci(docs-upstream): missing path for frontend rules docs
  .github/workflows/docs-upstream.yml
Labels: area/ci

#5098 dockerfile: Add integration test for ARG with empty value and default
  frontend/dockerfile/dockerfile_test.go
Labels: status/merge

#5128 docs: rewrite copy/add instruction reference
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#5149 vendor: update go-csvvalue to ddb21b71
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-csvvalue/csvvalue.go
  vendor/modules.txt
Labels: status/merge

#5150 dockerfile: avoid frontend panic when no stages defined
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: status/merge

#5135 Rule Check: CopyIgnoredFiles
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/copy-ignored-file.md
  frontend/dockerfile/linter/docs/CopyIgnoredFile.md
  frontend/dockerfile/linter/ruleset.go
  frontend/dockerui/config.go
Labels: needs/follow-up

#5143 Pass cache imports from solve ptions to solve request
  cmd/buildctl/build.go
Labels: status/merge

#5181 llbsolver: avoid nil releaser on error
  solver/llbsolver/solver.go
Labels: needs-cherry-pick/v0.15

#5183 vendor: bump github.com/gofrs/flock to v0.12.1
  go.mod
  go.sum
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_unix_fcntl.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/golang.org/x/sys/unix/mremap.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: dependencies, needs-cherry-pick/v0.15

#5189 migrate to github.com/moby/sys/user/userns
  .golangci.yml
  cache/refs.go
  cmd/buildkitd/main.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  executor/oci/spec.go
  go.mod
  go.sum
  snapshot/localmounter_linux.go
  snapshot/merge.go
  snapshot/snapshotter.go
  solver/llbsolver/mounts/mount.go
  util/entitlements/security/security_linux.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/moby/sys/user/userns/userns.go
  vendor/github.com/moby/sys/user/userns/userns_linux.go
  vendor/github.com/moby/sys/user/userns/userns_linux_fuzzer.go
  vendor/github.com/moby/sys/user/userns/userns_unsupported.go
  vendor/modules.txt
Labels: dependencies

#5027 tests: enabling integration tests on windows
  .github/workflows/test-os.yml
  client/client_test.go
  frontend/dockerfile/dockerfile_test.go
  util/testutil/integration/pins.go
  util/testutil/integration/run.go
  util/testutil/integration/run_unix.go
  util/testutil/integration/run_windows.go
  util/testutil/integration/util.go
  util/testutil/integration/util_windows.go
Labels: area/dockerfile, area/testing, area/windows, area/ci, area/storage, area/client, area/frontend, area/util

#5190 db: move DB dependencies to transactor interface
  cache/metadata/metadata.go
  cmd/buildkitd/main.go
  control/control.go
  solver/bboltcachestorage/storage.go
  solver/bboltcachestorage/storage_test.go
  solver/llbsolver/history.go
  util/db/boltutil/db.go
  util/db/db.go
  util/db/transactor.go
Labels: area/testing, area/storage, area/util, area/buildkitd, area/solver

#5194 snapshot/containerd: fix wrong errdefs package import
  .golangci.yml
  snapshot/containerd/content.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/errdefs/errors.go
  vendor/modules.txt
Labels: kind/bug, area/dependencies, status/merge, area/storage

#3554 ci: add OCI image annotations to docker images
  hack/images
Labels: area/hack, area/ci

#5198 chore(labeler): fix area/storage filter and update area/hack one
  .github/labeler.yml
Labels: area/project

#5199 govulncheck to report known vulnerabilities
  .github/workflows/buildkit.yml
  docker-bake.hcl
  hack/dockerfiles/govulncheck.Dockerfile
Labels: area/hack, area/ci
