Repository moby/buildkit, pull requests merged in 2024-04, with the labels that each got.

#4804 rewrite-timestamp: fix incompatibility with `COPY --link`
  exporter/containerimage/writer.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/reproducible-builds, needs-cherry-pick/v0.13

#4807 util/converter: fix diffID computation
  util/converter/tarconverter/tarconverter.go
Labels: area/reproducible-builds, needs-cherry-pick/v0.13

#4761 Print lint warnings
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/linter/linter.go
  frontend/dockerui/requests.go
  frontend/subrequests/lint/lint.go
Labels: needs/follow-up

#4825 fix: use unix path separator since windows path already normalized
  frontend/dockerfile/dockerfile2llb/convert.go
  solver/llbsolver/file/backend.go
Labels: area/windows-wcow

#4880 frontend: missing compat check for TestCommandSourceMapping
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: needs-cherry-pick/v0.13
