Repository moby/buildkit, pull requests merged in 2024-10, with the labels that each got.

#5376 docs: update "read more" link for dockerfile examples
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5357 dockerfile: add support for ONBUILD in combination with from
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_runmount.go
  frontend/dockerfile/dockerfile2llb/platform.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5349 dockerfile: update args definitions to llb.EnvList
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/platform.go
Labels: area/dockerfile, area/frontend

#5378 history: remove records without attached blobs at startup
  solver/llbsolver/history.go
Labels: area/solver, needs-cherry-pick/v0.16

#5374 llb: deterministic marshaling for protobuf and store results from multiple constraints
  client/llb/diff.go
  client/llb/exec.go
  client/llb/fileop.go
  client/llb/llbbuild/llbbuild.go
  client/llb/marshal.go
  client/llb/merge.go
  client/llb/source.go
  solver/llbsolver/vertex.go
Labels: area/llb, area/client, area/solver

#5362 llbsolver: add input validation to policy recompute
  solver/llbsolver/vertex.go
Labels: area/solver

#5288 vendor: go.etcd.io/bbolt v1.3.11
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/Makefile
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/tx.go
  vendor/modules.txt
Labels: area/dependencies

#5388 tests: skip TestContextChangeDirToFile on Windows
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5386 docs: remove `from` limitation for onbuild
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5381 docs: fix incorrect information about arg scoping
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5373 Return error when AppArmor is unsupported and profile specified
  executor/oci/spec_linux.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor_unsupported.go
  vendor/modules.txt
Labels: area/dependencies, area/executor

#5396 protobuf: normalize how protobuf files are generated
  api/services/control/control.pb.go
  api/services/control/control_grpc.pb.go
  api/services/control/generate.go
  api/types/generate.go
  api/types/worker.pb.go
  cache/contenthash/checksum.pb.go
  cache/contenthash/generate.go
  frontend/gateway/pb/gateway.pb.go
  frontend/gateway/pb/gateway_grpc.pb.go
  frontend/gateway/pb/generate.go
  hack/dockerfiles/generated-files.Dockerfile
  session/auth/auth.pb.go
  session/auth/auth_grpc.pb.go
  session/auth/generate.go
  session/filesync/filesync.pb.go
  session/filesync/filesync_grpc.pb.go
  session/filesync/generate.go
  session/secrets/generate.go
  session/secrets/secrets.pb.go
  session/secrets/secrets_grpc.pb.go
  session/sshforward/generate.go
  session/sshforward/ssh.pb.go
  session/sshforward/ssh_grpc.pb.go
  session/upload/generate.go
  session/upload/upload.pb.go
  session/upload/upload_grpc.pb.go
  solver/errdefs/errdefs.pb.go
  solver/errdefs/generate.go
  solver/pb/generate.go
  solver/pb/ops.pb.go
  sourcepolicy/pb/generate.go
  sourcepolicy/pb/policy.pb.go
  util/apicaps/pb/caps.pb.go
  util/apicaps/pb/generate.go
  util/stack/generate.go
  util/stack/stack.pb.go
  util/stack/stack.proto
Labels: area/hack, area/storage, area/frontend, area/util, area/api, area/session, area/solver, area/sourcepolicy

#5397 Multiple fixes for ONBUILD behavior
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/parser/errors.go
Labels: area/dockerfile, area/frontend

#5380 dockerfile: add support for non-octal COPY --chmod in labs
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/copy_chmod_non_octal_disabled.go
  frontend/dockerfile/dockerfile2llb/copy_chmod_non_octal_enabled.go
  frontend/dockerfile/dockerfile_chmod_non_octal_test.go
  frontend/dockerfile/release/labs/tags
Labels: area/dockerfile, area/testing, needs/docs-follow-up, area/frontend

#5372 Added way to configure SBOM scanner
  client/client_test.go
  control/control.go
  frontend/attestations/parse_test.go
  frontend/attestations/sbom/sbom.go
  frontend/dockerfile/builder/build.go
  frontend/dockerui/config.go
  solver/llbsolver/proc/sbom.go
Labels: area/dockerfile, area/testing, area/client, area/frontend, area/solver

#5289 fix(WCOW): fix file access failure for multistage builds
  cache/contenthash/checksum.go
  cache/contenthash/checksum_unix.go
  cache/contenthash/checksum_windows.go
Labels: area/windows, area/storage

#5343 http: avoid possible digest mismatch error
  source/http/source.go
Labels: area/source

#5404 docs: add note about check with errors
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5399 worker/containerd: NewWorkerOpt: remove workaround for named pipes
  worker/containerd/containerd.go
Labels: area/containerd, area/windows-wcow, area/worker

#5359 update default and basic gc control to use free and max storage
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/types/worker.pb.go
  api/types/worker.proto
  cache/manager.go
  cache/manager_test.go
  client/prune.go
  client/workers.go
  cmd/buildctl/debug/workers.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/config/gcpolicy.go
  cmd/buildkitd/config/gcpolicy_unix.go
  cmd/buildkitd/config/gcpolicy_windows.go
  cmd/buildkitd/config/load_test.go
  cmd/buildkitd/main.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  cmd/buildkitd/util.go
  control/control.go
  solver/pb/caps.go
Labels: area/testing, area/windows, area/storage, area/client, area/api, area/buildkitd, area/solver, area/buildctl

#5409 fix merge conflict in generated proto
  api/services/control/control_vtproto.pb.go
  api/types/worker_vtproto.pb.go
Labels: area/api

#5406 grpcclient: return proper nil reference from grpcclient
  frontend/dockerfile/dockerfile_test.go
  frontend/gateway/grpcclient/client.go
Labels: area/dockerfile, area/testing, area/frontend

#5208 InvalidDefinitionDescription Rule Check
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/invalid-definition-description.md
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/linter/docs/InvalidDefinitionDescription.md
  frontend/dockerfile/linter/ruleset.go
  frontend/dockerfile/parser/parser.go
Labels: kind/enhancement, area/dockerfile, area/testing, area/frontend, area/docs

#5410 frontend: add an allow list for secret lint check and add public to said list
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5408 Dockerfile: update containerd binary to v1.7.22,v1.6.36
  Dockerfile
Labels: area/project, status/merge

#5389 Revert "dockerfile: pin dockerfile frontend image"
  Dockerfile
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/doctoc.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/shfmt.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/dockerfile, area/project, area/hack, area/frontend

#5414 frontend: sets the InvalidDefinitionDescription check to be experimental
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/docs/rules/_index.md
  frontend/dockerfile/docs/rules/invalid-definition-description.md
  frontend/dockerfile/linter/ruleset.go
Labels: area/dockerfile, area/testing, area/frontend, area/docs

#5419 Dockerfile: update rootlesskit binary to 2.3.1
  Dockerfile
Labels: area/project

#5413 fix: set h2 protocol identifier to comply with TLS-ALPN
  cmd/buildkitd/main.go
Labels: area/buildkitd

#5401 solver: simplify edge-related functions in the solver
  solver/edge.go
Labels: area/solver

#5418 docs: windows: add script to pick latest version
  docs/windows.md
Labels: status/merge, area/docs

#5425 vendor: golang.org/x/sys v0.25.0, golang.org/x/crypto v0.27.0, golang.org/x/net v0.29.0
  go.mod
  go.sum
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_noinit.go
  vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_hurd.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_zos_s390x.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/unix/ztypes_darwin_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_386.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_arm.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: area/dependencies

#5427 Update ARG sytnax definition in dockerfile reference
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs, area/frontend, area/docs

#5432 Better OTEL tracing for authprovider
  session/auth/authprovider/authprovider.go
Labels: area/session

#5430 docs: add front matter title to attestation docs
  docs/attestations/attestation-storage.md
  docs/attestations/sbom-protocol.md
  docs/attestations/sbom.md
  docs/attestations/slsa-definitions.md
  docs/attestations/slsa-provenance.md
Labels: area/docs

#5434 Update ARG, ENV and LABEL reference definitions
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5442 filesync: reuse data buffer for diffcopy
  session/filesync/diffcopy.go
Labels: area/session

#5440 chore: add disk stat error wrapping
  util/disk/disk_openbsd.go
  util/disk/disk_unix.go
  util/disk/disk_windows.go
Labels: area/windows, area/util

#5441 git: allow cloning commit shas not referenced by branch/tag
  source/git/source.go
  source/git/source_test.go
  util/gitutil/git_cli.go
  util/gitutil/git_commit.go
Labels: kind/enhancement, area/testing, area/util, area/source

#5447 Add/fix references to labs dockerfile version
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5350 tests: frontend/dockerfile: update integration tests for windows/wcow (part 4)
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5452 ociindex: allow readonly access
  client/ociindex/ociindex.go
Labels: area/client

#5431 dockerfile: expose TARGETSTAGE as builtin argument
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/platform.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, needs/docs-follow-up, area/frontend

#5444 git: fix caching git commit through multiple refs
  source/git/source.go
  source/git/source_test.go
Labels: area/testing, area/source

#5453 docs: add buildkitd.toml docs new gc options
  docs/buildkitd.toml.md
Labels: area/docs

#5451 docs: add workarounds for JSONArgsRecommended check
  frontend/dockerfile/docs/rules/json-args-recommended.md
  frontend/dockerfile/linter/docs/JSONArgsRecommended.md
Labels: area/dockerfile, area/frontend, area/docs

#5449 docs: update undefined var check reference
  frontend/dockerfile/docs/rules/undefined-var.md
  frontend/dockerfile/linter/docs/UndefinedVar.md
Labels: area/dockerfile, area/frontend, area/docs

#5464 docs: s/parent image/base image/
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5472 docs: remove older warning format
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs
