Repository moby/buildkit, pull requests merged in 2024-05, with the labels that each got.

#4551 s3: stream a layer to s3 if possible, instead of getting it then sending it
  cache/remotecache/s3/s3.go
Labels: kind/enhancement, area/cache, status/code-review

#4920 dockerfile: fix test mirror config bullseye-slim
  frontend/dockerfile/dockerfile_test.go
Labels: status/code-review

#4921 testutil: make sure context is canceled after test end
  util/testutil/integration/run.go
Labels: status/code-review

#4928 hack: add validation for golangci config
  .golangci.yml
  docker-bake.hcl
  hack/dockerfiles/lint.Dockerfile
Labels: status/merge

#4930 docs: fix typo and tweak formatting
  frontend/dockerfile/docs/reference.md
Labels: status/merge

#4931 lint: enable noctx and gocritic
  .golangci.yml
  cache/contenthash/checksum.go
  client/connhelper/npipe/npipe_windows.go
  cmd/buildctl/build.go
  executor/oci/resolvconf.go
  executor/resources/pids_test.go
  exporter/local/export.go
  exporter/local/fs.go
  exporter/tar/export.go
  frontend/dockerfile/dockerfile2llb/convert_runmount.go
  frontend/dockerfile/dockerfile_addgit_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/exclude_patterns_test.go
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/errors_windows.go
  frontend/dockerfile/parser/parser_test.go
  frontend/subrequests/targets/targets.go
  snapshot/snapshotter_test.go
  util/network/cniprovider/cni_linux.go
  util/progress/progressui/display.go
  util/staticfs/static.go
  util/system/path.go
  util/testutil/helpers/azurite.go
  util/testutil/helpers/minio.go
  util/winlayers/applier.go
  worker/runc/runc_test.go
Labels: status/code-review

#4944 fix: 20 sec timeout for write to disc too short
  solver/llbsolver/solver.go
Labels: kind/enhancement, needs/follow-up, accepted

#4947 llbsolver: create single temp lease for exports for performance
  cache/remote.go
  solver/llbsolver/history.go
  solver/llbsolver/solver.go
Labels: kind/enhancement

#4934 hack: add prometheus and grafana to hack/compose
  hack/composefiles/compose.yaml
  hack/composefiles/datasources.yaml
  hack/composefiles/extensions/buildx.yaml
  hack/composefiles/grafana.ini
  hack/composefiles/prometheus.yml
Labels: area/hack

#4923 linter: lint rule for using the legacy key/value format with whitespace
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/instructions/parse_test.go
  frontend/dockerfile/linter/ruleset.go
  frontend/dockerfile/parser/line_parsers.go
  frontend/dockerfile/parser/line_parsers_test.go
  frontend/dockerfile/parser/testfiles/ADD-COPY-with-JSON/result
  frontend/dockerfile/parser/testfiles/brimstone-consuldock/result
  frontend/dockerfile/parser/testfiles/brimstone-docker-consul/result
  frontend/dockerfile/parser/testfiles/cpuguy83-nagios/result
  frontend/dockerfile/parser/testfiles/docker/result
  frontend/dockerfile/parser/testfiles/env/result
  frontend/dockerfile/parser/testfiles/escape-after-comment/result
  frontend/dockerfile/parser/testfiles/escape-nonewline/result
  frontend/dockerfile/parser/testfiles/escape/result
  frontend/dockerfile/parser/testfiles/escapes/result
  frontend/dockerfile/parser/testfiles/kartar-entrypoint-oddities/result
  frontend/dockerfile/parser/testfiles/lk4d4-the-edge-case-generator/result
  frontend/dockerfile/parser/testfiles/nginx/result
  frontend/dockerfile/parser/testfiles/trailing-backslash/result
  frontend/dockerfile/parser/testfiles/znc/result
Labels: status/merge

#4925 dockerfile: improve error messages and add suggest to flag parsing
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/linter/ruleset.go
  util/suggest/error.go
Labels: status/code-review

#4973 Add thompson-shaun to curators
  MAINTAINERS
Labels: status/merge

#4949 allow controlling detected platforms cache timeout
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main.go
  docs/buildkitd.toml.md
  util/archutil/detect.go
  worker/base/worker.go
Labels: status/merge

#4767 Add bounds to termHeight when BUILDKIT_TTY_LOG_LINES is set
  go.mod
  go.sum
  util/progress/progressui/display.go
  util/progress/progressui/init.go
  vendor/github.com/tonistiigi/vt100/vt100.go
  vendor/modules.txt
Labels: status/code-review

#4887 solver: prevent edge merge to inactive states
  solver/jobs.go
  solver/scheduler.go
  solver/scheduler_test.go
Labels: kind/bug, status/code-review

#4856 dockerfile: avoid ignoring errors global arg expansion
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: status/code-review

#4932 lint: fix some testifylint warnings
  .golangci.yml
  cache/manager_test.go
  cache/metadata/metadata_test.go
  client/client_test.go
  client/llb/fileop_test.go
  client/llb/llbbuild/llbbuild_test.go
  client/llb/llbtest/platform_test.go
  control/control_test.go
  executor/oci/mounts_test.go
  executor/resources/io_test.go
  frontend/dockerfile/dockerfile2llb/convert_test.go
  frontend/dockerfile/dockerfile_outline_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_targets_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/instructions/parse_test.go
  session/filesync/filesync_test.go
  solver/llbsolver/mounts/mount_test.go
  source/git/source_test.go
  sourcepolicy/engine_test.go
  util/apicaps/caps_test.go
  util/converter/tarconverter/tarconverter_test.go
  util/flightcontrol/flightcontrol_test.go
  util/progress/progress_test.go
  util/resolver/resolver_test.go
  util/throttle/throttle_test.go
  worker/runc/runc_test.go
Labels: status/merge

#4908 verifier: verify platforms of the build result
  client/build_test.go
  client/client_test.go
  exporter/verifier/opts.go
  exporter/verifier/platforms.go
  solver/llbsolver/solver.go
Labels: kind/enhancement, status/code-review, needs/follow-up

#4924 dockerfile: detect base image with wrong platform being used
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/linter/ruleset.go
Labels: status/merge

#4981 bboltcachestorage: mitigate corrupt boltdb cache after panic
  solver/bboltcachestorage/storage.go
Labels: status/merge
