Repository moby/buildkit, pull requests merged in 2024-11, with the labels that each got.

#5443 Dockerfile: update runc binary to 1.2.1
  Dockerfile
Labels: area/project

#5460 util/tracing: switch to semconv v0.21.0
  util/tracing/tracing.go
Labels: area/util

#5493 dockerfile: missing updates of xx to 1.5.0
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/lint.Dockerfile
Labels: area/dockerfile, area/hack, area/frontend

#5496 ci: enable archutil-arm64 job
  .github/workflows/validate.yml
Labels: area/ci

#5492 update to go 1.23
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .golangci.yml
  Dockerfile
  examples/buildkit0/buildkit.go
  examples/buildkit1/buildkit.go
  examples/buildkit2/buildkit.go
  examples/buildkit3/buildkit.go
  examples/buildkit4/buildkit.go
  examples/nested-llb/main.go
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/docs-dockerfile.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/dockerfile, area/hack, area/ci, area/frontend, area/examples

#5499 [v0.17] cherry-picks for v0.17.1
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5476 Add test for `IsCommitSHA` function
  util/gitutil/git_commit_test.go
Labels: area/testing, area/util

#3095 docs(dockerfile): BuildKit does not discard Volume edits
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs, status/code-review

#5506 Revert "Dockerfile: update runc binary to 1.2.1"
  Dockerfile
Labels: area/project

#5511 fix leaving unreleased references behind after SBOM generation
  client/client_test.go
  exporter/containerimage/attestations.go
Labels: area/testing, area/client, area/exporter

#5513 Bump typeurl to 2.2.3
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/github.com/containerd/typeurl/v2/types_gogo.go
  vendor/modules.txt
Labels: area/dependencies

#5501 detect: use newer semconv for resource and add unit test
  util/tracing/detect/resource.go
  util/tracing/detect/resource_test.go
  util/tracing/tracing.go
Labels: area/testing, area/util

#5515 fix gc after delete history records
  cmd/buildkitd/main.go
  control/control.go
  solver/llbsolver/history.go
  worker/base/worker.go
  worker/worker.go
Labels: area/buildkitd, area/solver, area/worker, needs-cherry-pick/v0.17

#5516 client: improve releasable condition in tests
  client/client_test.go
Labels: area/testing, area/client

#5521 contenthash: don't delete records when a directory is only modified
  cache/contenthash/checksum.go
  cache/contenthash/checksum_test.go
Labels: area/testing, area/storage

#5527 docs: remove duplicate parser directives bullet list
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5530 vendor: update grpc to v1.66.3
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: area/dependencies

#5529 vendor: github.com/tonistiigi/go-actions-cache@v0.0.0-20241108014124-394979b8119e
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/.gitignore
  vendor/github.com/golang-jwt/jwt/v4/LICENSE
  vendor/github.com/golang-jwt/jwt/v4/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v4/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/doc.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/hmac.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/none.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/rsa.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/signing_method.go
  vendor/github.com/golang-jwt/jwt/v4/staticcheck.conf
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v4/types.go
  vendor/github.com/tonistiigi/go-actions-cache/.gitignore
  vendor/github.com/tonistiigi/go-actions-cache/Dockerfile
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/docker-bake.hcl
  vendor/modules.txt
Labels: area/dependencies

#5524 protobuf: fix casing of json attributes with the switch from gogo
  solver/pb/json.go
  solver/pb/json_test.go
Labels: area/testing, area/solver

#5523 tests: add `testDockerfileFromHTTP` for WCOW
  client/llb/fileop.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/llb, area/testing, area/client, area/frontend

#5497 dockerfile: add delve to binaries-for-test
  Dockerfile
Labels: area/project

#5532 dockerfile: update runc binary to 1.2.2
  Dockerfile
Labels: area/project

#5465 util/system: deprecate Atime implementation for containerd/continuity/fs
  executor/stubs.go
  go.mod
  go.sum
  util/system/atime_unix.go
  util/system/atime_windows.go
  vendor/github.com/containerd/continuity/.golangci.yml
  vendor/github.com/containerd/continuity/Makefile
  vendor/github.com/containerd/continuity/fs/stat_darwinbsd.go
  vendor/github.com/containerd/continuity/fs/stat_unix.go
  vendor/github.com/containerd/continuity/manifest.go
  vendor/modules.txt
Labels: area/windows, area/dependencies, area/util, area/executor

#5424 vendor: github.com/docker/docker, github.com/docker/cli v27.4.0-rc.2
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf.go
  vendor/modules.txt
Labels: area/dependencies

#5508 dockerfile: fix duplicate keys for same arg in history line
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5536 improve stacks of cancels from defers
  cache/remotecache/local/local.go
  client/build_test.go
  client/client_test.go
  cmd/buildctl/common/common.go
  cmd/buildkitd/main.go
  control/gateway/gateway.go
  executor/runcexecutor/executor.go
  exporter/local/export.go
  exporter/oci/export.go
  exporter/tar/export.go
  frontend/dockerfile/dockerfile_test.go
  session/filesync/filesync.go
  session/group.go
  session/manager.go
  session/session.go
  solver/jobs.go
  solver/llbsolver/solver.go
  solver/scheduler.go
  solver/scheduler_test.go
  source/containerimage/ocilayout.go
  source/local/source.go
  util/flightcontrol/flightcontrol.go
  util/testutil/integration/registry.go
  util/testutil/integration/run.go
  util/tracing/otlptracegrpc/client.go
Labels: area/dockerfile, area/testing, area/client, area/frontend, area/util, area/buildkitd, area/remotecache, area/executor, area/exporter, area/session, area/solver, area/source, area/buildctl

#5522 history: handle gracefulstop when history is active
  cmd/buildkitd/main.go
  control/control.go
  solver/llbsolver/history.go
Labels: area/buildkitd, area/solver

#5540 solver: release unreferenced cache keys after gc
  control/control.go
  solver/cachemanager.go
  solver/combinedcache.go
  solver/llbsolver/bridge.go
  solver/types.go
Labels: area/solver

#5517 gateway: ensure llb digests are deterministic when sent by frontends
  solver/llbsolver/testdata/gogoproto.data
  solver/llbsolver/vertex.go
  solver/llbsolver/vertex_test.go
  solver/pb/ops.go
Labels: area/testing, area/solver

#5547 dockerd: skip content check with containerd snapshotter
  client/client_test.go
  util/testutil/workers/dockerd.go
  util/testutil/workers/features.go
Labels: area/testing, area/client, area/util

#5548 dockerfile: use lld linker for containerd build
  .github/workflows/test-os.yml
  Dockerfile
Labels: area/ci

#5550 Use view transaction for metadata read
  cache/metadata/metadata.go
Labels: area/storage

#5552 docs: add --checksum only supports sha256
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5551 [v0.17] Use view transaction for metadata read
  cache/metadata/metadata.go
Labels: area/storage

#5555 ci: use edge releases of buildx
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci
