Repository moby/buildkit, pull requests merged in 2024-02, with the labels that each got.

#4608 docs: make the warning about build arguments
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#4606 test: warn if testing dockerd worker without disabled features
  hack/test
Labels: area/testing

#4605 ci: update gha to account for node 16 deprecation
  .github/dependabot.yml
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/dockerd.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/test-os.yml
Labels: dependencies, area/ci

#4626 docs/rootless.md: move auxiliary information to the bottom
  docs/rootless.md
Labels: kind/docs, area/rootless, needs-cherry-pick/v0.12

#4625 vendor: update docker/docker and docker/cli to v25.0.3
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/github.com/docker/docker/api/types/network/ipam.go
  vendor/github.com/docker/docker/pkg/ioutils/readers.go
  vendor/github.com/docker/docker/pkg/ioutils/writers.go
  vendor/github.com/docker/docker/profiles/seccomp/default.json
  vendor/github.com/docker/docker/profiles/seccomp/default_linux.go
  vendor/modules.txt
Labels: needs/follow-up

#4627 [v0.12] docs/rootless.md: move auxiliary information to the bottom
  docs/rootless.md
  examples/eksctl/bottlerocket.yaml
Labels: kind/docs, area/rootless

#4607 archutil: refactor generation and validation
  .github/workflows/validate.yml
  Makefile
  docker-bake.hcl
  hack/dockerfiles/archutil.Dockerfile
  util/archutil/386_binary.go
  util/archutil/Dockerfile
  util/archutil/Makefile
  util/archutil/amd64_binary.go
  util/archutil/arm64_binary.go
  util/archutil/arm_binary.go
  util/archutil/generate.go
  util/archutil/mips64_binary.go
  util/archutil/mips64le_binary.go
  util/archutil/ppc64_binary.go
  util/archutil/ppc64le_binary.go
  util/archutil/riscv64_binary.go
  util/archutil/s390x_binary.go
Labels: area/testing, area/ci

#4654 client: fix multiple exporter test for dockerd worker
  client/client_test.go
Labels: area/testing

#4656 hack: fix unbound variable
  hack/test
Labels: area/testing

#4660 ci: set codecov token
  .github/workflows/.test.yml
  .github/workflows/test-os.yml
Labels: area/testing, area/ci

#4664 docs: fix typo in example for sysctl max_user_namespaces
  examples/eksctl/bottlerocket.yaml
Labels: kind/docs, area/rootless, area/kubernetes, needs-cherry-pick/v0.12

#4655 CNI bridge firewall: avoid using `iptables` backend on rootless mode
  util/network/cniprovider/bridge.go
Labels: area/rootless

#4672 ci: inherit secrets from the caller workflow
  .github/workflows/buildkit.yml
  .github/workflows/frontend.yml
Labels: area/ci

#4408 dockerfile2llb: consistent progress for HTTP and Git ops with ADD
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: area/dockerfile

#4561 Dockerfile: Allow files to be excluded from cache on COPY and ADD commands
  client/llb/fileop.go
  docker-bake.hcl
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/exclude_patterns_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/docs/reference.md
  frontend/dockerfile/exclude_patterns_test.go
  frontend/dockerfile/instructions/commands.go
  frontend/dockerfile/instructions/exclude_pattern_feature.go
  frontend/dockerfile/instructions/parse.go
  frontend/dockerfile/release/labs/tags
Labels: needs/docs-follow-up

#4663 Avoid applying `SOURCE_DATE_EPOCH` to base images
  examples/dockerfile2llb/main.go
  exporter/containerimage/exptypes/types.go
  exporter/containerimage/writer.go
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_test.go
  frontend/dockerfile/dockerfile2llb/image.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerui/build.go
  util/converter/converter.go
Labels: needs/follow-up, area/reproducible-builds

#4698 vendor: update github.com/serialx/hashring to 22c0c7ab6b1b
  go.mod
  go.sum
  vendor/github.com/serialx/hashring/.gitignore
  vendor/github.com/serialx/hashring/hash.go
  vendor/github.com/serialx/hashring/hashring.go
  vendor/github.com/serialx/hashring/key.go
  vendor/modules.txt
Labels: dependencies

#4697 vendor: update github.com/containerd/fuse-overlayfs-snapshotter to 1.0.8
  go.mod
  go.sum
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/Dockerfile
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/Makefile
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/README.md
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/check.go
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/fuseoverlayfs.go
  vendor/modules.txt
Labels: dependencies

#4701 vendor: update go.etcd.io/bbolt to v1.3.9
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/bolt_openbsd.go
  vendor/go.etcd.io/bbolt/bucket.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: dependencies

#4704 vendor: update github.com/tonistiigi/go-actions-cache to a0b64f338598
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/modules.txt
Labels: dependencies

#4699 vendor: update github.com/pkg/profile to v1.7.0
  go.mod
  go.sum
  vendor/github.com/felixge/fgprof/BenchmarkProfilerGoroutines.txt
  vendor/github.com/felixge/fgprof/LICENSE.txt
  vendor/github.com/felixge/fgprof/README.md
  vendor/github.com/felixge/fgprof/fgprof.go
  vendor/github.com/felixge/fgprof/handler.go
  vendor/github.com/google/pprof/AUTHORS
  vendor/github.com/google/pprof/CONTRIBUTORS
  vendor/github.com/google/pprof/LICENSE
  vendor/github.com/google/pprof/profile/encode.go
  vendor/github.com/google/pprof/profile/filter.go
  vendor/github.com/google/pprof/profile/index.go
  vendor/github.com/google/pprof/profile/legacy_java_profile.go
  vendor/github.com/google/pprof/profile/legacy_profile.go
  vendor/github.com/google/pprof/profile/merge.go
  vendor/github.com/google/pprof/profile/profile.go
  vendor/github.com/google/pprof/profile/proto.go
  vendor/github.com/google/pprof/profile/prune.go
  vendor/github.com/pkg/profile/profile.go
  vendor/modules.txt
Labels: dependencies

#4702 cache(gha): add timeout attr for cache export/import
  README.md
  cache/remotecache/gha/gha.go
Labels: area/cache, needs/docs-follow-up

#4688 docs: restructure descriptions for add, copy, run flags
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, kind/docs

#4716 vendor: update github.com/Masterminds/semver to v3.2.1
  go.mod
  go.sum
  vendor/github.com/Masterminds/semver/v3/.golangci.yml
  vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  vendor/github.com/Masterminds/semver/v3/Makefile
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/SECURITY.md
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/doc.go
  vendor/github.com/Masterminds/semver/v3/fuzz.go
  vendor/github.com/Masterminds/semver/v3/version.go
  vendor/modules.txt
Labels: dependencies
