Repository moby/buildkit, pull requests merged in 2025-03, with the labels that each got.

#5797 vendor: update action-cache with longer azure retries
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/dependencies

#5317 fix: util/path: `CheckSystemDriveAndRemoveDriveLetter` to preserve `/`
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
  solver/llbsolver/file/backend.go
  util/system/path.go
  util/system/path_test.go
Labels: area/dockerfile, area/testing, status/merge, area/frontend, area/util, area/solver

#5805 gha: mitigate cache v2 flakiness
  cache/remotecache/gha/gha_test.go
Labels: area/testing, area/remotecache

#5806 integration: test split for wcow
  .github/workflows/test-os.yml
  util/testutil/integration/run.go
Labels: area/ci, area/util

#5808 update binfmt to v9.2.2
  Dockerfile
Labels: area/project

#5798 vendor: update containerd to v2.0.3
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/core/content/proxy/content_writer.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

#5810 fix: wcow: pause integration tests on WS2025
  .github/workflows/test-os.yml
Labels: area/ci

#5825 update RootlessKit to v2.3.4
  Dockerfile
Labels: area/project, area/rootless, needs-cherry-pick/v0.20

#5830 solver: fix parent span for preprocess traces
  solver/jobs.go
Labels: area/solver

#5834 resolver: fix missing user-agent on layer requests
  util/resolver/pool.go
Labels: area/util

#5833 solver: fix reading secrets from any session
  frontend/gateway/container/container.go
  solver/llbsolver/ops/exec.go
  source/git/source.go
Labels: area/frontend, area/solver, area/source

#5840 create cdi spec folders in buildkit container
  Dockerfile
Labels: area/project

#5844 Update containerd to v2.0.4
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/client/client.go
  vendor/github.com/containerd/containerd/v2/core/images/image.go
  vendor/github.com/containerd/containerd/v2/core/images/mediatypes.go
  vendor/github.com/containerd/containerd/v2/core/remotes/handlers.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

#5846 update containerd to v2.0.4
  Dockerfile
Labels: area/project

#5854 go.mod: update minimum go version to go1.23
  cache/manager.go
  client/solve.go
  cmd/buildkitd/main_oci_worker.go
  go.mod
  solver/cachekey.go
  solver/jobs.go
  solver/llbsolver/cdidevices/manager.go
  worker/containerd/containerd.go
  worker/runc/runc.go
Labels: area/dependencies, area/storage, area/client, area/buildkitd, area/solver, area/worker

#5845 update runc to v1.2.6
  Dockerfile
Labels: area/project

#5837 dockerfile: fix sbom attestation for windows targets
  frontend/dockerui/build.go
Labels: area/frontend

#5862 exporter: expose image.name constant for the exported image name
  client/client_test.go
  client/solve.go
  cmd/buildctl/build_test.go
  exporter/containerimage/export.go
  exporter/containerimage/exptypes/types.go
  exporter/oci/export.go
Labels: area/testing, status/merge, area/client, area/exporter, area/buildctl

#5861 vendor: github.com/docker/docker, docker/cli v28.0.2
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/archive_windows.go
  vendor/github.com/docker/docker/pkg/archive/changes.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/archive/time_nonwindows.go
  vendor/github.com/docker/docker/pkg/archive/wrap.go
  vendor/github.com/docker/docker/pkg/atomicwriter/atomicwriter.go
  vendor/github.com/docker/docker/pkg/chrootarchive/diff_unix.go
  vendor/modules.txt
Labels: area/dependencies

#5858 containerimage: container image exporter creates dangling images by default
  exporter/containerimage/export.go
  exporter/containerimage/exptypes/keys.go
Labels: area/exporter

#5869 ci: set contents read as default workflow permissions
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/buildx-image.yml
  .github/workflows/dockerd.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/frontend.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci

#5867 fix entitlements handling for OnDemand CDI devices
  solver/llbsolver/vertex.go
Labels: area/solver

#5831 cache: add tracing spans for layer extraction
  cache/refs.go
Labels: area/storage

#5874 [v0.20] cherry-picks for v0.20.2
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/client/client.go
  vendor/github.com/containerd/containerd/v2/core/images/image.go
  vendor/github.com/containerd/containerd/v2/core/images/mediatypes.go
  vendor/github.com/containerd/containerd/v2/core/remotes/handlers.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/project, area/dependencies

#5859 fix: reduce default expire time for opaque tokens
  session/auth/authprovider/authprovider.go
Labels: status/merge, area/session

#5881 chore(labeler): area/cdi
  .github/labeler.yml
Labels: area/project
