Repository moby/buildkit, pull requests merged in 2025-01, with the labels that each got.

#5629 buildkitd: remove sync.Once from isRootlessConfig
  cmd/buildkitd/main.go
Labels: area/buildkitd

#5619 vendor: github.com/prometheus/client_golang v1.20.5
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/modules.txt
Labels: area/dependencies

#5620 vendor: go.opentelemetry.io/contrib/instrumentation/.. v0.53.0, go.opentelemetry.io/otel/exporters/otlp/... v1.28.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/config.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/doc.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/interceptorinfo.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/internal/parse.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/metadata_supplier.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/semconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/stats_handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/version.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/api.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/clienttrace.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/httptrace.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/netconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/README.md
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/config.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/doc.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/envconfig/envconfig.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/gen.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/envconfig.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/optiontypes.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/tls.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/partialsuccess.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/retry/retry.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/attribute.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/error.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/metricdata.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/README.md
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/config.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/doc.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/envconfig/envconfig.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/gen.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/envconfig.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/optiontypes.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/tls.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/partialsuccess.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/retry/retry.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/attribute.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/error.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/version.go
  vendor/modules.txt
Labels: area/dependencies

#5626 dockerfile: fix copy non-octal build tag
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/release/labs/tags
  go.mod
Labels: area/dockerfile, area/dependencies, area/frontend

#5594 test: allow testing frontends from different version
  .github/workflows/.test.yml
  docker-bake.hcl
  frontend/dockerfile/cmd/dockerfile-frontend/hack/release
  hack/images
  hack/test
  hack/util
Labels: area/dockerfile, area/hack, area/ci, area/frontend

#5519 Add FileActionSymlink and `llb.Symlink`
  client/client_test.go
  client/llb/fileop.go
  client/llb/fileop_test.go
  cmd/buildctl/debug/dumpllb.go
  solver/llbsolver/file/backend.go
  solver/llbsolver/ops/file.go
  solver/llbsolver/ops/file_test.go
  solver/llbsolver/ops/fileoptypes/types.go
  solver/llbsolver/vertex.go
  solver/pb/caps.go
  solver/pb/ops.pb.go
  solver/pb/ops.proto
  solver/pb/ops_vtproto.pb.go
Labels: kind/enhancement, area/llb, area/testing, area/client, area/solver, area/buildctl

#5589 Fix invalid index.json annotations on tar=false export
  client/ociindex/ociindex.go
  client/ociindex/ociindex_test.go
  client/solve.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, status/merge, area/client, area/frontend

#5457 util/resolver: rename vars that shadowed imports
  util/resolver/authorizer.go
  util/resolver/resolver.go
Labels: status/code-review, area/util

#5642 vendor: github.com/tonistiigi/go-actions-cache 017636a73805
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/modules.txt
Labels: area/dependencies

#5573 add OCI artifact version of attestation manifest
  README.md
  client/client_test.go
  exporter/containerimage/exptypes/keys.go
  exporter/containerimage/opts.go
  exporter/containerimage/writer.go
Labels: area/project, area/testing, area/client, area/exporter

#5634 update bake-action to v6
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
  docker-bake.hcl
Labels: area/ci

#5645 dockerfile: fix syntax forwarding for files with BOM
  frontend/dockerfile/parser/directives.go
  frontend/dockerfile/parser/directives_test.go
  frontend/dockerfile/parser/parser.go
Labels: area/dockerfile, area/testing, area/frontend

#5649 vendor: update fsutil to b14e27f4
  go.mod
  go.sum
  vendor/github.com/tonistiigi/fsutil/Dockerfile
  vendor/github.com/tonistiigi/fsutil/docker-bake.hcl
  vendor/github.com/tonistiigi/fsutil/filter.go
  vendor/modules.txt
Labels: area/dependencies

#5646 dockerfile: don't allow non-Dockerfile syntax for directives
  frontend/dockerfile/parser/directives.go
  frontend/dockerfile/parser/directives_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5648 vendor: golang.org/x/net v0.33.0
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/modules.txt
Labels: area/dependencies

#5638 dockerfile: update containerd to 2.0.2 and 1.7.25
  Dockerfile
Labels: area/project

#5653 vendor: github.com/containerd/containerd/v2 v2.0.2
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/github.com/containerd/platforms/compare.go
  vendor/github.com/containerd/platforms/database.go
  vendor/github.com/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/platforms/platform_windows_compat.go
  vendor/github.com/containerd/platforms/platforms.go
  vendor/github.com/containerd/platforms/platforms_other.go
  vendor/github.com/containerd/platforms/platforms_windows.go
  vendor/github.com/containerd/ttrpc/metadata.go
  vendor/github.com/containerd/ttrpc/server.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: area/dependencies

#5655 vendor: google.golang.org/protobuf v1.35.2
  api/services/control/control.pb.go
  api/types/worker.pb.go
  cache/contenthash/checksum.pb.go
  frontend/gateway/pb/gateway.pb.go
  go.mod
  go.sum
  session/auth/auth.pb.go
  session/filesync/filesync.pb.go
  session/secrets/secrets.pb.go
  session/sshforward/ssh.pb.go
  session/upload/upload.pb.go
  solver/errdefs/errdefs.pb.go
  solver/pb/ops.pb.go
  sourcepolicy/pb/policy.pb.go
  util/apicaps/pb/caps.pb.go
  util/stack/stack.pb.go
  vendor/google.golang.org/protobuf/cmd/protoc-gen-go/internal_gengo/main.go
  vendor/google.golang.org/protobuf/compiler/protogen/protogen.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/modules.txt
Labels: area/dependencies, area/storage, area/frontend, area/util, area/api, area/session, area/solver, area/sourcepolicy

#5614 Support OS version in platform string
  client/client_test.go
  client/llb/imagemetaresolver/resolver.go
  exporter/containerimage/annotations.go
  exporter/containerimage/exptypes/annotations.go
  exporter/containerimage/exptypes/parse.go
  exporter/verifier/platforms.go
  frontend/dockerfile/builder/build.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/platform.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerui/build.go
  frontend/dockerui/config.go
  solver/llbsolver/bridge.go
  source/containerimage/source.go
Labels: area/dockerfile, area/llb, area/testing, needs/follow-up, area/client, area/frontend, area/exporter, area/solver, area/source

#5654 downgrade go-difflib and go-spew to tagged releases
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#5660 testing: use env var for configuring debugaddress for tests
  cmd/buildkitd/main.go
  util/testutil/workers/util.go
Labels: area/util, area/buildkitd

#5661 test: missing direct push check feature compat
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5657 chore: annotate errors returned from NewFromStat() with the file path
  cache/contenthash/filehash.go
Labels: area/storage

#5664 docs: clarify leading and trailing slashes in add/copy source path
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5666 llbsolver: take copy of history record to avoid marshal race
  solver/llbsolver/history.go
Labels: area/solver

#5665 contenthash: clear ModeIrregular before sending to archive/tar
  cache/contenthash/filehash.go
Labels: area/storage

#5636 cache: convert prune loop from recursive invocation to iterative
  cache/manager.go
  control/control.go
  hack/composefiles/compose.yaml
Labels: area/hack, area/storage, area/solver

#5656 tests: add validation that config has OSVersion set
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5643 vendor: kernel.org/pub/linux/libs/security/libcap/cap v1.2.73
  go.mod
  go.sum
  vendor/kernel.org/pub/linux/libs/security/libcap/cap/cap.go
  vendor/kernel.org/pub/linux/libs/security/libcap/cap/iab.go
  vendor/kernel.org/pub/linux/libs/security/libcap/psx/doc.go
  vendor/kernel.org/pub/linux/libs/security/libcap/psx/psx.c
  vendor/kernel.org/pub/linux/libs/security/libcap/psx/psx.go
  vendor/kernel.org/pub/linux/libs/security/libcap/psx/psx_cgo.go
  vendor/kernel.org/pub/linux/libs/security/libcap/psx/psx_syscall.h
  vendor/modules.txt
Labels: area/dependencies

#5613 fix git http_proxy ignored
  util/gitutil/git_cli.go
Labels: area/util

#5676 [v0.19 backport] Dockerfile: update RootlessKit to v2.3.2
  Dockerfile
Labels: area/project

#5672 Replace legacy issue template with revised issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/issue_reporting_guide.md
  .github/issue_template.md
Labels: area/project

#5669 ci: switch jobs using emulation to native arm64 runners
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
Labels: area/ci

#5681 Remove dupe security entry from issue selection prompt
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/project

#5684 authprovider: Add support for expiring auth cache
  cmd/buildctl/build.go
  session/auth/authprovider/authprovider.go
  session/auth/authprovider/authprovider_test.go
Labels: area/testing, area/session, area/buildctl

#5690 vendor: github.com/docker/docker, github.com/docker/cli v27.5.1
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#5689 vendor: fuse-overlayfs-snapshotter v2.1.1, google.golang.org/grpc v1.69.4
  go.mod
  go.sum
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/v2/.golangci.yml
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/v2/check.go
  vendor/github.com/containerd/fuse-overlayfs-snapshotter/v2/fuseoverlayfs.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/pickfirst/internal/internal.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirstleaf/pickfirstleaf.go
  vendor/google.golang.org/grpc/balancer/roundrobin/roundrobin.go
  vendor/google.golang.org/grpc/balancer/subconn.go
  vendor/google.golang.org/grpc/balancer_wrapper.go
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/codec.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/experimental/stats/metricregistry.go
  vendor/google.golang.org/grpc/experimental/stats/metrics.go
  vendor/google.golang.org/grpc/grpclog/internal/loggerv2.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/dns/dns_resolver.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/server_stream.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_slice.go
  vendor/google.golang.org/grpc/preloader.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1/reflection.pb.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.pb.go
  vendor/google.golang.org/grpc/resolver/resolver.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stats/metrics.go
  vendor/google.golang.org/grpc/stats/stats.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: area/dependencies

#5694 fix: docs: windows: enhance the CNI setup instructions
  docs/windows.md
Labels: area/docs
