Repository moby/buildkit, pull requests merged in 2025-05, with the labels that each got.

#5942 feat: add FrontendError
  frontend/frontend.go
  frontend/gateway/gateway.go
  solver/errdefs/errdefs.pb.go
  solver/errdefs/errdefs.proto
  solver/errdefs/errdefs_vtproto.pb.go
  solver/errdefs/frontend.go
  solver/llbsolver/provenance.go
Labels: area/frontend, area/solver

#5953 util: fix stack compression compare bug
  util/stack/compress.go
Labels: area/util

#5956 util: testutil: enable `dockerd-containerd` worker for wcow integration tests
  util/testutil/dockerd/daemon.go
  util/testutil/dockerd/daemon_unix.go
  util/testutil/dockerd/daemon_windows.go
  util/testutil/workers/dockerd.go
  util/testutil/workers/util_unix.go
  util/testutil/workers/util_windows.go
Labels: area/windows, area/util

#5960 dockerfile: make WORKDIR respect SOURCE_DATE_EPOCH
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5967 progressui: fix panic on very small terminal
  util/progress/progressui/display.go
Labels: area/util

#5966 cache: improve migration to image manifest cache
  cache/remotecache/export.go
  cache/remotecache/local/local.go
  cache/remotecache/registry/registry.go
Labels: area/remotecache

#5895 windows: leave default PATH env to be set by the OS
  client/llb/exec.go
  exporter/containerimage/writer.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/image.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/dockerfile_test.go
  solver/llbsolver/ops/exec.go
Labels: area/dockerfile, area/llb, area/testing, area/client, area/frontend, area/exporter, area/solver

#5958 pusher: add response details to push errors
  exporter/containerimage/export.go
Labels: area/exporter

#5968 fix: omit empty list of platforms when serializing worker config
  cmd/buildkitd/config/config.go
Labels: status/merge, area/buildkitd

#5817 dockerfile: allow whitespace in heredocs
  frontend/dockerfile/parser/parser.go
  frontend/dockerfile/parser/parser_heredoc_test.go
  frontend/dockerfile/shell/lex.go
Labels: area/dockerfile, area/testing, area/frontend

#5957 errdefs: fix filename typo
  solver/errdefs/frontendcap.go
Labels: status/merge, area/solver

#3867 Support for building overlaybd images
  cache/blobs.go
  cache/manager.go
  cache/refs.go
  cache/remotecache/registry/registry.go
  docs/overlaybd.md
  go.mod
  go.sum
  source/containerimage/pull.go
  vendor/github.com/containerd/accelerated-container-image/LICENSE
  vendor/github.com/containerd/accelerated-container-image/pkg/label/label.go
  vendor/github.com/containerd/accelerated-container-image/pkg/types/types.go
  vendor/github.com/containerd/accelerated-container-image/pkg/utils/cmd.go
  vendor/github.com/containerd/accelerated-container-image/pkg/utils/du_unix.go
  vendor/modules.txt
Labels: area/dependencies, area/remotecache, area/docs, area/source

#5969 cdi: fix device request by class annotation
  client/client_test.go
  solver/llbsolver/cdidevices/fixtures/vendor1-devicemulti.yaml
  solver/llbsolver/cdidevices/manager.go
  solver/llbsolver/cdidevices/manager_test.go
Labels: area/testing, area/client, area/solver, area/cdi

#5923 dockerfile: run device docs
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#5533 dockerfile: update cni to 1.7.1
  Dockerfile
Labels: area/project

#5973 vendor: github.com/containerd/accelerated-container-image v1.3.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#5976 project: update wrong flag name
  PROJECT.md
Labels: area/project

#5975 git source: add AttrGitChecksum
  client/llb/source.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_addchecksum_test.go
  frontend/dockerfile/dockerfile_addgit_test.go
  solver/pb/attr.go
  solver/pb/caps.go
  source/git/identifier.go
  source/git/source.go
  source/git/source_test.go
Labels: area/dockerfile, area/llb, area/testing, needs/follow-up, area/client, area/frontend, area/solver, area/source, needs/docs-follow-up

#5455 allow duration based filters on diskusage requests
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  cache/manager.go
  client/diskusage.go
  control/control.go
Labels: kind/enhancement, area/storage, area/client, area/api, area/solver, needs/docs-follow-up

#5980 tests: client: skip flaky test on windows
  client/client_test.go
Labels: area/testing, area/client

#5983 Dockerfile: curl: add -S -f
  Dockerfile
  docs/cni-networking.md
  docs/windows.md
Labels: area/project, area/docs

#5986 ci(validate): split by platform
  .github/workflows/test-os.yml
  .github/workflows/validate.yml
  docker-bake.hcl
Labels: area/ci

#5990 README.md: Add Massé to the list of frontends
  README.md
Labels: area/project

#5987 file: add chown to archive unpack from copy
  frontend/dockerfile/dockerfile_test.go
  solver/llbsolver/file/backend.go
  solver/llbsolver/file/unpack.go
Labels: area/dockerfile, area/testing, area/frontend, area/solver

#5994 ci: assign author on pull request
  .github/workflows/pr-assign-author.yml
Labels: area/ci
