Repository moby/buildkit, pull requests merged in 2025-06, with the labels that each got.

#6004 integration: fix data race on printing daemon logs
  util/testutil/integration/run.go
Labels: area/util

#6003 Raw socket forwarding
  client/client_test.go
  cmd/buildctl/build.go
  cmd/buildctl/build/ssh.go
  docs/reference/buildctl.md
  session/sshforward/sshprovider/agentprovider.go
  session/sshforward/sshprovider/agentprovider_test.go
  session/sshforward/sshprovider/pipe_test.go
  session/sshforward/sshprovider/raw_provider.go
  session/sshforward/sshprovider/raw_provider_test.go
Labels: area/testing, area/client, area/docs, area/session, area/buildctl

#6011 fix HTTP_PROXY errors on local sockets via grpc update
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: area/dependencies

#5999 solver: handle not found error on cache export
  solver/exporter.go
  solver/exporter_test.go
Labels: area/testing, area/solver

#6012 git url: rename GitURLFragment to GitURLOpts
  source/git/identifier.go
  util/gitutil/git_ref.go
  util/gitutil/git_url.go
  util/gitutil/git_url_test.go
Labels: area/testing, area/util, area/source

#6017 vendor: update fsutil to master@586307ad452f
  go.mod
  go.sum
  vendor/github.com/tonistiigi/fsutil/send.go
  vendor/modules.txt
Labels: area/dependencies

#6010 cdi: mitigate tests flakiness
  client/client_cdi_test.go
  client/client_test.go
Labels: area/testing, area/client

#6023 http: allow authorization secrets per hostname
  client/client_test.go
  source/http/source.go
Labels: area/testing, area/client, area/source

#6006 solver: fix some data races
  frontend/dockerui/config.go
  solver/jobs.go
Labels: area/frontend, area/solver

#6007 local: fix platform-split=true option
  client/client_test.go
  exporter/local/export.go
  exporter/local/export_unix.go
  exporter/local/export_windows.go
  exporter/local/fs.go
  exporter/tar/export.go
Labels: area/testing, area/windows, area/client, area/exporter

#6026 vendor: github.com/tonistiigi/go-actions-cache 388a2ec8cdf8
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/Dockerfile
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/dependencies

#6029 resolver: allow reference matches for local image lookups
  util/resolver/pool.go
Labels: area/util, needs-cherry-pick/v0.23

#6031 [v0.23] resolver: allow reference matches for local image lookups
  util/resolver/pool.go
Labels: area/util

#6034 provenance: slsa v1 to v0.2 helper
  solver/llbsolver/provenance.go
  solver/llbsolver/provenance/predicate.go
  solver/llbsolver/provenance/types/types.go
Labels: area/solver

#6039 [v0.23] Update containerd to v2.1.3
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/core/content/helpers.go
  vendor/github.com/containerd/containerd/v2/core/mount/mount_linux.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/errcode.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/v2/core/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/v2/core/transfer/proxy/transfer.go
  vendor/github.com/containerd/containerd/v2/core/unpack/unpacker.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies, needs-cherry-pick/v0.23

#6045 client: allow configuring exporter content store
  client/client_test.go
  client/solve.go
Labels: area/testing, area/client

#6053 gha cache: reload expired cache URLs
  go.mod
  go.sum
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/dependencies, needs-cherry-pick/v0.23
