Repository moby/buildkit, pull requests merged in 2025-08, with the labels that each got.

#6122 vendor: containerd v2.1.4, binaries v2.1.4, v2.0.6, v1.7.28
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/client/client.go
  vendor/github.com/containerd/containerd/v2/client/task.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/project, area/dependencies

#6126 vendor: github.com/docker/go-connections v0.6.0
  go.mod
  go.sum
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/parse.go
  vendor/modules.txt
Labels: area/dependencies

#6092 [cache] Fix descriptor duplication in getAvailableBlobs
  cache/remote.go
Labels: status/merge, area/storage

#6128 frontend/dockerfile: remove uses of github.com/docker/go-connections/nat for parsing EXPOSE
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/convert_expose.go
  frontend/dockerfile/dockerfile2llb/convert_expose_test.go
  go.mod
  go.sum
  vendor/github.com/docker/go-connections/LICENSE
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/parse.go
  vendor/github.com/docker/go-connections/nat/sort.go
  vendor/modules.txt
Labels: area/dockerfile, area/testing, area/dependencies, area/frontend

#6076 debug: allow debug from remote cache config
  cache/remotecache/v1/cachestorage.go
  cmd/buildkitd/debug.go
  solver/bboltcachestorage/storage.go
  util/cachedigest/db_test.go
  util/cachedigest/digest.go
  util/cachestore/store.go
Labels: area/testing, area/util, area/buildkitd, area/remotecache, area/solver

#6136 vendor: go.etcd.io/bbolt v1.4.2
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/bolt_386.go
  vendor/go.etcd.io/bbolt/bolt_aix.go
  vendor/go.etcd.io/bbolt/bolt_amd64.go
  vendor/go.etcd.io/bbolt/bolt_android.go
  vendor/go.etcd.io/bbolt/bolt_arm.go
  vendor/go.etcd.io/bbolt/bolt_arm64.go
  vendor/go.etcd.io/bbolt/bolt_loong64.go
  vendor/go.etcd.io/bbolt/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/bolt_ppc.go
  vendor/go.etcd.io/bbolt/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/bolt_riscv64.go
  vendor/go.etcd.io/bbolt/bolt_s390x.go
  vendor/go.etcd.io/bbolt/bolt_solaris.go
  vendor/go.etcd.io/bbolt/bolt_unix.go
  vendor/go.etcd.io/bbolt/bolt_windows.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_386.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_amd64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_arm.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_arm64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_loong64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_ppc.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_riscv64.go
  vendor/go.etcd.io/bbolt/internal/common/bolt_s390x.go
  vendor/go.etcd.io/bbolt/internal/common/types.go
  vendor/go.etcd.io/bbolt/internal/common/unsafe.go
  vendor/go.etcd.io/bbolt/tx.go
  vendor/modules.txt
Labels: area/dependencies

#6156 ci(validate): use matrix subaction
  .github/workflows/validate.yml
Labels: area/ci

#6153 dockerfile: show error when args used in COPY --from
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#6158 vendor: update x/sync to v0.16.0
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Labels: area/dependencies

#6159 vendor: go.etcd.io/bbolt v1.4.3
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/tx.go
  vendor/modules.txt
Labels: area/dependencies

#6127 Remove mention of --oci-worker-no-process-sandbox on daemonless mode
  README.md
  docs/images-readme.md
Labels: area/project, area/docs

#6163 vendor: github.com/docker/cli v28.3.3
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/modules.txt
Labels: area/dependencies

#6164 vendor: github.com/urfave/cli v1.22.17
  go.mod
  go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/modules.txt
Labels: area/dependencies

#6172 Support querystring form Git URLs
  client/llb/git_test.go
  client/llb/source.go
  frontend/dockerfile/dfgitutil/git_ref.go
  frontend/dockerfile/dfgitutil/git_ref_test.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_addgit_test.go
  frontend/dockerui/context.go
  frontend/dockerui/namedcontext.go
  util/gitutil/git_url.go
  util/gitutil/git_url_test.go
  util/sshutil/scpurl.go
Labels: area/dockerfile, area/llb, area/testing, area/client, area/frontend, area/util
