Repository moby/buildkit, pull requests merged in 2025-02, with the labels that each got.

#5698 github: update setup-qemu image to v9.2.0
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
Labels: area/ci

#5390 hack: mount docker config on gha
  .github/CONTRIBUTING.md
  hack/shell
  hack/test
  util/contentutil/refs.go
  util/testutil/integration/run.go
Labels: area/project, area/hack, area/util

#5702 ci: use main branch for docs upstream validation workflow
  .github/workflows/docs-upstream.yml
Labels: area/ci

#5692 bboltcachestorage: delete links outside of cursor
  solver/bboltcachestorage/storage.go
Labels: area/solver

#5688 dockerfile: avoid too eager loading of unreachable named contextes
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerui/config.go
  frontend/dockerui/namedcontext.go
  frontend/gateway/gateway.go
Labels: area/dockerfile, area/testing, area/frontend

#5705 llbsolver: add filter+limit support to history listen
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  solver/llbsolver/history.go
  solver/llbsolver/history_test.go
  solver/pb/caps.go
Labels: area/testing, area/api, area/solver

#5710 Add Windows-2025 to GitHub Actions OS Matrix
  .github/workflows/test-os.yml
Labels: needs/follow-up, area/ci

#5652 test: move gha cache to its own suite
  .github/workflows/buildkit.yml
  cache/remotecache/gha/gha_test.go
  client/client_test.go
Labels: area/testing, area/ci, area/client, area/remotecache

#5597 [s3 cache] Fix upload of downloaded layer
  cache/remotecache/s3/s3.go
Labels: status/merge, area/remotecache

#5715 vendor: github.com/containerd/go-cni v1.1.12
  go.mod
  go.sum
  vendor/github.com/containerd/go-cni/cni.go
  vendor/github.com/containerd/go-cni/deprecated.go
  vendor/github.com/containerd/go-cni/mutex.go
  vendor/github.com/containerd/go-cni/mutex_deadlocks.go
  vendor/github.com/containerd/go-cni/result.go
  vendor/github.com/containerd/go-cni/testutils.go
  vendor/github.com/petermattis/goid/.gitignore
  vendor/github.com/petermattis/goid/LICENSE
  vendor/github.com/petermattis/goid/README.md
  vendor/github.com/petermattis/goid/goid.go
  vendor/github.com/petermattis/goid/goid_gccgo.go
  vendor/github.com/petermattis/goid/goid_go1.3.c
  vendor/github.com/petermattis/goid/goid_go1.3.go
  vendor/github.com/petermattis/goid/goid_go1.4.go
  vendor/github.com/petermattis/goid/goid_go1.4.s
  vendor/github.com/petermattis/goid/goid_go1.5.go
  vendor/github.com/petermattis/goid/goid_go1.5.s
  vendor/github.com/petermattis/goid/goid_slow.go
  vendor/github.com/petermattis/goid/runtime_gccgo_go1.8.go
  vendor/github.com/petermattis/goid/runtime_go1.23.go
  vendor/github.com/petermattis/goid/runtime_go1.5.go
  vendor/github.com/petermattis/goid/runtime_go1.6.go
  vendor/github.com/petermattis/goid/runtime_go1.9.go
  vendor/github.com/sasha-s/go-deadlock/.travis.yml
  vendor/github.com/sasha-s/go-deadlock/LICENSE
  vendor/github.com/sasha-s/go-deadlock/Readme.md
  vendor/github.com/sasha-s/go-deadlock/deadlock.go
  vendor/github.com/sasha-s/go-deadlock/deadlock_map.go
  vendor/github.com/sasha-s/go-deadlock/stacktraces.go
  vendor/github.com/sasha-s/go-deadlock/test.sh
  vendor/github.com/sasha-s/go-deadlock/trylock.go
  vendor/modules.txt
Labels: area/dependencies

#5714 dockerfile: maintain osversion/variant from the base image
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, needs/follow-up, area/frontend

#5695 dockerfile: update binfmt to v9.2.0-50
  .github/workflows/.test.yml
  .github/workflows/buildkit.yml
  .github/workflows/dockerd.yml
  .github/workflows/frontend.yml
  Dockerfile
Labels: area/ci

#5722 testutil: set cdi spec dir with config
  util/testutil/workers/containerd.go
  util/testutil/workers/oci.go
  util/testutil/workers/util.go
Labels: area/util

#5729 exec: check cdi manager not nil
  solver/llbsolver/ops/exec.go
Labels: area/solver

#5728 vendor: github.com/package-url/packageurl-go v0.1.1
  go.mod
  go.sum
  vendor/github.com/package-url/packageurl-go/Makefile
  vendor/github.com/package-url/packageurl-go/README.md
  vendor/github.com/package-url/packageurl-go/packageurl.go
  vendor/modules.txt
Labels: area/dependencies

#5730 verifier: do not run invalid platforms check when there are no results
  client/client_test.go
  exporter/verifier/platforms.go
  solver/result/result.go
Labels: area/testing, area/client, area/exporter, area/solver

#5736 remove unused emulators from exported image
  Dockerfile
  solver/llbsolver/ops/exec_binfmt.go
Labels: area/project, area/solver

#5734 dockerfile: bring copy --chmod non-octal out of labs
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile2llb/copy_chmod_non_octal_disabled.go
  frontend/dockerfile/dockerfile2llb/copy_chmod_non_octal_enabled.go
  frontend/dockerfile/dockerfile_chmod_non_octal_test.go
  frontend/dockerfile/release/labs/tags
Labels: area/dockerfile, area/testing, area/frontend

#5726 fix: cdi: add appdefaults.CDISpecDirs for windows
  docs/cdi.md
  util/appdefaults/appdefaults_windows.go
Labels: area/windows, area/util, area/docs

#5735 gha: allow url_v2 input attribute
  cache/remotecache/gha/gha.go
  cmd/buildctl/build/util.go
Labels: area/remotecache, area/buildctl

#5737 ci: install latest vagrant
  .github/workflows/test-os.yml
Labels: area/ci

#5743 mark Windows 2025 tests as non-blockin
  .github/workflows/test-os.yml
Labels: area/ci

#5750 cache(gha): don't require url attr if url_v2 is set
  cache/remotecache/gha/gha.go
Labels: area/remotecache, needs-cherry-pick/v0.20

#5742 add autoallow and entitlements support to CDI devices
  client/build_test.go
  client/client_test.go
  client/solve.go
  cmd/buildctl/build.go
  cmd/buildctl/build/allow.go
  cmd/buildctl/debug/workers.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  control/control.go
  frontend/dockerfile/dockerfile_rundevice_test.go
  frontend/dockerfile/dockerfile_runnetwork_test.go
  frontend/dockerfile/dockerfile_runsecurity_test.go
  solver/llbsolver/bridge.go
  solver/llbsolver/cdidevices/fixtures/vendor1-device.yaml
  solver/llbsolver/cdidevices/fixtures/vendor1-deviceclass.yaml
  solver/llbsolver/cdidevices/fixtures/vendor1-devicemulti.yaml
  solver/llbsolver/cdidevices/manager.go
  solver/llbsolver/cdidevices/manager_test.go
  solver/llbsolver/solver.go
  solver/llbsolver/vertex.go
  util/entitlements/entitlements.go
  worker/runc/runc.go
Labels: area/dockerfile, area/testing, area/client, area/frontend, area/util, area/buildkitd, area/solver, area/worker, area/buildctl, needs-cherry-pick/v0.20

#5754 buildctl: set fallback url for gha cache
  README.md
  cache/remotecache/gha/gha_test.go
  cmd/buildctl/build/importcache_test.go
  cmd/buildctl/build/util.go
  hack/test
Labels: area/project, area/testing, area/hack, area/remotecache, area/buildctl, needs-cherry-pick/v0.20

#5755 [v0.20] cherry-picks 0.20.0-rc3
  Dockerfile
  README.md
  cache/remotecache/gha/gha.go
  cache/remotecache/gha/gha_test.go
  client/build_test.go
  client/client_test.go
  client/solve.go
  cmd/buildctl/build.go
  cmd/buildctl/build/allow.go
  cmd/buildctl/build/importcache_test.go
  cmd/buildctl/build/util.go
  cmd/buildctl/debug/workers.go
  cmd/buildkitd/config/config.go
  cmd/buildkitd/main.go
  cmd/buildkitd/main_containerd_worker.go
  cmd/buildkitd/main_oci_worker.go
  control/control.go
  frontend/dockerfile/dockerfile_rundevice_test.go
  frontend/dockerfile/dockerfile_runnetwork_test.go
  frontend/dockerfile/dockerfile_runsecurity_test.go
  hack/test
  solver/llbsolver/bridge.go
  solver/llbsolver/cdidevices/fixtures/vendor1-device.yaml
  solver/llbsolver/cdidevices/fixtures/vendor1-deviceclass.yaml
  solver/llbsolver/cdidevices/fixtures/vendor1-devicemulti.yaml
  solver/llbsolver/cdidevices/manager.go
  solver/llbsolver/cdidevices/manager_test.go
  solver/llbsolver/solver.go
  solver/llbsolver/vertex.go
  util/entitlements/entitlements.go
  worker/runc/runc.go
Labels: area/dockerfile, area/project, area/testing, area/hack, area/client, area/frontend, area/util, area/buildkitd, area/remotecache, area/solver, area/worker, area/buildctl

#5760 cache(gha): fix missing user-agent for importer
  cache/remotecache/gha/gha.go
Labels: area/remotecache

#5756 refactor: avoid unnecessary calls to platforms.DefaultSpec()
  exporter/containerimage/exptypes/parse.go
  frontend/dockerfile/builder/build.go
  frontend/dockerui/build.go
  frontend/dockerui/config.go
  solver/llbsolver/ops/exec.go
Labels: area/dockerfile, area/frontend, area/exporter, area/solver

#5526 tests: frontend/dockerfile: update integration tests for windows/wcow (revisited)
  frontend/dockerfile/dockerfile_outline_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5708 feat: wcow: add support for bind and cache mounts
  cache/contenthash/checksum.go
  cache/contenthash/checksum_unix.go
  cache/contenthash/checksum_windows.go
  client/client_test.go
  executor/oci/spec.go
  executor/oci/spec_unix.go
  executor/oci/spec_windows.go
  frontend/dockerfile/dockerfile2llb/convert_runmount.go
  frontend/dockerfile/dockerfile_mount_test.go
  frontend/dockerfile/parser/parser.go
  frontend/dockerfile/parser/split_command.go
  util/system/path_unix.go
  util/system/path_windows.go
Labels: area/dockerfile, area/testing, area/windows, status/merge, area/storage, area/client, area/frontend, area/util, area/executor

#5733 http: Support authentication
  client/client_test.go
  client/llb/source.go
  solver/pb/attr.go
  solver/pb/caps.go
  source/http/identifier.go
  source/http/source.go
Labels: area/llb, area/testing, status/merge, area/client, area/solver, area/source

#5732 http: Support additional request headers
  client/client_test.go
  client/llb/source.go
  solver/pb/attr.go
  solver/pb/caps.go
  source/http/identifier.go
  source/http/source.go
Labels: area/llb, area/testing, status/needs-rebase, status/merge, area/client, area/solver, area/source

#5769 vendor: cdi v0.8.1 for panic fix
  cmd/buildkitd/main.go
  go.mod
  go.sum
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
Labels: area/dependencies, area/buildkitd, needs-cherry-pick/v0.20

#5776 dockerfile: normalize platform in image config
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: area/dockerfile, area/frontend

#5771 hack(images): set EXPORT_BASE and BUILDKITD_TAGS args
  hack/images
Labels: area/hack

#5779 testutil: remove go-connections/sockets dependency
  util/testutil/dockerd/client/client.go
  util/testutil/dockerd/client/options.go
  util/testutil/dockerd/client/sockets.go
  util/testutil/dockerd/client/sockets_unix.go
  util/testutil/dockerd/client/sockets_windows.go
  vendor/github.com/docker/go-connections/sockets/README.md
  vendor/github.com/docker/go-connections/sockets/inmem_socket.go
  vendor/github.com/docker/go-connections/sockets/proxy.go
  vendor/github.com/docker/go-connections/sockets/tcp_socket.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/modules.txt
Labels: area/windows, area/dependencies, area/util

#5788 vendor: update fsutil to 13604323
  go.mod
  go.sum
  vendor/github.com/tonistiigi/fsutil/copy/copy.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_windows.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_windows.go
  vendor/github.com/tonistiigi/fsutil/docker-bake.hcl
  vendor/modules.txt
Labels: area/dependencies

#5786 uploadprovider: remove recursion from uploadprovider write code
  session/upload/uploadprovider/provider.go
Labels: area/session

#5780 fix trace blob detected as leaked blob in tests
  control/control.go
  snapshot/containerd/content.go
Labels: area/storage, area/solver
