Repository moby/buildkit, pull requests merged in 2025-04, with the labels that each got.

#5791 vendor: switch from idtools to moby/sys/user
  cache/manager.go
  cache/refs.go
  cmd/buildkitd/util_linux.go
  executor/containerdexecutor/executor.go
  executor/containerdexecutor/executor_unix.go
  executor/containerdexecutor/executor_windows.go
  executor/executor.go
  executor/oci/hosts.go
  executor/oci/resolvconf.go
  executor/oci/spec.go
  executor/oci/spec_darwin.go
  executor/oci/spec_freebsd.go
  executor/oci/spec_linux.go
  executor/oci/spec_windows.go
  executor/runcexecutor/executor.go
  exporter/local/fs.go
  frontend/gateway/gateway.go
  go.mod
  go.sum
  snapshot/containerd/snapshotter.go
  snapshot/snapshotter.go
  snapshot/staticmountable.go
  solver/llbsolver/file/backend.go
  solver/llbsolver/file/backend_unix.go
  solver/llbsolver/file/backend_windows.go
  solver/llbsolver/file/unpack.go
  solver/llbsolver/mounts/mount.go
  solver/llbsolver/ops/exec_binfmt.go
  solver/llbsolver/ops/user_windows.go
  source/git/source.go
  source/http/source.go
  source/local/source.go
  util/system/getuserinfo/userinfo_windows.go
  util/windows/util_windows.go
  vendor/github.com/moby/sys/user/idtools.go
  vendor/github.com/moby/sys/user/idtools_unix.go
  vendor/github.com/moby/sys/user/idtools_windows.go
  vendor/modules.txt
  worker/base/worker.go
  worker/runc/runc.go
Labels: area/dependencies, area/storage, area/frontend, area/util, area/buildkitd, area/executor, area/exporter, area/solver, area/source, area/worker

#5885 fix: wcow: fix race condition in localmounter
  snapshot/localmounter_windows.go
Labels: area/windows, area/storage

#5853 tests: integrate mirror into worker tests
  util/testutil/integration/run.go
  worker/containerd/containerd_test.go
  worker/runc/runc_test.go
  worker/tests/common.go
Labels: area/testing, area/util, area/worker

#5848 hack: allow building golangci from source for custom versions
  hack/dockerfiles/lint.Dockerfile
Labels: area/hack

#5850 file: fix X mode to be Linux-compatible
  client/client_test.go
  go.mod
  go.sum
  vendor/github.com/tonistiigi/dchapes-mode/mode.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/client

#5827 prune: update free-space filter when no max-space set
  cache/manager.go
Labels: status/merge, area/storage

#5886 add support for cert-manager.io syntax for tls using tlsdir
  cmd/buildctl/common/common.go
Labels: area/buildctl

#5888 tests: client: windows: add various llb.AddMount related tests
  .github/workflows/test-os.yml
  client/client_test.go
Labels: area/testing, status/merge, area/ci, area/client

#5893 ci: fix freebsd package repository
  hack/Vagrantfile.freebsd
Labels: area/hack

#5851 dockerfile: add suggestion for mistyped target
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/frontend

#5892 remotecache: enable image-manifest by default
  README.md
  cache/remotecache/local/local.go
  cache/remotecache/registry/registry.go
  client/client_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/project, area/testing, area/client, area/frontend, area/remotecache

#5855 go.mod: golang.org/x/* latest
  go.mod
  go.sum
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_loong64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_linux_noinit.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.s
  vendor/golang.org/x/sys/cpu/parse.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/svc/mgr/config.go
  vendor/golang.org/x/sys/windows/svc/mgr/mgr.go
  vendor/golang.org/x/sys/windows/svc/mgr/recovery.go
  vendor/golang.org/x/sys/windows/svc/mgr/service.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Labels: area/dependencies

#5863 lint: update some sorting code to newer generics based libs
  cache/contenthash/tarsum.go
  cache/filelist.go
  cache/manager.go
  cache/remotecache/v1/utils.go
  client/diskusage.go
  client/llb/exec.go
  cmd/buildctl/debug/workers.go
  cmd/buildkitd/main.go
  exporter/verifier/platforms.go
  frontend/dockerfile/dockerfile2llb/convert.go
  frontend/dockerfile/dockerfile_lint_test.go
  frontend/dockerfile/dockerfile_test.go
  frontend/dockerfile/instructions/bflag_test.go
  frontend/dockerfile/instructions/parse.go
  frontend/gateway/container/container.go
  solver/llbsolver/history.go
  solver/llbsolver/ops/file.go
  solver/llbsolver/provenance/capture.go
  solver/progress.go
  util/apicaps/caps.go
  util/archutil/detect.go
  util/flightcontrol/flightcontrol.go
  util/progress/multiwriter.go
  util/progress/progress.go
  util/progress/progressui/display.go
  util/resolver/authorizer.go
  util/staticfs/static.go
  util/testutil/integration/run.go
  util/tracing/detect/detect.go
Labels: area/dockerfile, area/llb, area/testing, area/client, area/frontend, area/util, area/buildkitd, area/remotecache, area/exporter, area/solver, area/buildctl

#5907 exporter: add session exporter capability
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/client_test.go
  client/solve.go
  control/control.go
  session/exporter/exporter.go
  session/exporter/exporter.pb.go
  session/exporter/exporter.proto
  session/exporter/exporter_grpc.pb.go
  session/exporter/exporter_vtproto.pb.go
  session/exporter/exporterprovider/provider.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
  solver/pb/caps.go
Labels: area/testing, area/client, area/api, area/session, area/solver, needs-cherry-pick/v0.21

#5908 exporter: allow session exporter to access refs
  client/build.go
  client/client_test.go
  frontend/gateway/gateway.go
  session/exporter/exporter.go
  session/exporter/exporter.pb.go
  session/exporter/exporter.proto
  session/exporter/exporter_vtproto.pb.go
  session/exporter/exporterprovider/provider.go
  solver/llbsolver/solver.go
Labels: area/testing, area/client, area/frontend, area/session, area/solver, needs-cherry-pick/v0.21

#5909 [v0.21] cherry-picks for v0.21.0-rc2
  api/services/control/control.pb.go
  api/services/control/control.proto
  api/services/control/control_vtproto.pb.go
  client/build.go
  client/client_test.go
  client/llb/source.go
  client/solve.go
  control/control.go
  frontend/gateway/gateway.go
  go.mod
  go.sum
  session/exporter/exporter.pb.go
  session/exporter/exporter.proto
  session/exporter/exporter_grpc.pb.go
  session/exporter/exporter_vtproto.pb.go
  session/exporter/exporterprovider/provider.go
  session/filesync/diffcopy.go
  session/filesync/filesync.go
  solver/llbsolver/solver.go
  solver/pb/attr.go
  solver/pb/caps.go
  source/local/identifier.go
  source/local/source.go
  vendor/github.com/tonistiigi/fsutil/buffer.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/modules.txt
Labels: area/llb, area/testing, area/dependencies, area/client, area/frontend, area/api, area/session, area/solver, area/source

#5916 vendor: github.com/moby/go-archive v0.1.0
  go.mod
  go.sum
  solver/llbsolver/file/unpack.go
  vendor/github.com/moby/go-archive/.gitattributes
  vendor/github.com/moby/go-archive/.gitignore
  vendor/github.com/moby/go-archive/.golangci.yml
  vendor/github.com/moby/go-archive/archive.go
  vendor/github.com/moby/go-archive/archive_unix.go
  vendor/github.com/moby/go-archive/archive_windows.go
  vendor/github.com/moby/go-archive/changes.go
  vendor/github.com/moby/go-archive/changes_linux.go
  vendor/github.com/moby/go-archive/chrootarchive/archive.go
  vendor/github.com/moby/go-archive/chrootarchive/diff_unix.go
  vendor/github.com/moby/go-archive/chrootarchive/diff_windows.go
  vendor/github.com/moby/go-archive/compression/compression.go
  vendor/github.com/moby/go-archive/compression/compression_detect.go
  vendor/github.com/moby/go-archive/copy.go
  vendor/github.com/moby/go-archive/dev_freebsd.go
  vendor/github.com/moby/go-archive/diff.go
  vendor/github.com/moby/go-archive/internal/mounttree/switchroot_linux.go
  vendor/github.com/moby/go-archive/tarheader/tarheader.go
  vendor/github.com/moby/go-archive/tarheader/tarheader_unix.go
  vendor/github.com/moby/go-archive/tarheader/tarheader_windows.go
  vendor/modules.txt
Labels: area/dependencies, area/solver

#5921 chore: update broken links to https://docs.docker.com/registry
  docs/stargz-estargz.md
  util/resolver/authorizer.go
Labels: area/util, area/docs

#5919 fix(debug): use correct path when copying delve to buildkit-linux-debug
  Dockerfile
Labels: area/project

#5917 fix: wcow: simplify CNI setup for windows
  docs/windows.md
  util/appdefaults/appdefaults_windows.go
Labels: area/windows, area/util, area/docs

#5926 Improve documentation of S3 authentication
  README.md
Labels: area/project

#5918 vendor: github.com/docker/docker, github.com/docker/cli v28.1.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf.go
  vendor/github.com/docker/docker/profiles/seccomp/default_linux.go
  vendor/github.com/docker/docker/profiles/seccomp/seccomp.go
  vendor/github.com/docker/docker/profiles/seccomp/seccomp_linux.go
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Labels: area/dependencies

#5937 vendor: update fsutil to master
  go.mod
  go.sum
  vendor/github.com/tonistiigi/fsutil/stat_unix.go
  vendor/modules.txt
Labels: area/dependencies

#5934 vendor: github.com/docker/docker, docker/cli v28.1.1, containerd v2.0.5
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/client/container.go
  vendor/github.com/containerd/containerd/v2/client/task.go
  vendor/github.com/containerd/containerd/v2/client/task_opts.go
  vendor/github.com/containerd/containerd/v2/client/task_opts_unix.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/defaults/defaults_snapshotter_linux.go
  vendor/github.com/containerd/containerd/v2/defaults/defaults_snapshotter_unix.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/github.com/docker/docker/libnetwork/internal/resolvconf/resolvconf.go
  vendor/modules.txt
Labels: area/dependencies

#5940 ci: fix vagrant build
  .github/workflows/test-os.yml
Labels: area/ci

#5932 vendor: github.com/vbatts/tar-split v0.12.1 (indirect)
  go.mod
  go.sum
  vendor/github.com/vbatts/tar-split/archive/tar/format.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/github.com/vbatts/tar-split/archive/tar/writer.go
  vendor/modules.txt
Labels: area/dependencies

#5925 control: make sure sending nil cache options does not panic
  control/control.go
Labels: area/solver, needs-cherry-pick/v0.21

#5945 client: reorder arguments for integration test
  client/client_test.go
Labels: area/testing, area/client

#5941 frontend/dockerui/build: fix "no scan targets for linux/arm64/v8"
  frontend/dockerui/build.go
  frontend/dockerui/build_test.go
Labels: area/testing, area/frontend

#5950 buildctl: fix tlsdir handling logic for cert-manager.io
  cmd/buildctl/common/common.go
  cmd/buildctl/common/common_test.go
  cmd/buildctl/main.go
  docs/reference/buildctl.md
Labels: area/testing, area/docs, area/buildctl, needs-cherry-pick/v0.21

#5905 feat(grpc): preserve unknown detail types when decoding gRPC errors
  util/grpcerrors/grpcerrors.go
  util/grpcerrors/grpcerrors_test.go
Labels: area/testing, area/util

#5952 [v0.21] cherry-picks for v0.21.1
  cmd/buildctl/common/common.go
  cmd/buildctl/common/common_test.go
  cmd/buildctl/main.go
  control/control.go
  docs/reference/buildctl.md
  frontend/dockerui/build.go
  frontend/dockerui/build_test.go
Labels: area/testing, area/frontend, area/docs, area/solver, area/buildctl
