Repository moby/buildkit, pull requests merged in 2025-09, with the labels that each got.

#6179 dockerfile: fix client init in testGitQueryString
  frontend/dockerfile/dockerfile_addgit_test.go
Labels: area/dockerfile, area/testing, area/frontend, needs-cherry-pick/v0.24

#6182 [v0.24] docs: use latest "labs" for --parents and --exclude
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#6184 [v0.24] cherry-picks for v0.24.0
  frontend/dockerfile/builder/caps.go
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
Labels: area/dockerfile, area/frontend

#6192 gateway: no such ref now prints the all refs properly
  frontend/gateway/gateway.go
Labels: area/frontend

#6194 git: add sha256 commit support
  frontend/dockerfile/dockerfile_addgit_test.go
  frontend/dockerfile/dockerfile_provenance_test.go
  frontend/dockerfile/dockerfile_test.go
  solver/llbsolver/provenance/predicate.go
  source/git/source.go
  source/git/source_test.go
  util/gitutil/git_commit.go
  util/gitutil/git_commit_test.go
Labels: area/dockerfile, area/testing, area/frontend, area/util, area/solver, area/source

#6196 vendor: github.com/docker/cli v28.4.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/types/authconfig.go
  vendor/modules.txt
Labels: area/dependencies

#6191 fix subject for oci artifact of attestation manifest
  client/client_test.go
  exporter/containerimage/writer.go
Labels: area/testing, area/client, area/exporter

#6201 remotecache: Upgrade minio to latest version
  Dockerfile
Labels: area/project

#6203 llbsolver: don't set materials=false on inputs
  solver/llbsolver/solver.go
Labels: area/solver

#6212 tools: utilize the new tool functionality introduced in go 1.24
  api/services/control/control.pb.go
  api/types/worker.pb.go
  cache/contenthash/checksum.pb.go
  frontend/gateway/pb/gateway.pb.go
  go.mod
  go.sum
  hack/dockerfiles/generated-files.Dockerfile
  session/auth/auth.pb.go
  session/exporter/exporter.pb.go
  session/filesync/filesync.pb.go
  session/secrets/secrets.pb.go
  session/sshforward/ssh.pb.go
  session/upload/upload.pb.go
  solver/errdefs/errdefs.pb.go
  solver/pb/ops.pb.go
  sourcepolicy/pb/policy.pb.go
  tools/tools.go
  util/apicaps/pb/caps.pb.go
  util/stack/stack.pb.go
  vendor/google.golang.org/protobuf/cmd/protoc-gen-go/internal_gengo/opaque.go
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/presence.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/modules.txt
Labels: area/hack, area/dependencies, area/storage, area/frontend, area/util, area/api, area/session, area/solver, area/sourcepolicy

#6213 provenance: handle input:context frontend opt to set config source
  solver/llbsolver/provenance/predicate.go
Labels: area/solver

#6214 Added Dalec frontend to README.md
  README.md
Labels: area/project, status/merge

#6239 dockerfile: skip customenv tests in dockerd worker
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: area/dockerfile, area/testing, area/frontend

#6223 better demonstrate benefits of using heredocs in shell-form
  frontend/dockerfile/docs/reference.md
Labels: area/dockerfile, area/frontend, area/docs

#6250 Fix grpcerrors.AsGRPCStatus to ignore OK and Unknown status codes for
  util/grpcerrors/grpcerrors.go
Labels: area/util
