Repository moby/buildkit, pull requests merged in 2025-07, with the labels that each got.

#6048 update alpine to 3.22
  Dockerfile
  frontend/dockerfile/cmd/dockerfile-frontend/Dockerfile
  hack/dockerfiles/archutil.Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/docs-dockerfile.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/dockerfile, area/project, area/hack, area/frontend

#6061 add cache key debuginfo lookup
  cache/contenthash/checksum.go
  cache/contenthash/filehash.go
  cmd/buildkitd/debug.go
  cmd/buildkitd/main.go
  solver/bboltcachestorage/storage.go
  solver/cachemanager.go
  solver/llbsolver/ops/build.go
  solver/llbsolver/ops/exec.go
  solver/llbsolver/ops/file.go
  solver/llbsolver/ops/merge.go
  solver/llbsolver/ops/opsutils/contenthash.go
  solver/llbsolver/ops/source.go
  source/local/source.go
  util/cachedigest/db.go
  util/cachedigest/db_test.go
  util/cachedigest/digest.go
  util/cachedigest/frame.go
  util/cachestore/store.go
Labels: area/testing, area/storage, area/util, area/buildkitd, area/solver, area/source

#6087 fix: tests: skip flaky integration tests on Windows
  client/client_test.go
  frontend/dockerfile/dockerfile_mount_test.go
Labels: area/dockerfile, area/testing, area/client, area/frontend

#6090 fix: corrected doc comment for llb.State.Env
  client/llb/state.go
Labels: area/llb, area/client

#6096 dockerfile: fix created time taken from base image if named context used
  frontend/dockerfile/dockerfile2llb/convert.go
Labels: area/dockerfile, area/frontend

#6086 executor/oci: use fork of libnetwork/resolvconf
  executor/oci/internal/resolvconf/resolvconf.go
  executor/oci/internal/resolvconf/resolvconf_path.go
  executor/oci/internal/resolvconf/resolvconf_test.go
  executor/oci/internal/resolvconf/testdata/.gitattributes
  executor/oci/internal/resolvconf/testdata/TestRCInvalidNS.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/No_overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCModify/Overrides.golden
  executor/oci/internal/resolvconf/testdata/TestRCSetHeader.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv6_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  executor/oci/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  executor/oci/internal/resolvconf/testdata/TestRCUnknownDirectives.golden
  executor/oci/internal/resolvconf/utils_test.go
  executor/oci/resolvconf.go
  go.mod
  go.sum
  vendor/github.com/docker/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Labels: area/testing, area/dependencies, area/executor
