Repository moby/buildkit, pull requests merged in 2025-10, with the labels that each got.

#6260 chore: upgrade golang.org/x/exp to 20250911091902
  go.mod
  go.sum
  vendor/golang.org/x/exp/trace/base.go
  vendor/golang.org/x/exp/trace/batch.go
  vendor/golang.org/x/exp/trace/batchcursor.go
  vendor/golang.org/x/exp/trace/event.go
  vendor/golang.org/x/exp/trace/flightrecorder.go
  vendor/golang.org/x/exp/trace/gen.bash
  vendor/golang.org/x/exp/trace/generation.go
  vendor/golang.org/x/exp/trace/internal/event/requirements.go
  vendor/golang.org/x/exp/trace/internal/tracev1/order.go
  vendor/golang.org/x/exp/trace/internal/tracev1/parser.go
  vendor/golang.org/x/exp/trace/internal/tracev2/EXPERIMENTS.md
  vendor/golang.org/x/exp/trace/internal/tracev2/doc.go
  vendor/golang.org/x/exp/trace/internal/tracev2/events.go
  vendor/golang.org/x/exp/trace/internal/tracev2/spec.go
  vendor/golang.org/x/exp/trace/internal/version/version.go
  vendor/golang.org/x/exp/trace/order.go
  vendor/golang.org/x/exp/trace/parser.go
  vendor/golang.org/x/exp/trace/reader.go
  vendor/golang.org/x/exp/trace/resources.go
  vendor/golang.org/x/exp/trace/tracev1.go
  vendor/golang.org/x/exp/trace/value.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/modules.txt
Labels: area/dependencies

#6263 remotecache: fix inline cache used with multiple exporters
  solver/llbsolver/solver.go
Labels: area/solver, needs-cherry-pick/v0.25

#6273 client: add test for deleted blobs in remote cache
  cache/remotecache/azblob/exporter.go
  cache/remotecache/azblob/importer.go
  cache/remotecache/export.go
  cache/remotecache/gha/gha.go
  cache/remotecache/import.go
  cache/remotecache/inline/inline.go
  cache/remotecache/s3/s3.go
  cache/remotecache/v1/chains.go
  cache/remotecache/v1/parse.go
  cache/remotecache/v1/types/doc.go
  cache/remotecache/v1/types/spec.go
  cache/remotecache/v1/utils.go
  client/client_test.go
  frontend/dockerfile/dockerfile_test.go
Labels: area/dockerfile, area/testing, area/client, area/frontend, area/remotecache, needs-cherry-pick/v0.25

#6269 docs: provenanceEnvDir in buildkitd.toml
  docs/buildkitd.toml.md
Labels: area/docs

#6271 [0.25] cherry-picks for v0.25.1
  cache/remotecache/azblob/importer.go
  cache/remotecache/gha/gha.go
  cache/remotecache/v1/chains.go
  docs/buildkitd.toml.md
  hack/images
  solver/exporter.go
  solver/llbsolver/provenance/types/types.go
  solver/llbsolver/provenance/types/types_test.go
  solver/llbsolver/solver.go
Labels: area/testing, area/hack, area/remotecache, area/docs, area/solver

#6278 [v0.25] dockerfile: fix customenv test for dockerd
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: area/dockerfile, area/testing, area/frontend

#6277 dockerfile: fix customenv test for dockerd
  frontend/dockerfile/dockerfile_provenance_test.go
Labels: area/dockerfile, area/testing, needs/follow-up, area/frontend
